<br>
<br>
<center>
<head>
<style>

table {
    width: 100%;
}
td{
font:bold 12px/30px Georgia, serif;
text-align: center;

}
</style>
</head>
<body>
<div>
<div id="mydiv">
    	<img src="img/ajax-loader.gif" class="ajax-loader"/>
</div>
 <form ng-submit="submit(dis)" method="post">
 
 <fieldset style="width:850px">
 <legend><b>Store Report</b></legend>
     <fieldset style="width:670px; height:70px">
       <table>
        <tr>
         <td> From date: </td>
            <td><input type="date" id="calendar" style="width:174px; height:25px" ng-model="dis.fromDate" required></td>
          <td> Select Store name: </td>
           <td>
               <!-- <input type="text" class="form-control"  ng-model="dis.name" typeahead="user.name for user in storeName|filter:$viewValue" placeholder="Enter store name"required> -->
         		<select ng-model="name" ng-options="item as item.name for item in storeName"  required>
         			
         		</select>
         		
         </td>
        </tr>
       <tr>
        <td class="empty-row">&nbsp;</td>
       </tr>
    <tr>
    <td> To date: </td>
            <td><input type="date" id="calendar" style="width:174px; height:25px" ng-model="dis.toDate" required></td>
        </tr>
     <tr>
     	<td style="content-align:center">
     
     		 <button type="submit" class="btn btn-primary">Submit</button>
     
     	</td>
     </tr>
       </table>
     </fieldset>
<br>
<br>
<br>
	<div id="exportable">
     <table id="storeReportTable" >
     	<tr>
     	<td>
     	 <p>Store Name: {{name.name}} </p>
     	 			<p>from {{dis.fromDate}} </p>
     	 			<p>to {{dis.toDate}}</p>	
     	 			
      	</td>
      
      </tr>
      <tr>
        <td class="empty-row">&nbsp;</td>
    </tr>
    
    <tr>
        <td>Total inwarded <br>forward parcels are: </td><td>  {{myData.totInward}}</td>
        <td>Total collected <br>parcels are: </td><td> {{myData.totCollected}}</td>
        <td>Total Delivered <br>parcels are: </td><td> {{myData.totDelivery}}</td>
        <td>Total undelivered <br>parcels sent to hub: </td><td>  {{myData.totUndelivered}}</td>
    </tr>
    
    <tr>
        <td class="empty-row">&nbsp;</td>
    </tr>
    
    <tr>
          <td>Total cancelled<br>parcels: </td><td>{{myData.totCancelled}}</td>
          <td>Total reassigned<br>parcels: </td><td>{{myData.totReassigned}}</td>
       </tr> 
       
     <tr>
        <td class="empty-row">&nbsp;</td>
    </tr>
    
       <tr>
        <td>Total assigned <br> return parcels: </td><td>{{myData.totAssignedReturn}}&nbsp;</td>
        <td>Total dropped <br> parcels: <td>{{myData.totDropOff}}</td>
        <td>Total picked <br> parcels: <td>{{myData.totPicked}}</td>
        <td>Total returned <br> parcels sent to hub: <td></td>
    </tr>
    <tr>
        <td class="empty-row">&nbsp;</td>
    </tr>
    <tr>
       <td>Total scheduled <br> deliveries: </td><td>{{myData.totScheduleDel}}</td>
       <!-- <td>On time SD%<td><input type="text" name="last-name" class="form-last-name" style="width:55px; height:50px" /></td> -->
       <td>Total scheduled <br> returns: </td><td>{{myData.totScheduleRet}}</td>
       <!-- <td>On time SR%<td><input type="text" name="last-name" class="form-last-name" style="width:55px; height:50px" /></td> -->
       </tr>
       <tr>
        <td class="empty-row">&nbsp;</td>
    </tr>
<!-- </table> -->
<!-- <table style="border-spacing: 10px"> -->
<tr>
 <td> Total COD value collected: </td>
 <td>{{myData.totCodCollect}}</td>
</tr>
          <tr>
              <td class="empty-row">&nbsp;</td>
            </tr>
   <tr>
       <td>Total cash collected</td>&nbsp;
       <td></td>
   </tr>
          <tr>
              <td class="empty-row">&nbsp;</td>
            </tr>
 <tr>
 <td>Total cash remitted to hub</td>
  <td></td>
 </tr>
 </table>
 
<!-- </table> -->
</div>
  </fieldset>
  </form>
  </div>
   <br>
  <button id="exportMe" class="btn btn-link" ng-click="exportToExcel('#storeReportTable')">
   <span class="glyphicon glyphicon-share"></span> Export to Excel
    </button>
   
     <!-- <button ng-click="exportData()"><img src="img/csv.png" height="35"/>Export</button> -->
</body>
</center>