
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>reatilersearch</title>
</head>
<body>
<center>
<form ng-submit="searchOrders(dis)" method="post">
<table>
<td>
<fieldset style="width:400px; height:230px">
<legend><b>Search orders</b></legend>
<table>
   <tr>
     <td><input type="radio" name="pk"  ng-model="radioValue" value="1" checked>Tracking Id</td> </tr>
    <tr>
       <td><input type="radio" name="pk" ng-model="radioValue" value="2">Order Id</td>
   </tr>
   <tr>
        <td class="empty-row">&nbsp;</td>
   </tr>
   <tr>
     <td><input type="text" type="text" style="width:274px; height:80px" ng-model="dis.id" required></td>
   </tr>
   <tr>
        <td class="empty-row">&nbsp;</td>
   </tr>
   <tr>
     <td><input type="submit" value="Search"></td>
    </tr>
    <tr>
        <td class="empty-row">&nbsp;</td>
    </tr>
</table>
</form>
</fieldset></td>
  <td>
<fieldset style="width:500px">
<legend><b>Search/Filter Packages</b></legend>
<form ng-submit="searchFilterPackage(dis)" method="post">
<table>
<tr>
  <td>Type: </td>
           <td><select style="width:176px; height:27px">
                    <option value="COD">COD</option>
                    <option value="Prepaid">Prepaid</option>   
             </select></td>
</tr>
    <tr>
        <td class="empty-row">&nbsp;</td>
       </tr>
<tr>
 <td>Status:</td>
           <td>
               <select style="width:176px; height:27px">
                    <option value="Select Status">Select Status</option>
                    <option value="Manifested">Manifested</option>
                    <option value="Delivered">Delivered</option>
                    <option value="Future Delivery">Future Delivery</option>
                    <option value="Lost">Lost</option>
                    <option value="Order Cancelled">Order Cancelled</option>
                    <option value="Order Cancelled-RTO">Order Cancelled-RTO</option>
                    <option value="Parcel available for collect">Parcel available for collect</option>
                    <option value="Picked up for delivery">Picked up for delivery</option>
                    <option value="Product not recieved">Product not received</option>
                    <option value="scheduled delivery">Scheduled delivery</option>
                    <option value="Undeliverable">Undeliverable</option>
             </select>
         </td>
        </tr>
        <tr>
        <td class="empty-row">&nbsp;</td>
       </tr>
    <tr>
       <td>Date Filter:</td>
         <td>
           <select style="width:176px; height:27px">
               <option value="Receipt date">Receipt date</option>
               <option value="Delivered date">Delivered date</option>           
           </select>
         </td>
       </tr>
       <tr>
        <td class="empty-row">&nbsp;</td>
       </tr>
    <tr><td>From date:</td>
    <td><input type="date" id="calendar" style="width:174px; height:25px"></td>
    <td>To date:</td>
    <td><input type="date" id="calendar" style="width:174px; height:25px"></td>
   </tr>
   <tr>
        <td class="empty-row">&nbsp;</td>
       </tr>
  <tr>
   <td><input type="submit" value="Search"></td>
   <td><input type="reset" value="Reset"></td>
  </tr>
</table>
</form>
</fieldset></td>
</table>
<div id="grid1" ui-grid="gridOptions" ui-grid-cellNav ui-grid-edit ui-grid-resize-columns ui-grid-pinning 
  		ui-grid-selection ui-grid-move-columns ui-grid-importer ui-grid-exporter ui-grid-grouping class="grid" style="height:400px">
  		</div>


</center>
</body>
</html>