<div class="container-fluid">


	<div class="row">
	
		<div class="col-xs-1 col-sm-1 col-md-1">
			
				<h4>RTO Confirmed:</h4>
			
		</div>
		<div class="col-xs-11 col-sm-11 col-md-11">
			
				<form class="form-group" ng-submit="seacrhRTOOrder(dis)" method="post">
	  					<div style="float:left">
	    				<label for="from" >From:</label>
					    <input type="date" class="form-control" id="from" ng-model="dis.fromDate" required>
					    </div>
					 
					    <div style="float:left"> 
					    <label for="to">To:</label>
					    <input type="date" class="form-control" id="to" ng-model="dis.toDate" required>
					    </div>
					    <div style="float:left" >
					    <label for="retailer">Retailer Name:</label>
					    <input type="text" class="form-control" ng-model="dis.retailerName" typeahead="user.retailerName for user in myData1|filter:$viewValue" placeholder="Enter retailer name"required>
					    </div>
					    
					    
					
					  <br>
					  
					  <button type="submit" class="btn btn-primary">Search</button>
					  <button type="button" class="btn btn-primary" ng-click="resetTable(dis)">Reset</button>
					  
				</form>
			
				
				
	        
			
		</div>
  		
  		</div>
  		
  		<br><br>
  		<strong ng-model="myData">{{ myData.length }} rows</strong>
  		<div id="grid1" ui-grid="gridOptions" ui-grid-cellNav ui-grid-edit ui-grid-resize-columns ui-grid-pinning 
  		ui-grid-selection ui-grid-move-columns ui-grid-importer ui-grid-exporter ui-grid-grouping class="grid" style="height:450px">
  		</div>
  		
  		
  		 <!-- <div   ui-grid="gridOptions"  ui-grid-paging ui-grid-selection ui-grid-exporter class="grid" style="height:600px"></div> -->
  		 
  		 <div class="row">
  		 	<div class="col-xs-2 col-sm-2 col-md-2">
  		 		<form class="form-group" ng-submit="sendRetailer()" method="post">
							
							<br>
							<div style="float:right">
							<button type="submit" class="btn-lg btn-primary">Send</button>
							</div>
				</form>
			
	       </div>
		
		
  		 </div>
  		
	</div>



