<h1>pending return2</h1>
<div class="container-fluid">


	<div class="row">
	
		<div class="col-xs-1 col-sm-1 col-md-1">
			
				<h4>Order Pending Return:</h4>
			
		</div>
		<div class="col-xs-11 col-sm-11 col-md-11">
			
				<form class="form-group" ng-submit="seacrhRTOOrder(dis)" method="post">
	  					<div style="float:left">
	    				<label for="from" >From:</label>
					    <input type="date" class="form-control" id="from" ng-model="dis.fromDate" required>
					    </div>
					 
					    <div style="float:left"> 
					    <label for="to">To:</label>
					    <input type="date" class="form-control" id="to" ng-model="dis.toDate" required>
					    </div>
					    <div style="float:left" >
					    <label for="retailer">Retailer Name:</label>
					    <input type="text" class="form-control" ng-model="dis.retailerName" typeahead="user.retailerName for user in myData1|filter:$viewValue" placeholder="Enter retailer name"required>
					    </div>					    					    					
					  <br>					  
					  <button type="submit" class="btn btn-primary">Search</button>
					  <button type="button" class="btn btn-primary" ng-click="resetTable(dis)">Reset</button>					  
				</form>												        			
		</div> 		
  		</div>
  		
  		<br><br>
  		<strong ng-model="myData">{{ myData.length }} rows</strong>
  		<div id="grid1" ui-grid="gridOptions" ui-grid-cellNav ui-grid-edit ui-grid-resize-columns ui-grid-pinning 
  		ui-grid-selection ui-grid-move-columns ui-grid-importer ui-grid-exporter ui-grid-grouping class="grid" style="height:450px">
  		</div>
  		
  		
  		 <!-- <div   ui-grid="gridOptions"  ui-grid-paging ui-grid-selection ui-grid-exporter class="grid" style="height:600px"></div> -->
  		 <br>
  		 <br>
  		 <div class="row">
  		 	<div class="col-xs-3 col-sm-3 col-md-3">
  		 		<form class="form-group" ng-submit="uploadPOR()" method="post">   		 		  		 	    			   	    		 		
							<div style="float:left">
							Upload POR by retailer:		
							<input class="form-control" type="file" file-model="myFile"/>
							<button style="margin-left:10px" class="btn btn-primary btn-md" data-dismiss="modal">Upload</button>												
						
							</div>	
							<br>									
							<div style="float:left;margin-left:5px">
							<button type="submit" class="btn btn-success">Confirm</button>
							</div>
				</form>			
	       </div>				
 		 </div>  		   		   		
	</div>



