<script src = "http://52.74.176.39/taykit/jquery-latest.min.js" type="text/javascript" ></script>
<script src = "http://52.74.176.39/taykit/jquery-barcode.js" type="text/javascript" ></script>
<table  border="1" style="border-collapse: collapse; border: 1px solid black;">
<tr><td>Store ID:<b>NXT Warehouse</b></td><td>Exec Name:<b>Beauty World Salon & Spa</b></td><td>Date:<b>2016-01-05</b></td></tr>
<tr><td>Runsheet ID:<b>R67I9OF7LF</b></td><td>Exec Contact:<b></b></td></tr>
<tr><td># Shipments:<b>3</b></td><td>Total COD Amount:<b>676.0</b></td></tr>
<tr><td>Opening Km:</td><td>Closing Km:</td></tr>
</table><br><br>
<style>tr{  page-break-inside: avoid;    -webkit-region-break-inside: avoid;} table,tr,td,th{ border-collapse: collapse; border: 1px solid black; }</style>
<table border="1"><THEAD><tr><th>#</th><th>Tracking ID</th><th>Customer Name</th><th>Address</th><th>COD Amount</th><th>Retailer</th><th>Shipment type</th><th>Customer Sign</th><th>Deli time</th><th>Remarks</th></tr></THEAD>
<TBODY><tr><td>1</td><td><div id="bar_1"></div></td><td>neha<br>9886181675</td><td>S-180:Concorde Silicon Valley Electronic city</td><td>0.0</td><td>retailer1</td><td>Collect</td><td></td><td></td><td></tr>
<tr><td>2</td><td><div id="bar_2"></div></td><td>Sandrine<br>9739000271</td><td>No.72:wipro technologies:keonics electronic city</td><td>338.0</td><td>retailer1</td><td>Collect</td><td></td><td></td><td></tr>
<tr><td>3</td><td><div id="bar_3"></div></td><td>ekhta<br>7259769060</td><td>D 307 ittina mahavir:neeladri road Electronic city. Near ajmera</td><td>338.0</td><td>retailer1</td><td>Collect</td><td></td><td></td><td></tr>
</TBODY></table>
<script>
 $("#bar_1").barcode(
		 	"D00100000016257",
		 	"code128" 
		 	);


 $("#bar_2").barcode(
		 	"D00100000021891",
		 	"code128" 
		 	);


 $("#bar_3").barcode(
		 	"D00100000021909",
		 	"code128" 
		 	);



</script>
