<script src = "http://52.74.176.39/taykit/jquery-latest.min.js" type="text/javascript" ></script>
<script src = "http://52.74.176.39/taykit/jquery-barcode.js" type="text/javascript" ></script>
<table  border="1" style="border-collapse: collapse; border: 1px solid black;">
<tr><td>Store ID:<b>NXT Warehouse</b></td><td>Exec Name:<b>Beauty world salon and spa 2</b></td><td>Date:<b>2016-01-27</b></td></tr>
<tr><td>Runsheet ID:<b>ADB8OL67AD</b></td><td>Exec Contact:<b></b></td></tr>
<tr><td># Shipments:<b>3</b></td><td>Total COD Amount:<b>1122.0</b></td></tr>
<tr><td>Opening Km:</td><td>Closing Km:</td></tr>
</table><br><br>
<style>tr{  page-break-inside: avoid;    -webkit-region-break-inside: avoid;} table,tr,td,th{ border-collapse: collapse; border: 1px solid black; }</style>
<table border="1"><THEAD><tr><th>#</th><th>Tracking ID</th><th>Customer Name</th><th>Address</th><th>COD Amount</th><th>Retailer</th><th>Shipment type</th><th>Customer Sign</th><th>Deli time</th><th>Remarks</th></tr></THEAD>
<TBODY><tr><td>1</td><td><div id="bar_1"></div></td><td>Vijita<br>7760982237</td><td>B 104:SRK SILICANA DODDATHOGUR ELECTRONIC CITY PHASE 1</td><td>1122.0</td><td>retailer1</td><td>Collect</td><td></td><td></td><td></tr>
<tr><td>2</td><td><div id="bar_2"></div></td><td>Alankrit<br>9980429544</td><td>104 K & T Royal Fort Apts. Magnolia Enclave Layout Doddathogur: Electronic City 1</td><td>0.0</td><td>retailer1</td><td>Collect</td><td></td><td></td><td></tr>
<tr><td>3</td><td><div id="bar_3"></div></td><td>Anithamaragatham<br>9176787542</td><td>Infosys gate 6 Phase 1 electronic city</td><td>0.0</td><td>retailer1</td><td>Collect</td><td></td><td></td><td></tr>
</TBODY></table>
<script>
 $("#bar_1").barcode(
		 	"D001000383",
		 	"code128" 
		 	);


 $("#bar_2").barcode(
		 	"D001015328",
		 	"code128" 
		 	);


 $("#bar_3").barcode(
		 	"D001015336",
		 	"code128" 
		 	);



</script>
