<script src = "http://52.74.176.39/taykit/jquery-latest.min.js" type="text/javascript" ></script>
<script src = "http://52.74.176.39/taykit/jquery-barcode.js" type="text/javascript" ></script>
<table  border="1" style="border-collapse: collapse; border: 1px solid black;">
<tr><td>Store ID:<b>NXT Warehouse</b></td><td>Exec Name:<b>Beauty World Salon & Spa</b></td><td>Date:<b>2015-12-21</b></td></tr>
<tr><td>Runsheet ID:<b>R802DG6XRD</b></td><td>Exec Contact:<b></b></td></tr>
<tr><td># Shipments:<b>2</b></td><td>Total COD Amount:<b>289.0</b></td></tr>
<tr><td>Opening Km:</td><td>Closing Km:</td></tr>
</table><br><br>
<style>tr{  page-break-inside: avoid;    -webkit-region-break-inside: avoid;} table,tr,td,th{ border-collapse: collapse; border: 1px solid black; }</style>
<table border="1"><THEAD><tr><th>#</th><th>Tracking ID</th><th>Customer Name</th><th>Address</th><th>COD Amount</th><th>Retailer</th><th>Shipment type</th><th>Customer Sign</th><th>Deli time</th><th>Remarks</th></tr></THEAD>
<TBODY><tr><td>1</td><td><div id="bar_1"></div></td><td>Nimishamba<br>8892259032</td><td>No.T202:Ajmera infinity:Neeladri Road:Electronic city:phase1</td><td>0.0</td><td>retailer1</td><td>Collect</td><td></td><td></td><td></tr>
<tr><td>2</td><td><div id="bar_2"></div></td><td>shesadri Manaswini<br>8494955533</td><td>101:om sai pearls:16th cross:Niladri nagar:eloctronic city phase 1</td><td>289.0</td><td>retailer1</td><td>Collect</td><td></td><td></td><td></tr>
</TBODY></table>
<script>
 $("#bar_1").barcode(
		 	"D00100000015431",
		 	"code128" 
		 	);


 $("#bar_2").barcode(
		 	"D00100000021105",
		 	"code128" 
		 	);



</script>
