<script src = "http://52.74.176.39/taykit/jquery-latest.min.js" type="text/javascript" ></script>
<script src = "http://52.74.176.39/taykit/jquery-barcode.js" type="text/javascript" ></script>
<table  border="1" style="border-collapse: collapse; border: 1px solid black;">
<tr><td>Store ID:<b>NXT Warehouse</b></td><td>Exec Name:<b>Beauty World Salon & Spa</b></td><td>Date:<b>2016-01-28</b></td></tr>
<tr><td>Runsheet ID:<b>65G1N8MRR6</b></td><td>Exec Contact:<b></b></td></tr>
<tr><td># Shipments:<b>3</b></td><td>Total COD Amount:<b>1226.0</b></td></tr>
<tr><td>Opening Km:</td><td>Closing Km:</td></tr>
</table><br><br>
<style>tr{  page-break-inside: avoid;    -webkit-region-break-inside: avoid;} table,tr,td,th{ border-collapse: collapse; border: 1px solid black; }</style>
<table border="1"><THEAD><tr><th>#</th><th>Tracking ID</th><th>Customer Name</th><th>Address</th><th>COD Amount</th><th>Retailer</th><th>Shipment type</th><th>Customer Sign</th><th>Deli time</th><th>Remarks</th></tr></THEAD>
<TBODY><tr><td>1</td><td><div id="bar_1"></div></td><td>Debadrita<br>8971555563</td><td>c-oo3:ajmera infinityneeladri. electronic city-1:doddathogur</td><td>1226.0</td><td>retailer1</td><td>Collect</td><td></td><td></td><td></tr>
<tr><td>2</td><td><div id="bar_2"></div></td><td>Dhivya<br>7829571250</td><td>B1504:Concorde Manhattans:Electronic city phase 1</td><td>0.0</td><td>retailer1</td><td>Collect</td><td></td><td></td><td></tr>
<tr><td>3</td><td><div id="bar_3"></div></td><td>neha<br>9538788099</td><td>D 501 Concorde Manhattans Neeladri Nagar:electronic city phase 1</td><td>0.0</td><td>retailer1</td><td>Collect</td><td></td><td></td><td></tr>
</TBODY></table>
<script>
 $("#bar_1").barcode(
		 	"D001000478",
		 	"code128" 
		 	);


 $("#bar_2").barcode(
		 	"D001015466",
		 	"code128" 
		 	);


 $("#bar_3").barcode(
		 	"D001015468",
		 	"code128" 
		 	);



</script>
