<script src = "http://52.74.176.39/taykit/jquery-latest.min.js" type="text/javascript" ></script>
<script src = "http://52.74.176.39/taykit/jquery-barcode.js" type="text/javascript" ></script>
<table  border="1" style="border-collapse: collapse; border: 1px solid black;">
<tr><td>Store ID:<b>NXT Warehouse</b></td><td>Exec Name:<b>Beauty World Salon & Spa</b></td><td>Date:<b>2015-11-27</b></td></tr>
<tr><td>Runsheet ID:<b>452D0FA75G</b></td><td>Exec Contact:<b></b></td></tr>
<tr><td># Shipments:<b>3</b></td><td>Total COD Amount:<b>2494.0</b></td></tr>
<tr><td>Opening Km:</td><td>Closing Km:</td></tr>
</table><br><br>
<style>tr{  page-break-inside: avoid;    -webkit-region-break-inside: avoid;} table,tr,td,th{ border-collapse: collapse; border: 1px solid black; }</style>
<table border="1"><THEAD><tr><th>#</th><th>Tracking ID</th><th>Customer Name</th><th>Address</th><th>COD Amount</th><th>Retailer</th><th>Shipment type</th><th>Customer Sign</th><th>Deli time</th><th>Remarks</th></tr></THEAD>
<TBODY><tr><td>1</td><td><div id="bar_1"></div></td><td>Manasi<br>9900176521</td><td>Omkar Pearl:Flat-S203:14th Cross:Neeladri Nagar Electronic City</td><td>0.0</td><td>retailer1</td><td>Collect</td><td></td><td></td><td></tr>
<tr><td>2</td><td><div id="bar_2"></div></td><td>Prerna<br>9643109556</td><td>APLS BROOKE apartment 14th cross neeladri road:opposite ajmera infinity apartment cross next to dom</td><td>1475.0</td><td>retailer1</td><td>Collect</td><td></td><td></td><td></tr>
<tr><td>3</td><td><div id="bar_3"></div></td><td>Rashi<br>9845793648</td><td>B 202 ajmera infinity opp village hypermarket neeladri road near whipro gate electronic city</td><td>1019.0</td><td>retailer1</td><td>Collect</td><td></td><td></td><td></tr>
</TBODY></table>
<script>
 $("#bar_1").barcode(
		 	"D00100000009217",
		 	"code128" 
		 	);


 $("#bar_2").barcode(
		 	"D00100000014664",
		 	"code128" 
		 	);


 $("#bar_3").barcode(
		 	"D00100000014691",
		 	"code128" 
		 	);



</script>
