<script src = "http://52.74.176.39/taykit/jquery-latest.min.js" type="text/javascript" ></script>
<script src = "http://52.74.176.39/taykit/jquery-barcode.js" type="text/javascript" ></script>
<table  border="1" style="border-collapse: collapse; border: 1px solid black;">
<tr><td>Store ID:<b>NXT Warehouse</b></td><td>Exec Name:<b>Beauty world salon and spa 2</b></td><td>Date:<b>2015-12-23</b></td></tr>
<tr><td>Runsheet ID:<b>RXN5GFXBXI</b></td><td>Exec Contact:<b></b></td></tr>
<tr><td># Shipments:<b>3</b></td><td>Total COD Amount:<b>0.0</b></td></tr>
<tr><td>Opening Km:</td><td>Closing Km:</td></tr>
</table><br><br>
<style>tr{  page-break-inside: avoid;    -webkit-region-break-inside: avoid;} table,tr,td,th{ border-collapse: collapse; border: 1px solid black; }</style>
<table border="1"><THEAD><tr><th>#</th><th>Tracking ID</th><th>Customer Name</th><th>Address</th><th>COD Amount</th><th>Retailer</th><th>Shipment type</th><th>Customer Sign</th><th>Deli time</th><th>Remarks</th></tr></THEAD>
<TBODY><tr><td>1</td><td><div id="bar_1"></div></td><td>Ganga<br>9743114851</td><td>Gate6 Infosys limited Electronic City</td><td>0.0</td><td>retailer1</td><td>Collect</td><td></td><td></td><td></tr>
<tr><td>2</td><td><div id="bar_2"></div></td><td>Sowmya<br>9986254095</td><td>flat no. -S12:block A:Prabhavathi Meridian::near Lakshmi Narasimha temple:doddathoguru:electr</td><td>0.0</td><td>retailer1</td><td>Collect</td><td></td><td></td><td></tr>
<tr><td>3</td><td><div id="bar_3"></div></td><td>Shazeb Khan<br>8791372648</td><td>Flat 305: Mayura E-City Apartment: Opposite Four Point Store: Doddathogur: Electronic City Prime City Apartment: in lane opposite to Velankani Tech Park:Bangalore Karnataka</td><td>0.0</td><td>retailer1</td><td>Collect</td><td></td><td></td><td></tr>
</TBODY></table>
<script>
 $("#bar_1").barcode(
		 	"D00100000015472",
		 	"code128" 
		 	);


 $("#bar_2").barcode(
		 	"D00100000015555",
		 	"code128" 
		 	);


 $("#bar_3").barcode(
		 	"D00200000006104",
		 	"code128" 
		 	);



</script>
