<script src = "http://52.74.176.39/taykit/jquery-latest.min.js" type="text/javascript" ></script>
<script src = "http://52.74.176.39/taykit/jquery-barcode.js" type="text/javascript" ></script>
<table  border="1" style="border-collapse: collapse; border: 1px solid black;">
<tr><td>Store ID:<b>NXT Warehouse</b></td><td>Exec Name:<b>Beauty World Salon & Spa</b></td><td>Date:<b>2015-12-23</b></td></tr>
<tr><td>Runsheet ID:<b>F5LG65EM64</b></td><td>Exec Contact:<b></b></td></tr>
<tr><td># Shipments:<b>4</b></td><td>Total COD Amount:<b>0.0</b></td></tr>
<tr><td>Opening Km:</td><td>Closing Km:</td></tr>
</table><br><br>
<style>tr{  page-break-inside: avoid;    -webkit-region-break-inside: avoid;} table,tr,td,th{ border-collapse: collapse; border: 1px solid black; }</style>
<table border="1"><THEAD><tr><th>#</th><th>Tracking ID</th><th>Customer Name</th><th>Address</th><th>COD Amount</th><th>Retailer</th><th>Shipment type</th><th>Customer Sign</th><th>Deli time</th><th>Remarks</th></tr></THEAD>
<TBODY><tr><td>1</td><td><div id="bar_1"></div></td><td>shilpi<br>9738080826</td><td>ganga vertica:A114:neeladri road:Electronic city phase 1</td><td>0.0</td><td>retailer1</td><td>Collect</td><td></td><td></td><td></tr>
<tr><td>2</td><td><div id="bar_2"></div></td><td>shilpi<br>9738080826</td><td>ganga vertica:A114:neeladri road:Electronic city phase 1</td><td>0.0</td><td>retailer1</td><td>Collect</td><td></td><td></td><td></tr>
<tr><td>3</td><td><div id="bar_3"></div></td><td>Shilpi<br>8095614614</td><td>villa no.a-59:Concorde Silicon Valley:Neeladri Roadelectronic city phase-1:Near Wipro Gate No. 16</td><td>0.0</td><td>retailer1</td><td>Collect</td><td></td><td></td><td></tr>
<tr><td>4</td><td><div id="bar_4"></div></td><td>Shefali Shakya     <br>8147022441</td><td>No002:Nisarga Residency: 13th cross: Niladri Nagar: Elecyronic city: phase 1.    :Bangalore Karnataka</td><td>0.0</td><td>retailer1</td><td>Collect</td><td></td><td></td><td></tr>
</TBODY></table>
<script>
 $("#bar_1").barcode(
		 	"D00100000015538",
		 	"code128" 
		 	);


 $("#bar_2").barcode(
		 	"D00100000015539",
		 	"code128" 
		 	);


 $("#bar_3").barcode(
		 	"D00100000015560",
		 	"code128" 
		 	);


 $("#bar_4").barcode(
		 	"D00200000006095",
		 	"code128" 
		 	);



</script>
