<script src = "http://52.74.176.39/taykit/jquery-latest.min.js" type="text/javascript" ></script>
<script src = "http://52.74.176.39/taykit/jquery-barcode.js" type="text/javascript" ></script>
<table  border="1" style="border-collapse: collapse; border: 1px solid black;">
<tr><td>Store ID:<b>NXT Warehouse</b></td><td>Exec Name:<b>Beauty world salon and spa 2</b></td><td>Date:<b>2016-01-16</b></td></tr>
<tr><td>Runsheet ID:<b>E1G06O6B54</b></td><td>Exec Contact:<b></b></td></tr>
<tr><td># Shipments:<b>4</b></td><td>Total COD Amount:<b>3395.0</b></td></tr>
<tr><td>Opening Km:</td><td>Closing Km:</td></tr>
</table><br><br>
<style>tr{  page-break-inside: avoid;    -webkit-region-break-inside: avoid;} table,tr,td,th{ border-collapse: collapse; border: 1px solid black; }</style>
<table border="1"><THEAD><tr><th>#</th><th>Tracking ID</th><th>Customer Name</th><th>Address</th><th>COD Amount</th><th>Retailer</th><th>Shipment type</th><th>Customer Sign</th><th>Deli time</th><th>Remarks</th></tr></THEAD>
<TBODY><tr><td>1</td><td><div id="bar_1"></div></td><td>Komala<br>9739155856</td><td>Hewlett Packard SURYA WAVE:SY. NO.61 DODDATHOGUR VILLAGE: BEGUR HOBLI: ELECTRONIC CITY PHASE-II:KARN</td><td>0.0</td><td>retailer1</td><td>Collect</td><td></td><td></td><td></tr>
<tr><td>2</td><td><div id="bar_2"></div></td><td>Ashesh<br>9591005454</td><td>Flat no 106:SLV NICE VIEW Apartment:47 1 Chikkathogur Main Road Near Hosa Road Junction</td><td>0.0</td><td>retailer1</td><td>Collect</td><td></td><td></td><td></tr>
<tr><td>3</td><td><div id="bar_3"></div></td><td>Akankshya<br>9886641725</td><td>DBOI global services:velankani tech park:gate 4 Electronic city:gate 4</td><td>1925.0</td><td>retailer1</td><td>Collect</td><td></td><td></td><td></tr>
<tr><td>4</td><td><div id="bar_4"></div></td><td>ananya<br>9062505800</td><td>Flatno.414 ds max spectrum appartment Chikkathogur road:near hosa road junction</td><td>1470.0</td><td>retailer1</td><td>Collect</td><td></td><td></td><td></tr>
</TBODY></table>
<script>
 $("#bar_1").barcode(
		 	"D00100000016854",
		 	"code128" 
		 	);


 $("#bar_2").barcode(
		 	"D00100000016891",
		 	"code128" 
		 	);


 $("#bar_3").barcode(
		 	"D00100000022593",
		 	"code128" 
		 	);


 $("#bar_4").barcode(
		 	"D00100000022679",
		 	"code128" 
		 	);



</script>
