<script src = "http://52.74.176.39/taykit/jquery-latest.min.js" type="text/javascript" ></script>
<script src = "http://52.74.176.39/taykit/jquery-barcode.js" type="text/javascript" ></script>
<table  border="1" style="border-collapse: collapse; border: 1px solid black;">
<tr><td>Store ID:<b>NXT Warehouse</b></td><td>Exec Name:<b>BTM Pod</b></td><td>Date:<b>2015-11-17</b></td></tr>
<tr><td>Runsheet ID:<b>6LKGDM4784</b></td><td>Exec Contact:<b></b></td></tr>
<tr><td># Shipments:<b>4</b></td><td>Total COD Amount:<b>1583.0</b></td></tr>
<tr><td>Opening Km:</td><td>Closing Km:</td></tr>
</table><br><br>
<style>tr{  page-break-inside: avoid;    -webkit-region-break-inside: avoid;} table,tr,td,th{ border-collapse: collapse; border: 1px solid black; }</style>
<table border="1"><THEAD><tr><th>#</th><th>Tracking ID</th><th>Customer Name</th><th>Address</th><th>COD Amount</th><th>Retailer</th><th>Shipment type</th><th>Customer Sign</th><th>Deli time</th><th>Remarks</th></tr></THEAD>
<TBODY><tr><td>1</td><td><div id="bar_1"></div></td><td>Smaranika<br>8792648019</td><td>30 2 Sri Sai Residency:14th main:12tha A cross sunshine colony: BTM Layout 2nd stage</td><td>0.0</td><td>retailer1</td><td>Collect</td><td></td><td></td><td></tr>
<tr><td>2</td><td><div id="bar_2"></div></td><td>AK<br>7829585959</td><td>No 914:5th Cross:16th Main BTM Layout 2nd Stage</td><td>0.0</td><td>retailer1</td><td>Collect</td><td></td><td></td><td></tr>
<tr><td>3</td><td><div id="bar_3"></div></td><td>shreya<br>9538822138</td><td>shreya Shreya gowda 959:17th main btm 2nd stage:near udupi garde</td><td>1049.0</td><td>retailer1</td><td>Collect</td><td></td><td></td><td></tr>
<tr><td>4</td><td><div id="bar_4"></div></td><td>Rajasri<br>9488928340</td><td>1st cross:16th main:BTM Layout:2nd stage. Near Udupi garden.Landmark Mico Layout Police Station.</td><td>534.0</td><td>retailer1</td><td>Collect</td><td></td><td></td><td></tr>
</TBODY></table>
<script>
 $("#bar_1").barcode(
		 	"D00100000008667",
		 	"code128" 
		 	);


 $("#bar_2").barcode(
		 	"D00100000008689",
		 	"code128" 
		 	);


 $("#bar_3").barcode(
		 	"D00100000014099",
		 	"code128" 
		 	);


 $("#bar_4").barcode(
		 	"D00100000014118",
		 	"code128" 
		 	);



</script>
