<script src = "http://52.74.176.39/taykit/jquery-latest.min.js" type="text/javascript" ></script>
<script src = "http://52.74.176.39/taykit/jquery-barcode.js" type="text/javascript" ></script>
<table  border="1" style="border-collapse: collapse; border: 1px solid black;">
<tr><td>Store ID:<b>NXT Warehouse</b></td><td>Exec Name:<b>BTM Pod</b></td><td>Date:<b>2015-11-30</b></td></tr>
<tr><td>Runsheet ID:<b>1E1B180GX4</b></td><td>Exec Contact:<b></b></td></tr>
<tr><td># Shipments:<b>4</b></td><td>Total COD Amount:<b>1413.0</b></td></tr>
<tr><td>Opening Km:</td><td>Closing Km:</td></tr>
</table><br><br>
<style>tr{  page-break-inside: avoid;    -webkit-region-break-inside: avoid;} table,tr,td,th{ border-collapse: collapse; border: 1px solid black; }</style>
<table border="1"><THEAD><tr><th>#</th><th>Tracking ID</th><th>Customer Name</th><th>Address</th><th>COD Amount</th><th>Retailer</th><th>Shipment type</th><th>Customer Sign</th><th>Deli time</th><th>Remarks</th></tr></THEAD>
<TBODY><tr><td>1</td><td><div id="bar_1"></div></td><td>shwetha<br>9886337686</td><td>105:Prosper Lakeshore apartments 41st main: BTM layout 2nd stage</td><td>0.0</td><td>retailer1</td><td>Collect</td><td></td><td></td><td></tr>
<tr><td>2</td><td><div id="bar_2"></div></td><td>pushpa TN<br>9740099448</td><td>No 21 somashekar nilaya 14th cross 10th main btm 2nd stage</td><td>664.0</td><td>retailer1</td><td>Collect</td><td></td><td></td><td></tr>
<tr><td>3</td><td><div id="bar_3"></div></td><td>pushpa TN<br>9740099448</td><td>No 21 somashekar nilaya 14th cross 10th main btm 2nd stage</td><td>357.0</td><td>retailer1</td><td>Collect</td><td></td><td></td><td></tr>
<tr><td>4</td><td><div id="bar_4"></div></td><td>arushi<br>8427961413</td><td>31-26 1 sujhata nilayam 19th cross 7th main N.S. Palya BTM 2nd Stage</td><td>392.0</td><td>retailer1</td><td>Collect</td><td></td><td></td><td></tr>
</TBODY></table>
<script>
 $("#bar_1").barcode(
		 	"D00100000009251",
		 	"code128" 
		 	);


 $("#bar_2").barcode(
		 	"D00100000014793",
		 	"code128" 
		 	);


 $("#bar_3").barcode(
		 	"D00100000014794",
		 	"code128" 
		 	);


 $("#bar_4").barcode(
		 	"D00100000014850",
		 	"code128" 
		 	);



</script>
