<script src = "http://52.74.176.39/taykit/jquery-latest.min.js" type="text/javascript" ></script>
<script src = "http://52.74.176.39/taykit/jquery-barcode.js" type="text/javascript" ></script>
<table  border="1" style="border-collapse: collapse; border: 1px solid black;">
<tr><td>Store ID:<b>NXT Warehouse</b></td><td>Exec Name:<b>BTM Pod</b></td><td>Date:<b>2015-12-17</b></td></tr>
<tr><td>Runsheet ID:<b>B0RFX88020</b></td><td>Exec Contact:<b></b></td></tr>
<tr><td># Shipments:<b>3</b></td><td>Total COD Amount:<b>2051.0</b></td></tr>
<tr><td>Opening Km:</td><td>Closing Km:</td></tr>
</table><br><br>
<style>tr{  page-break-inside: avoid;    -webkit-region-break-inside: avoid;} table,tr,td,th{ border-collapse: collapse; border: 1px solid black; }</style>
<table border="1"><THEAD><tr><th>#</th><th>Tracking ID</th><th>Customer Name</th><th>Address</th><th>COD Amount</th><th>Retailer</th><th>Shipment type</th><th>Customer Sign</th><th>Deli time</th><th>Remarks</th></tr></THEAD>
<TBODY><tr><td>1</td><td><div id="bar_1"></div></td><td>priya<br>9986161150</td><td>646:12th cross:7th main:micolayout BTM 2nd Stage</td><td>0.0</td><td>retailer1</td><td>Collect</td><td></td><td></td><td></tr>
<tr><td>2</td><td><div id="bar_2"></div></td><td>Khushboo<br>9035957981</td><td>Room no. 302 Lalitha PG 685 29th main road: near Axa Building: Kuvempu nagarBTM bus stand BTM 2nd st</td><td>1044.0</td><td>retailer1</td><td>Collect</td><td></td><td></td><td></tr>
<tr><td>3</td><td><div id="bar_3"></div></td><td>Anju<br>9980988229</td><td>325:22nd MAIN:BTM 2nd Stage:Near Uduppi garden Behind CITI Bank ATM</td><td>1007.0</td><td>retailer1</td><td>Collect</td><td></td><td></td><td></tr>
</TBODY></table>
<script>
 $("#bar_1").barcode(
		 	"D00100000015225",
		 	"code128" 
		 	);


 $("#bar_2").barcode(
		 	"D00100000020859",
		 	"code128" 
		 	);


 $("#bar_3").barcode(
		 	"D00100000020876",
		 	"code128" 
		 	);



</script>
