<script src = "http://52.74.176.39/taykit/jquery-latest.min.js" type="text/javascript" ></script>
<script src = "http://52.74.176.39/taykit/jquery-barcode.js" type="text/javascript" ></script>
<table  border="1" style="border-collapse: collapse; border: 1px solid black;">
<tr><td>Store ID:<b>NXT Warehouse</b></td><td>Exec Name:<b>BTM Pod</b></td><td>Date:<b>2016-01-13</b></td></tr>
<tr><td>Runsheet ID:<b>9ORDA5A50I</b></td><td>Exec Contact:<b></b></td></tr>
<tr><td># Shipments:<b>3</b></td><td>Total COD Amount:<b>614.0</b></td></tr>
<tr><td>Opening Km:</td><td>Closing Km:</td></tr>
</table><br><br>
<style>tr{  page-break-inside: avoid;    -webkit-region-break-inside: avoid;} table,tr,td,th{ border-collapse: collapse; border: 1px solid black; }</style>
<table border="1"><THEAD><tr><th>#</th><th>Tracking ID</th><th>Customer Name</th><th>Address</th><th>COD Amount</th><th>Retailer</th><th>Shipment type</th><th>Customer Sign</th><th>Deli time</th><th>Remarks</th></tr></THEAD>
<TBODY><tr><td>1</td><td><div id="bar_1"></div></td><td>Archana<br>9986951515</td><td>Flat 301 Shrinivasam residency 29th main road BTM Layout 2nd stage 4th cross NR Axis bank ATM</td><td>0.0</td><td>retailer1</td><td>Collect</td><td></td><td></td><td></tr>
<tr><td>2</td><td><div id="bar_2"></div></td><td>Himani<br>9449967929</td><td>U&U PG 13th Main 11th Cross:BTM 2nd Stage:Bangalore</td><td>0.0</td><td>retailer1</td><td>Collect</td><td></td><td></td><td></tr>
<tr><td>3</td><td><div id="bar_3"></div></td><td>AARTI<br>9903935099</td><td>No. 37:10th Main:21st Cross N.S. Palya: BTM 2nd Stage</td><td>614.0</td><td>retailer1</td><td>Collect</td><td></td><td></td><td></tr>
</TBODY></table>
<script>
 $("#bar_1").barcode(
		 	"D00100000016741",
		 	"code128" 
		 	);


 $("#bar_2").barcode(
		 	"D00100000016749",
		 	"code128" 
		 	);


 $("#bar_3").barcode(
		 	"D00100000022420",
		 	"code128" 
		 	);



</script>
