<script src = "http://52.74.176.39/taykit/jquery-latest.min.js" type="text/javascript" ></script>
<script src = "http://52.74.176.39/taykit/jquery-barcode.js" type="text/javascript" ></script>
<table  border="1" style="border-collapse: collapse; border: 1px solid black;">
<tr><td>Store ID:<b>NXT Warehouse</b></td><td>Exec Name:<b>BTM Pod</b></td><td>Date:<b>2016-01-18</b></td></tr>
<tr><td>Runsheet ID:<b>91552D05MD</b></td><td>Exec Contact:<b></b></td></tr>
<tr><td># Shipments:<b>3</b></td><td>Total COD Amount:<b>58.0</b></td></tr>
<tr><td>Opening Km:</td><td>Closing Km:</td></tr>
</table><br><br>
<style>tr{  page-break-inside: avoid;    -webkit-region-break-inside: avoid;} table,tr,td,th{ border-collapse: collapse; border: 1px solid black; }</style>
<table border="1"><THEAD><tr><th>#</th><th>Tracking ID</th><th>Customer Name</th><th>Address</th><th>COD Amount</th><th>Retailer</th><th>Shipment type</th><th>Customer Sign</th><th>Deli time</th><th>Remarks</th></tr></THEAD>
<TBODY><tr><td>1</td><td><div id="bar_1"></div></td><td>khusboo<br>8197492435</td><td>795:15th main:btm 2nd stage:near dominos mico layout: bangalore</td><td>0.0</td><td>retailer1</td><td>Collect</td><td></td><td></td><td></tr>
<tr><td>2</td><td><div id="bar_2"></div></td><td>Anu<br>7760258800</td><td>House no.214:4th floor:16th main:6th cross:BTM 2nd stage Near Nandini milk parlor</td><td>0.0</td><td>retailer1</td><td>Collect</td><td></td><td></td><td></tr>
<tr><td>3</td><td><div id="bar_3"></div></td><td>Ankita<br>9611466811</td><td>152:15th Main:NS Palya Near Mico Layout Police Station</td><td>58.0</td><td>retailer1</td><td>Collect</td><td></td><td></td><td></tr>
</TBODY></table>
<script>
 $("#bar_1").barcode(
		 	"D00100000016925",
		 	"code128" 
		 	);


 $("#bar_2").barcode(
		 	"D00100000016927",
		 	"code128" 
		 	);


 $("#bar_3").barcode(
		 	"D00100000022716",
		 	"code128" 
		 	);



</script>
