<script src = "http://52.74.176.39/taykit/jquery-latest.min.js" type="text/javascript" ></script>
<script src = "http://52.74.176.39/taykit/jquery-barcode.js" type="text/javascript" ></script>
<table  border="1" style="border-collapse: collapse; border: 1px solid black;">
<tr><td>Store ID:<b>NXT Warehouse</b></td><td>Exec Name:<b>BTM Pod</b></td><td>Date:<b>2016-01-16</b></td></tr>
<tr><td>Runsheet ID:<b>52G557RBRL</b></td><td>Exec Contact:<b></b></td></tr>
<tr><td># Shipments:<b>3</b></td><td>Total COD Amount:<b>1999.0</b></td></tr>
<tr><td>Opening Km:</td><td>Closing Km:</td></tr>
</table><br><br>
<style>tr{  page-break-inside: avoid;    -webkit-region-break-inside: avoid;} table,tr,td,th{ border-collapse: collapse; border: 1px solid black; }</style>
<table border="1"><THEAD><tr><th>#</th><th>Tracking ID</th><th>Customer Name</th><th>Address</th><th>COD Amount</th><th>Retailer</th><th>Shipment type</th><th>Customer Sign</th><th>Deli time</th><th>Remarks</th></tr></THEAD>
<TBODY><tr><td>1</td><td><div id="bar_1"></div></td><td>Mrinalini<br>9663966060</td><td>Flat 808:Ram Sridhar Apartments:Udipi Garden Signal Opposite Bharat Petroleum: BTM STage 2</td><td>0.0</td><td>retailer1</td><td>Collect</td><td></td><td></td><td></tr>
<tr><td>2</td><td><div id="bar_2"></div></td><td>subhasree<br>9008422844</td><td>22:30th main:2nd cross:BTM layout2:Near Amba Bajaj service Center</td><td>739.0</td><td>retailer1</td><td>Collect</td><td></td><td></td><td></tr>
<tr><td>3</td><td><div id="bar_3"></div></td><td>priyanka<br>9663535359</td><td>16 1 Om shakti residency:14th cross:8th main 2nd stage:BTM Layout</td><td>1260.0</td><td>retailer1</td><td>Collect</td><td></td><td></td><td></tr>
</TBODY></table>
<script>
 $("#bar_1").barcode(
		 	"D00100000016900",
		 	"code128" 
		 	);


 $("#bar_2").barcode(
		 	"D00100000022603",
		 	"code128" 
		 	);


 $("#bar_3").barcode(
		 	"D00100000022646",
		 	"code128" 
		 	);



</script>
