<script src = "http://52.74.176.39/taykit/jquery-latest.min.js" type="text/javascript" ></script>
<script src = "http://52.74.176.39/taykit/jquery-barcode.js" type="text/javascript" ></script>
<table  border="1" style="border-collapse: collapse; border: 1px solid black;">
<tr><td>Store ID:<b>NXT Warehouse</b></td><td>Exec Name:<b>BTM Pod</b></td><td>Date:<b>2016-01-27</b></td></tr>
<tr><td>Runsheet ID:<b>774BREAEOX</b></td><td>Exec Contact:<b></b></td></tr>
<tr><td># Shipments:<b>5</b></td><td>Total COD Amount:<b>3181.0</b></td></tr>
<tr><td>Opening Km:</td><td>Closing Km:</td></tr>
</table><br><br>
<style>tr{  page-break-inside: avoid;    -webkit-region-break-inside: avoid;} table,tr,td,th{ border-collapse: collapse; border: 1px solid black; }</style>
<table border="1"><THEAD><tr><th>#</th><th>Tracking ID</th><th>Customer Name</th><th>Address</th><th>COD Amount</th><th>Retailer</th><th>Shipment type</th><th>Customer Sign</th><th>Deli time</th><th>Remarks</th></tr></THEAD>
<TBODY><tr><td>1</td><td><div id="bar_1"></div></td><td>Divya<br>9916463913</td><td>A102:DSR naveen lakeside:35 th main:7 th cross BTM layout 2nd stage</td><td>1099.0</td><td>retailer1</td><td>Collect</td><td></td><td></td><td></tr>
<tr><td>2</td><td><div id="bar_2"></div></td><td>Sehera<br>9731636685</td><td>Site No. 474:Shravanthi Lotus Apt:Flat 202::6th Main:8th Cross:BTM 2nd Stage</td><td>637.0</td><td>retailer1</td><td>Collect</td><td></td><td></td><td></tr>
<tr><td>3</td><td><div id="bar_3"></div></td><td>bembem<br>9379646301</td><td>150 inchara.btm.29th main. 2nd stage .8th cross Bangalore.76</td><td>1195.0</td><td>retailer1</td><td>Collect</td><td></td><td></td><td></tr>
<tr><td>4</td><td><div id="bar_4"></div></td><td>shreya<br>9538822138</td><td>shreya Shreya gowda 959:17th main btm 2nd stage:near udupi garden</td><td>250.0</td><td>retailer1</td><td>Collect</td><td></td><td></td><td></tr>
<tr><td>5</td><td><div id="bar_5"></div></td><td>Neha<br>9742443369</td><td>House89:20th Main:2nd CrossBTM 1st Stage</td><td>0.0</td><td>retailer1</td><td>Collect</td><td></td><td></td><td></tr>
</TBODY></table>
<script>
 $("#bar_1").barcode(
		 	"D001000325",
		 	"code128" 
		 	);


 $("#bar_2").barcode(
		 	"D001000365",
		 	"code128" 
		 	);


 $("#bar_3").barcode(
		 	"D001000403",
		 	"code128" 
		 	);


 $("#bar_4").barcode(
		 	"D001000407",
		 	"code128" 
		 	);


 $("#bar_5").barcode(
		 	"D001015362",
		 	"code128" 
		 	);



</script>
