<script src = "http://52.74.176.39/taykit/jquery-latest.min.js" type="text/javascript" ></script>
<script src = "http://52.74.176.39/taykit/jquery-barcode.js" type="text/javascript" ></script>
<table  border="1" style="border-collapse: collapse; border: 1px solid black;">
<tr><td>Store ID:<b>NXT Warehouse</b></td><td>Exec Name:<b>BTM Pod</b></td><td>Date:<b>2015-12-23</b></td></tr>
<tr><td>Runsheet ID:<b>RDI1A4N7LX</b></td><td>Exec Contact:<b></b></td></tr>
<tr><td># Shipments:<b>3</b></td><td>Total COD Amount:<b>401.0</b></td></tr>
<tr><td>Opening Km:</td><td>Closing Km:</td></tr>
</table><br><br>
<style>tr{  page-break-inside: avoid;    -webkit-region-break-inside: avoid;} table,tr,td,th{ border-collapse: collapse; border: 1px solid black; }</style>
<table border="1"><THEAD><tr><th>#</th><th>Tracking ID</th><th>Customer Name</th><th>Address</th><th>COD Amount</th><th>Retailer</th><th>Shipment type</th><th>Customer Sign</th><th>Deli time</th><th>Remarks</th></tr></THEAD>
<TBODY><tr><td>1</td><td><div id="bar_1"></div></td><td>Anjali<br>8103726049</td><td>119 Sions house 17th main BTM 2nd Stage</td><td>401.0</td><td>retailer1</td><td>Collect</td><td></td><td></td><td></tr>
<tr><td>2</td><td><div id="bar_2"></div></td><td>Riya Das  <br>7204040110</td><td>c/o zubeda begum:382/1:old madiwala vp road:2nd cross:  :Bangalore Karnataka</td><td>0.0</td><td>retailer1</td><td>Collect</td><td></td><td></td><td></tr>
<tr><td>3</td><td><div id="bar_3"></div></td><td>Shakun   Guleria  <br>8095691149</td><td>Btm 2nd . 16th main.12 cross. Manjunatha appt building 9. 1st flr . Door 3. Opp lane mico layout police station    :Bangalore Karnataka</td><td>0.0</td><td>retailer1</td><td>Collect</td><td></td><td></td><td></tr>
</TBODY></table>
<script>
 $("#bar_1").barcode(
		 	"D00100000021314",
		 	"code128" 
		 	);


 $("#bar_2").barcode(
		 	"D00200000006140",
		 	"code128" 
		 	);


 $("#bar_3").barcode(
		 	"D00200000006142",
		 	"code128" 
		 	);



</script>
