<script src = "http://52.74.176.39/taykit/jquery-latest.min.js" type="text/javascript" ></script>
<script src = "http://52.74.176.39/taykit/jquery-barcode.js" type="text/javascript" ></script>
<table  border="1" style="border-collapse: collapse; border: 1px solid black;">
<tr><td>Store ID:<b>NXT Warehouse</b></td><td>Exec Name:<b>BTM Pod</b></td><td>Date:<b>2016-01-06</b></td></tr>
<tr><td>Runsheet ID:<b>7125F0NLO7</b></td><td>Exec Contact:<b></b></td></tr>
<tr><td># Shipments:<b>3</b></td><td>Total COD Amount:<b>3271.0</b></td></tr>
<tr><td>Opening Km:</td><td>Closing Km:</td></tr>
</table><br><br>
<style>tr{  page-break-inside: avoid;    -webkit-region-break-inside: avoid;} table,tr,td,th{ border-collapse: collapse; border: 1px solid black; }</style>
<table border="1"><THEAD><tr><th>#</th><th>Tracking ID</th><th>Customer Name</th><th>Address</th><th>COD Amount</th><th>Retailer</th><th>Shipment type</th><th>Customer Sign</th><th>Deli time</th><th>Remarks</th></tr></THEAD>
<TBODY><tr><td>1</td><td><div id="bar_1"></div></td><td>Kriti<br>9964875259</td><td>House no. 958:Srinidhi p.g:Btm layout 2nd Stage Behind Mc. Donalds:near Udupi garden signal</td><td>338.0</td><td>retailer1</td><td>Collect</td><td></td><td></td><td></tr>
<tr><td>2</td><td><div id="bar_2"></div></td><td>SANDHA<br>9611803830</td><td>18TH MAIN:3RD C CROSS:BTM 2ND STAGE DOOR NO. 4</td><td>338.0</td><td>retailer1</td><td>Collect</td><td></td><td></td><td></tr>
<tr><td>3</td><td><div id="bar_3"></div></td><td>naz<br>9620622336</td><td>house no 427:7th main:7th cross:btm layout2nd stage</td><td>2595.0</td><td>retailer1</td><td>Collect</td><td></td><td></td><td></tr>
</TBODY></table>
<script>
 $("#bar_1").barcode(
		 	"D00100000021923",
		 	"code128" 
		 	);


 $("#bar_2").barcode(
		 	"D00100000021945",
		 	"code128" 
		 	);


 $("#bar_3").barcode(
		 	"D00100000021980",
		 	"code128" 
		 	);



</script>
