<script src = "http://52.74.176.39/taykit/jquery-latest.min.js" type="text/javascript" ></script>
<script src = "http://52.74.176.39/taykit/jquery-barcode.js" type="text/javascript" ></script>
<table  border="1" style="border-collapse: collapse; border: 1px solid black;">
<tr><td>Store ID:<b>NXT Warehouse</b></td><td>Exec Name:<b>BTM Pod</b></td><td>Date:<b>2016-01-11</b></td></tr>
<tr><td>Runsheet ID:<b>527BE51659</b></td><td>Exec Contact:<b></b></td></tr>
<tr><td># Shipments:<b>6</b></td><td>Total COD Amount:<b>3874.0</b></td></tr>
<tr><td>Opening Km:</td><td>Closing Km:</td></tr>
</table><br><br>
<style>tr{  page-break-inside: avoid;    -webkit-region-break-inside: avoid;} table,tr,td,th{ border-collapse: collapse; border: 1px solid black; }</style>
<table border="1"><THEAD><tr><th>#</th><th>Tracking ID</th><th>Customer Name</th><th>Address</th><th>COD Amount</th><th>Retailer</th><th>Shipment type</th><th>Customer Sign</th><th>Deli time</th><th>Remarks</th></tr></THEAD>
<TBODY><tr><td>1</td><td><div id="bar_1"></div></td><td>Monika<br>9964357010</td><td>305 tallam sudha apartment: 14th a main: near blue dart dhl office: btm 2nd stage lake road: ns paly</td><td>0.0</td><td>retailer1</td><td>Collect</td><td></td><td></td><td></tr>
<tr><td>2</td><td><div id="bar_2"></div></td><td>priti<br>9005463408</td><td>btm 2nd stage 28 main opposite axa building 560076</td><td>0.0</td><td>retailer1</td><td>Collect</td><td></td><td></td><td></tr>
<tr><td>3</td><td><div id="bar_3"></div></td><td>Amulya<br>9886956454</td><td>719:9th cross:8th main:MICO LayoutBTM 2nd stage</td><td>0.0</td><td>retailer1</td><td>Collect</td><td></td><td></td><td></tr>
<tr><td>4</td><td><div id="bar_4"></div></td><td>neha<br>8123645922</td><td>1251:15th main:1st phase 2nd stage BTM Layout</td><td>1160.0</td><td>retailer1</td><td>Collect</td><td></td><td></td><td></tr>
<tr><td>5</td><td><div id="bar_5"></div></td><td>abhilasha<br>9916417189</td><td>110 1 R N Mansion:3rd main:N s palya Btm 2nd stage:near vibgyor school</td><td>1049.0</td><td>retailer1</td><td>Collect</td><td></td><td></td><td></tr>
<tr><td>6</td><td><div id="bar_6"></div></td><td>Pinky<br>8861515515</td><td>Flat 1:House Number 73:22nd Cross:16th Main BTM 2nd Stage</td><td>1665.0</td><td>retailer1</td><td>Collect</td><td></td><td></td><td></tr>
</TBODY></table>
<script>
 $("#bar_1").barcode(
		 	"D00100000016522",
		 	"code128" 
		 	);


 $("#bar_2").barcode(
		 	"D00100000016544",
		 	"code128" 
		 	);


 $("#bar_3").barcode(
		 	"D00100000016585",
		 	"code128" 
		 	);


 $("#bar_4").barcode(
		 	"D00100000022255",
		 	"code128" 
		 	);


 $("#bar_5").barcode(
		 	"D00100000022283",
		 	"code128" 
		 	);


 $("#bar_6").barcode(
		 	"D00100000022308",
		 	"code128" 
		 	);



</script>
