<script src = "http://52.74.176.39/taykit/jquery-latest.min.js" type="text/javascript" ></script>
<script src = "http://52.74.176.39/taykit/jquery-barcode.js" type="text/javascript" ></script>
<table  border="1" style="border-collapse: collapse; border: 1px solid black;">
<tr><td>Store ID:<b>NXT Warehouse</b></td><td>Exec Name:<b>BTM Pod</b></td><td>Date:<b>2016-01-12</b></td></tr>
<tr><td>Runsheet ID:<b>5052A0OL2B</b></td><td>Exec Contact:<b></b></td></tr>
<tr><td># Shipments:<b>3</b></td><td>Total COD Amount:<b>1387.0</b></td></tr>
<tr><td>Opening Km:</td><td>Closing Km:</td></tr>
</table><br><br>
<style>tr{  page-break-inside: avoid;    -webkit-region-break-inside: avoid;} table,tr,td,th{ border-collapse: collapse; border: 1px solid black; }</style>
<table border="1"><THEAD><tr><th>#</th><th>Tracking ID</th><th>Customer Name</th><th>Address</th><th>COD Amount</th><th>Retailer</th><th>Shipment type</th><th>Customer Sign</th><th>Deli time</th><th>Remarks</th></tr></THEAD>
<TBODY><tr><td>1</td><td><div id="bar_1"></div></td><td>Bala<br>9845488454</td><td>1547:2nd floor:11 Cross:7 Main:BTM 2nd Stage:Bangalore - 560 076</td><td>0.0</td><td>retailer1</td><td>Collect</td><td></td><td></td><td></tr>
<tr><td>2</td><td><div id="bar_2"></div></td><td>Nayana<br>9611467236</td><td>AmpersandSquare Tech-Services Pvt Ltd:956:1st Floor:NS Plaza:16th Main Road:BTM 2nd Stage:BTM</td><td>1049.0</td><td>retailer1</td><td>Collect</td><td></td><td></td><td></tr>
<tr><td>3</td><td><div id="bar_3"></div></td><td>Ipsita<br>8147572406</td><td>T2:89 B:16th main 23rd cross:BTM 2nd stage</td><td>338.0</td><td>retailer1</td><td>Collect</td><td></td><td></td><td></tr>
</TBODY></table>
<script>
 $("#bar_1").barcode(
		 	"D00100000016682",
		 	"code128" 
		 	);


 $("#bar_2").barcode(
		 	"D00100000022359",
		 	"code128" 
		 	);


 $("#bar_3").barcode(
		 	"D00100000022392",
		 	"code128" 
		 	);



</script>
