<script src = "http://52.74.176.39/taykit/jquery-latest.min.js" type="text/javascript" ></script>
<script src = "http://52.74.176.39/taykit/jquery-barcode.js" type="text/javascript" ></script>
<table  border="1" style="border-collapse: collapse; border: 1px solid black;">
<tr><td>Store ID:<b>NXT Warehouse</b></td><td>Exec Name:<b>BTM Pod</b></td><td>Date:<b>2015-12-25</b></td></tr>
<tr><td>Runsheet ID:<b>ROEM1X8NND</b></td><td>Exec Contact:<b></b></td></tr>
<tr><td># Shipments:<b>4</b></td><td>Total COD Amount:<b>2089.0</b></td></tr>
<tr><td>Opening Km:</td><td>Closing Km:</td></tr>
</table><br><br>
<style>tr{  page-break-inside: avoid;    -webkit-region-break-inside: avoid;} table,tr,td,th{ border-collapse: collapse; border: 1px solid black; }</style>
<table border="1"><THEAD><tr><th>#</th><th>Tracking ID</th><th>Customer Name</th><th>Address</th><th>COD Amount</th><th>Retailer</th><th>Shipment type</th><th>Customer Sign</th><th>Deli time</th><th>Remarks</th></tr></THEAD>
<TBODY><tr><td>1</td><td><div id="bar_1"></div></td><td>rashmi<br>9743734999</td><td>3rd cross:25th main btm 2nd stage</td><td>204.0</td><td>retailer1</td><td>Collect</td><td></td><td></td><td></tr>
<tr><td>2</td><td><div id="bar_2"></div></td><td>palika<br>9611758250</td><td>house no 15:1st door:Ist floor:10th A Cross:16thmain:BTM 2ND STAGE</td><td>1885.0</td><td>retailer1</td><td>Collect</td><td></td><td></td><td></tr>
<tr><td>3</td><td><div id="bar_3"></div></td><td>palika<br>9611758250</td><td>house no 15:1st door:Ist floor:10th A Cross:16thmain:BTM 2ND STAGE</td><td>0.0</td><td>retailer1</td><td>Collect</td><td></td><td></td><td></tr>
<tr><td>4</td><td><div id="bar_4"></div></td><td>payal<br>7899976829</td><td>364:sai Krishna pg 9th main : 5th cross: btm 2nd stage</td><td>0.0</td><td>retailer1</td><td>Collect</td><td></td><td></td><td></tr>
</TBODY></table>
<script>
 $("#bar_1").barcode(
		 	"D001000000095",
		 	"code128" 
		 	);


 $("#bar_2").barcode(
		 	"D001000000117",
		 	"code128" 
		 	);


 $("#bar_3").barcode(
		 	"D00100000015726",
		 	"code128" 
		 	);


 $("#bar_4").barcode(
		 	"D00100000015731",
		 	"code128" 
		 	);



</script>
