<script src = "http://52.74.176.39/taykit/jquery-latest.min.js" type="text/javascript" ></script>
<script src = "http://52.74.176.39/taykit/jquery-barcode.js" type="text/javascript" ></script>
<table  border="1" style="border-collapse: collapse; border: 1px solid black;">
<tr><td>Store ID:<b>NXT Warehouse</b></td><td>Exec Name:<b>BTM Pod</b></td><td>Date:<b>2015-12-18</b></td></tr>
<tr><td>Runsheet ID:<b>1258X0EE10</b></td><td>Exec Contact:<b></b></td></tr>
<tr><td># Shipments:<b>3</b></td><td>Total COD Amount:<b>1495.0</b></td></tr>
<tr><td>Opening Km:</td><td>Closing Km:</td></tr>
</table><br><br>
<style>tr{  page-break-inside: avoid;    -webkit-region-break-inside: avoid;} table,tr,td,th{ border-collapse: collapse; border: 1px solid black; }</style>
<table border="1"><THEAD><tr><th>#</th><th>Tracking ID</th><th>Customer Name</th><th>Address</th><th>COD Amount</th><th>Retailer</th><th>Shipment type</th><th>Customer Sign</th><th>Deli time</th><th>Remarks</th></tr></THEAD>
<TBODY><tr><td>1</td><td><div id="bar_1"></div></td><td>Payal<br>8553899485</td><td>Sri venkata sai pg for ladies 192:10th cross:29th main:lake road near masjid btm 2nd stage</td><td>0.0</td><td>retailer1</td><td>Collect</td><td></td><td></td><td></tr>
<tr><td>2</td><td><div id="bar_2"></div></td><td>Mithil<br>9880213135</td><td>A605 Krishna Prakash apartments 170 1:16th Main:Aicoobonagar Btm 1st stage:near udupi gardens s</td><td>0.0</td><td>retailer1</td><td>Collect</td><td></td><td></td><td></tr>
<tr><td>3</td><td><div id="bar_3"></div></td><td>Aswani<br>9745337148</td><td>30 32 Sri Sai Residency:Sunshine Colony 14th Main: 12th A Cross: BTM 2nd Stage</td><td>1495.0</td><td>retailer1</td><td>Collect</td><td></td><td></td><td></tr>
</TBODY></table>
<script>
 $("#bar_1").barcode(
		 	"D00100000015236",
		 	"code128" 
		 	);


 $("#bar_2").barcode(
		 	"D00100000015239",
		 	"code128" 
		 	);


 $("#bar_3").barcode(
		 	"D00100000020934",
		 	"code128" 
		 	);



</script>
