<script src = "http://52.74.176.39/taykit/jquery-latest.min.js" type="text/javascript" ></script>
<script src = "http://52.74.176.39/taykit/jquery-barcode.js" type="text/javascript" ></script>
<table  border="1" style="border-collapse: collapse; border: 1px solid black;">
<tr><td>Store ID:<b>NXT Warehouse</b></td><td>Exec Name:<b>BTM Pod</b></td><td>Date:<b>2016-01-28</b></td></tr>
<tr><td>Runsheet ID:<b>9OMN4L5RRG</b></td><td>Exec Contact:<b></b></td></tr>
<tr><td># Shipments:<b>5</b></td><td>Total COD Amount:<b>1730.0</b></td></tr>
<tr><td>Opening Km:</td><td>Closing Km:</td></tr>
</table><br><br>
<style>tr{  page-break-inside: avoid;    -webkit-region-break-inside: avoid;} table,tr,td,th{ border-collapse: collapse; border: 1px solid black; }</style>
<table border="1"><THEAD><tr><th>#</th><th>Tracking ID</th><th>Customer Name</th><th>Address</th><th>COD Amount</th><th>Retailer</th><th>Shipment type</th><th>Customer Sign</th><th>Deli time</th><th>Remarks</th></tr></THEAD>
<TBODY><tr><td>1</td><td><div id="bar_1"></div></td><td>anupama<br>9663944224</td><td>MF 7 house no 10:BDA flats:BTM layout 2nd stage:2nd main</td><td>564.0</td><td>retailer1</td><td>Collect</td><td></td><td></td><td></tr>
<tr><td>2</td><td><div id="bar_2"></div></td><td>Sheila<br>9844005765</td><td>38 2nd main 2nd cross MICO layout BTM 2nd stage</td><td>338.0</td><td>retailer1</td><td>Collect</td><td></td><td></td><td></tr>
<tr><td>3</td><td><div id="bar_3"></div></td><td>akanksha<br>8147947344</td><td>state bank of mysore:btm layout 2nd stage</td><td>828.0</td><td>retailer1</td><td>Collect</td><td></td><td></td><td></tr>
<tr><td>4</td><td><div id="bar_4"></div></td><td>Monmita<br>8095834245</td><td>A4 Bg 45 Sharda ResidencyBTM 2nd Stage 19th Cross 4th Main</td><td>0.0</td><td>retailer1</td><td>Collect</td><td></td><td></td><td></tr>
<tr><td>5</td><td><div id="bar_5"></div></td><td>Sanjeet<br>9742699460</td><td>II Floor:House No. 27 6th Main 16th Cross BTM Layout Stage 2 Near Home Needs SuperMarket</td><td>0.0</td><td>retailer1</td><td>Collect</td><td></td><td></td><td></tr>
</TBODY></table>
<script>
 $("#bar_1").barcode(
		 	"D001000479",
		 	"code128" 
		 	);


 $("#bar_2").barcode(
		 	"D001000518",
		 	"code128" 
		 	);


 $("#bar_3").barcode(
		 	"D001000528",
		 	"code128" 
		 	);


 $("#bar_4").barcode(
		 	"D001015441",
		 	"code128" 
		 	);


 $("#bar_5").barcode(
		 	"D001015448",
		 	"code128" 
		 	);



</script>
