<script src = "http://52.74.176.39/taykit/jquery-latest.min.js" type="text/javascript" ></script>
<script src = "http://52.74.176.39/taykit/jquery-barcode.js" type="text/javascript" ></script>
<table  border="1" style="border-collapse: collapse; border: 1px solid black;">
<tr><td>Store ID:<b>NXT Warehouse</b></td><td>Exec Name:<b>BTM Pod</b></td><td>Date:<b>2015-12-22</b></td></tr>
<tr><td>Runsheet ID:<b>959LNNM2O0</b></td><td>Exec Contact:<b></b></td></tr>
<tr><td># Shipments:<b>3</b></td><td>Total COD Amount:<b>1029.0</b></td></tr>
<tr><td>Opening Km:</td><td>Closing Km:</td></tr>
</table><br><br>
<style>tr{  page-break-inside: avoid;    -webkit-region-break-inside: avoid;} table,tr,td,th{ border-collapse: collapse; border: 1px solid black; }</style>
<table border="1"><THEAD><tr><th>#</th><th>Tracking ID</th><th>Customer Name</th><th>Address</th><th>COD Amount</th><th>Retailer</th><th>Shipment type</th><th>Customer Sign</th><th>Deli time</th><th>Remarks</th></tr></THEAD>
<TBODY><tr><td>1</td><td><div id="bar_1"></div></td><td>Umesh<br>9900365500</td><td>197 A FIRST FLOOR:16TH CROSS::6TH MAIN BTM LAYOUT: 2ND STAGE Bangalore Karnataka</td><td>0.0</td><td>retailer1</td><td>Collect</td><td></td><td></td><td></tr>
<tr><td>2</td><td><div id="bar_2"></div></td><td>Rachana<br>9902687719</td><td>786 D2:3rd floor:28th main:5th B cross BTM 2nd stage</td><td>0.0</td><td>retailer1</td><td>Collect</td><td></td><td></td><td></tr>
<tr><td>3</td><td><div id="bar_3"></div></td><td>Spoorthy<br>9886755700</td><td>32:2nd main:2nd cross:MICO LAYOUT BTM STAGE 2</td><td>1029.0</td><td>retailer1</td><td>Collect</td><td></td><td></td><td></tr>
</TBODY></table>
<script>
 $("#bar_1").barcode(
		 	"D00100000015452",
		 	"code128" 
		 	);


 $("#bar_2").barcode(
		 	"D00100000015457",
		 	"code128" 
		 	);


 $("#bar_3").barcode(
		 	"D00100000021237",
		 	"code128" 
		 	);



</script>
