<script src = "http://52.74.176.39/taykit/jquery-latest.min.js" type="text/javascript" ></script>
<script src = "http://52.74.176.39/taykit/jquery-barcode.js" type="text/javascript" ></script>
<table  border="1" style="border-collapse: collapse; border: 1px solid black;">
<tr><td>Store ID:<b>NXT Warehouse</b></td><td>Exec Name:<b>BTM Pod</b></td><td>Date:<b>2016-01-02</b></td></tr>
<tr><td>Runsheet ID:<b>XR02FR58ED</b></td><td>Exec Contact:<b></b></td></tr>
<tr><td># Shipments:<b>5</b></td><td>Total COD Amount:<b>0.0</b></td></tr>
<tr><td>Opening Km:</td><td>Closing Km:</td></tr>
</table><br><br>
<style>tr{  page-break-inside: avoid;    -webkit-region-break-inside: avoid;} table,tr,td,th{ border-collapse: collapse; border: 1px solid black; }</style>
<table border="1"><THEAD><tr><th>#</th><th>Tracking ID</th><th>Customer Name</th><th>Address</th><th>COD Amount</th><th>Retailer</th><th>Shipment type</th><th>Customer Sign</th><th>Deli time</th><th>Remarks</th></tr></THEAD>
<TBODY><tr><td>1</td><td><div id="bar_1"></div></td><td>swapna<br>9591000166</td><td>6th main. 8th cross BTM 2nd stage</td><td>0.0</td><td>retailer1</td><td>Collect</td><td></td><td></td><td></tr>
<tr><td>2</td><td><div id="bar_2"></div></td><td>Rinki<br>8123621369</td><td>c o- Surekha PG:20th main:2nd cross btm layout:1st stage</td><td>0.0</td><td>retailer1</td><td>Collect</td><td></td><td></td><td></tr>
<tr><td>3</td><td><div id="bar_3"></div></td><td>palak gupta<br>9591602501</td><td>962: 17 Main: BTM 2nd Stage: BTM Layout: Bengaluru: Karnataka: India Mc donalds:Bangalore Karnataka</td><td>0.0</td><td>retailer1</td><td>Collect</td><td></td><td></td><td></tr>
<tr><td>4</td><td><div id="bar_4"></div></td><td>Suman deshlahra     <br>7587487758</td><td>House no 437: deluxe pg: 7th cross 7th main::Btm 2nd stage    :Bangalore Karnataka</td><td>0.0</td><td>retailer1</td><td>Collect</td><td></td><td></td><td></tr>
<tr><td>5</td><td><div id="bar_5"></div></td><td>shilpi das  <br>8147293027</td><td>No1252: 15th main: opposite to Dominos: near to swadist aahar: btm 2nd stage  :Bangalore Karnataka</td><td>0.0</td><td>retailer1</td><td>Collect</td><td></td><td></td><td></tr>
</TBODY></table>
<script>
 $("#bar_1").barcode(
		 	"D00100000016008",
		 	"code128" 
		 	);


 $("#bar_2").barcode(
		 	"D00100000016059",
		 	"code128" 
		 	);


 $("#bar_3").barcode(
		 	"D00200000006212",
		 	"code128" 
		 	);


 $("#bar_4").barcode(
		 	"D00200000006232",
		 	"code128" 
		 	);


 $("#bar_5").barcode(
		 	"D00200000006234",
		 	"code128" 
		 	);



</script>
