<script src = "http://52.74.176.39/taykit/jquery-latest.min.js" type="text/javascript" ></script>
<script src = "http://52.74.176.39/taykit/jquery-barcode.js" type="text/javascript" ></script>
<table  border="1" style="border-collapse: collapse; border: 1px solid black;">
<tr><td>Store ID:<b>NXT Warehouse</b></td><td>Exec Name:<b>BTM Pod</b></td><td>Date:<b>2015-12-21</b></td></tr>
<tr><td>Runsheet ID:<b>LER4F5KII6</b></td><td>Exec Contact:<b></b></td></tr>
<tr><td># Shipments:<b>5</b></td><td>Total COD Amount:<b>1360.0</b></td></tr>
<tr><td>Opening Km:</td><td>Closing Km:</td></tr>
</table><br><br>
<style>tr{  page-break-inside: avoid;    -webkit-region-break-inside: avoid;} table,tr,td,th{ border-collapse: collapse; border: 1px solid black; }</style>
<table border="1"><THEAD><tr><th>#</th><th>Tracking ID</th><th>Customer Name</th><th>Address</th><th>COD Amount</th><th>Retailer</th><th>Shipment type</th><th>Customer Sign</th><th>Deli time</th><th>Remarks</th></tr></THEAD>
<TBODY><tr><td>1</td><td><div id="bar_1"></div></td><td>Shakun<br>8095691149</td><td>16th main 12 cross manjunatha appt 1st floor House no.3 btm 2nd stage . Opp mico layout police stat</td><td>0.0</td><td>retailer1</td><td>Collect</td><td></td><td></td><td></tr>
<tr><td>2</td><td><div id="bar_2"></div></td><td>Ruchi<br>8088685741</td><td>Flat 3-3:4th floor:House 813 A3:Sri Sathya Sai residency 5th cross: 26th main: BTM 2nd stage: near V</td><td>0.0</td><td>retailer1</td><td>Collect</td><td></td><td></td><td></tr>
<tr><td>3</td><td><div id="bar_3"></div></td><td>Ruchi<br>8088685741</td><td>Flat 3-3:4th floor:House 813 A3:Sri Sathya Sai residency 5th cross: 26th main: BTM 2nd stage: near V</td><td>0.0</td><td>retailer1</td><td>Collect</td><td></td><td></td><td></tr>
<tr><td>4</td><td><div id="bar_4"></div></td><td>Lavanya<br>9901034896</td><td>1436:8th Cross:10th Main:BTM 2nd Stage</td><td>0.0</td><td>retailer1</td><td>Collect</td><td></td><td></td><td></tr>
<tr><td>5</td><td><div id="bar_5"></div></td><td>Chaitra<br>9980881599</td><td>206:raja helix:11th main:9th cross:Bhelikehalli:Vijay bank layout:banerghatta road</td><td>1360.0</td><td>retailer1</td><td>Collect</td><td></td><td></td><td></tr>
</TBODY></table>
<script>
 $("#bar_1").barcode(
		 	"D00100000015336",
		 	"code128" 
		 	);


 $("#bar_2").barcode(
		 	"D00100000015339",
		 	"code128" 
		 	);


 $("#bar_3").barcode(
		 	"D00100000015340",
		 	"code128" 
		 	);


 $("#bar_4").barcode(
		 	"D00100000015391",
		 	"code128" 
		 	);


 $("#bar_5").barcode(
		 	"D00100000021004",
		 	"code128" 
		 	);



</script>
