<script src = "http://52.74.176.39/taykit/jquery-latest.min.js" type="text/javascript" ></script>
<script src = "http://52.74.176.39/taykit/jquery-barcode.js" type="text/javascript" ></script>
<table  border="1" style="border-collapse: collapse; border: 1px solid black;">
<tr><td>Store ID:<b>NXT Warehouse</b></td><td>Exec Name:<b>Classic boutique</b></td><td>Date:<b>2016-01-12</b></td></tr>
<tr><td>Runsheet ID:<b>1RLOKB18X5</b></td><td>Exec Contact:<b></b></td></tr>
<tr><td># Shipments:<b>5</b></td><td>Total COD Amount:<b>5495.0</b></td></tr>
<tr><td>Opening Km:</td><td>Closing Km:</td></tr>
</table><br><br>
<style>tr{  page-break-inside: avoid;    -webkit-region-break-inside: avoid;} table,tr,td,th{ border-collapse: collapse; border: 1px solid black; }</style>
<table border="1"><THEAD><tr><th>#</th><th>Tracking ID</th><th>Customer Name</th><th>Address</th><th>COD Amount</th><th>Retailer</th><th>Shipment type</th><th>Customer Sign</th><th>Deli time</th><th>Remarks</th></tr></THEAD>
<TBODY><tr><td>1</td><td><div id="bar_1"></div></td><td>Sumera<br>8095326111</td><td>Raghavendra swamy residency Flat 506:17th H cross 25th main:JP nagar 5th phase</td><td>1049.0</td><td>retailer1</td><td>Collect</td><td></td><td></td><td></tr>
<tr><td>2</td><td><div id="bar_2"></div></td><td>Sumera<br>8095326111</td><td>Raghavendra swamy residency Flat 506:17th H cross 25th main:JP nagar 5th phase</td><td>1049.0</td><td>retailer1</td><td>Collect</td><td></td><td></td><td></tr>
<tr><td>3</td><td><div id="bar_3"></div></td><td>Sumera<br>8095326111</td><td>Raghavendra swamy residency Flat 506:17th H cross 25th main:JP nagar 5th phase</td><td>1207.0</td><td>retailer1</td><td>Collect</td><td></td><td></td><td></tr>
<tr><td>4</td><td><div id="bar_4"></div></td><td>Sumera<br>8095326111</td><td>Raghavendra swamy residency Flat 506:17th H cross 25th main:JP nagar 5th phase</td><td>1169.0</td><td>retailer1</td><td>Collect</td><td></td><td></td><td></tr>
<tr><td>5</td><td><div id="bar_5"></div></td><td>Preeti<br>9686183411</td><td>flat no. 201 ashwariya enclave 15th main 17th cross j.p. nagar 5th phase:rose garden road</td><td>1021.0</td><td>retailer1</td><td>Collect</td><td></td><td></td><td></tr>
</TBODY></table>
<script>
 $("#bar_1").barcode(
		 	"D00100000022388",
		 	"code128" 
		 	);


 $("#bar_2").barcode(
		 	"D00100000022389",
		 	"code128" 
		 	);


 $("#bar_3").barcode(
		 	"D00100000022390",
		 	"code128" 
		 	);


 $("#bar_4").barcode(
		 	"D00100000022391",
		 	"code128" 
		 	);


 $("#bar_5").barcode(
		 	"D00100000022407",
		 	"code128" 
		 	);



</script>
