<script src = "http://52.74.176.39/taykit/jquery-latest.min.js" type="text/javascript" ></script>
<script src = "http://52.74.176.39/taykit/jquery-barcode.js" type="text/javascript" ></script>
<table  border="1" style="border-collapse: collapse; border: 1px solid black;">
<tr><td>Store ID:<b>NXT Warehouse</b></td><td>Exec Name:<b>Fabwell</b></td><td>Date:<b>2016-01-25</b></td></tr>
<tr><td>Runsheet ID:<b>XGM2G81716</b></td><td>Exec Contact:<b></b></td></tr>
<tr><td># Shipments:<b>3</b></td><td>Total COD Amount:<b>3214.0</b></td></tr>
<tr><td>Opening Km:</td><td>Closing Km:</td></tr>
</table><br><br>
<style>tr{  page-break-inside: avoid;    -webkit-region-break-inside: avoid;} table,tr,td,th{ border-collapse: collapse; border: 1px solid black; }</style>
<table border="1"><THEAD><tr><th>#</th><th>Tracking ID</th><th>Customer Name</th><th>Address</th><th>COD Amount</th><th>Retailer</th><th>Shipment type</th><th>Customer Sign</th><th>Deli time</th><th>Remarks</th></tr></THEAD>
<TBODY><tr><td>1</td><td><div id="bar_1"></div></td><td>Agnijita<br>7411675042</td><td>Flat no B310:Subhodaya Laurels:Tejaswini nagar phase 1:Doddakamanahalli main road:off bannerg</td><td>2680.0</td><td>retailer1</td><td>Collect</td><td></td><td></td><td></tr>
<tr><td>2</td><td><div id="bar_2"></div></td><td>Ramya<br>9886278222</td><td>PARIWAR PASSION:D331:doddakammanahalli Begur hobli:off bannerghatta road</td><td>534.0</td><td>retailer1</td><td>Collect</td><td></td><td></td><td></tr>
<tr><td>3</td><td><div id="bar_3"></div></td><td>Jyothsna<br>9945563270</td><td>KF1:SANTARA MAGAN PLACE:104 1:Near maruti Dental College Kammanahalli Main Road: Off Bannergatta Roa</td><td>0.0</td><td>retailer1</td><td>Collect</td><td></td><td></td><td></tr>
</TBODY></table>
<script>
 $("#bar_1").barcode(
		 	"D001000265",
		 	"code128" 
		 	);


 $("#bar_2").barcode(
		 	"D001000275",
		 	"code128" 
		 	);


 $("#bar_3").barcode(
		 	"D001015290",
		 	"code128" 
		 	);



</script>
