<script src = "http://52.74.176.39/taykit/jquery-latest.min.js" type="text/javascript" ></script>
<script src = "http://52.74.176.39/taykit/jquery-barcode.js" type="text/javascript" ></script>
<table  border="1" style="border-collapse: collapse; border: 1px solid black;">
<tr><td>Store ID:<b>NXT Warehouse</b></td><td>Exec Name:<b>Libaas Fashions</b></td><td>Date:<b>2015-12-14</b></td></tr>
<tr><td>Runsheet ID:<b>5NKX9ODLIX</b></td><td>Exec Contact:<b></b></td></tr>
<tr><td># Shipments:<b>3</b></td><td>Total COD Amount:<b>4034.0</b></td></tr>
<tr><td>Opening Km:</td><td>Closing Km:</td></tr>
</table><br><br>
<style>tr{  page-break-inside: avoid;    -webkit-region-break-inside: avoid;} table,tr,td,th{ border-collapse: collapse; border: 1px solid black; }</style>
<table border="1"><THEAD><tr><th>#</th><th>Tracking ID</th><th>Customer Name</th><th>Address</th><th>COD Amount</th><th>Retailer</th><th>Shipment type</th><th>Customer Sign</th><th>Deli time</th><th>Remarks</th></tr></THEAD>
<TBODY><tr><td>1</td><td><div id="bar_1"></div></td><td>Shruti<br>8095169163</td><td>Shobha Carnation:Flat 5071:Greenglen Layout:Lane adjacent to Indian Oil Petrol Pump</td><td>0.0</td><td>retailer1</td><td>Collect</td><td></td><td></td><td></tr>
<tr><td>2</td><td><div id="bar_2"></div></td><td>PRIYA<br>9741451147</td><td>2702 SOBHA MAYFLOWER 96 1 BELLANDUR: GREEN GLEN LAYOUT</td><td>2122.0</td><td>retailer1</td><td>Collect</td><td></td><td></td><td></tr>
<tr><td>3</td><td><div id="bar_3"></div></td><td>PRIYA<br>9741451147</td><td>2702 SOBHA MAYFLOWER 96 1 BELLANDUR: GREEN GLEN LAYOUT</td><td>1912.0</td><td>retailer1</td><td>Collect</td><td></td><td></td><td></tr>
</TBODY></table>
<script>
 $("#bar_1").barcode(
		 	"D00100000015084",
		 	"code128" 
		 	);


 $("#bar_2").barcode(
		 	"D00100000020678",
		 	"code128" 
		 	);


 $("#bar_3").barcode(
		 	"D00100000020681",
		 	"code128" 
		 	);



</script>
