<script src = "http://52.74.176.39/taykit/jquery-latest.min.js" type="text/javascript" ></script>
<script src = "http://52.74.176.39/taykit/jquery-barcode.js" type="text/javascript" ></script>
<table  border="1" style="border-collapse: collapse; border: 1px solid black;">
<tr><td>Store ID:<b>NXT Warehouse</b></td><td>Exec Name:<b>Libaas Fashions</b></td><td>Date:<b>2015-12-07</b></td></tr>
<tr><td>Runsheet ID:<b>25FMG02RA6</b></td><td>Exec Contact:<b></b></td></tr>
<tr><td># Shipments:<b>4</b></td><td>Total COD Amount:<b>5343.0</b></td></tr>
<tr><td>Opening Km:</td><td>Closing Km:</td></tr>
</table><br><br>
<style>tr{  page-break-inside: avoid;    -webkit-region-break-inside: avoid;} table,tr,td,th{ border-collapse: collapse; border: 1px solid black; }</style>
<table border="1"><THEAD><tr><th>#</th><th>Tracking ID</th><th>Customer Name</th><th>Address</th><th>COD Amount</th><th>Retailer</th><th>Shipment type</th><th>Customer Sign</th><th>Deli time</th><th>Remarks</th></tr></THEAD>
<TBODY><tr><td>1</td><td><div id="bar_1"></div></td><td>Ritu<br>9742175555</td><td>2903:Tower A:Sobha Mayflower Bellandur Gate: Green Glen Layout</td><td>2887.0</td><td>retailer1</td><td>Collect</td><td></td><td></td><td></tr>
<tr><td>2</td><td><div id="bar_2"></div></td><td>Ritu<br>9742175555</td><td>2903:Tower A:Sobha Mayflower Bellandur Gate: Green Glen Layout</td><td>769.0</td><td>retailer1</td><td>Collect</td><td></td><td></td><td></tr>
<tr><td>3</td><td><div id="bar_3"></div></td><td>Tejasiwni<br>9945023439</td><td>Flat No 104:Plot No 50:B.L.Paradise Green Glen layout: Bellandur</td><td>489.0</td><td>retailer1</td><td>Collect</td><td></td><td></td><td></tr>
<tr><td>4</td><td><div id="bar_4"></div></td><td>meena<br>9035469662</td><td>flat no307:dsr:crescent appt:green glen layout bellandur:bangalore-103</td><td>1198.0</td><td>retailer1</td><td>Collect</td><td></td><td></td><td></tr>
</TBODY></table>
<script>
 $("#bar_1").barcode(
		 	"D00100000020294",
		 	"code128" 
		 	);


 $("#bar_2").barcode(
		 	"D00100000020295",
		 	"code128" 
		 	);


 $("#bar_3").barcode(
		 	"D00100000020298",
		 	"code128" 
		 	);


 $("#bar_4").barcode(
		 	"D00100000020304",
		 	"code128" 
		 	);



</script>
