<script src = "http://52.74.176.39/taykit/jquery-latest.min.js" type="text/javascript" ></script>
<script src = "http://52.74.176.39/taykit/jquery-barcode.js" type="text/javascript" ></script>
<table  border="1" style="border-collapse: collapse; border: 1px solid black;">
<tr><td>Store ID:<b>NXT Warehouse</b></td><td>Exec Name:<b>Libaas Fashions</b></td><td>Date:<b>2015-12-10</b></td></tr>
<tr><td>Runsheet ID:<b>7XN95E5AFE</b></td><td>Exec Contact:<b></b></td></tr>
<tr><td># Shipments:<b>3</b></td><td>Total COD Amount:<b>0.0</b></td></tr>
<tr><td>Opening Km:</td><td>Closing Km:</td></tr>
</table><br><br>
<style>tr{  page-break-inside: avoid;    -webkit-region-break-inside: avoid;} table,tr,td,th{ border-collapse: collapse; border: 1px solid black; }</style>
<table border="1"><THEAD><tr><th>#</th><th>Tracking ID</th><th>Customer Name</th><th>Address</th><th>COD Amount</th><th>Retailer</th><th>Shipment type</th><th>Customer Sign</th><th>Deli time</th><th>Remarks</th></tr></THEAD>
<TBODY><tr><td>1</td><td><div id="bar_1"></div></td><td>Chandra Sudha<br>9740667006</td><td>803 Sobha Aquamarine Apts:Outer Ring Road Bellandur</td><td>0.0</td><td>retailer1</td><td>Collect</td><td></td><td></td><td></tr>
<tr><td>2</td><td><div id="bar_2"></div></td><td>payal<br>7899013321</td><td>flat no 106:block A2:Sobha aquamarine:bellandur:opp bakasur restaurant</td><td>0.0</td><td>retailer1</td><td>Collect</td><td></td><td></td><td></tr>
<tr><td>3</td><td><div id="bar_3"></div></td><td>usha<br>9741407965</td><td>Shoba mayflower 1801 8th floor Green glen layout:bellandur</td><td>0.0</td><td>retailer1</td><td>Collect</td><td></td><td></td><td></tr>
</TBODY></table>
<script>
 $("#bar_1").barcode(
		 	"D00100000009858",
		 	"code128" 
		 	);


 $("#bar_2").barcode(
		 	"D00100000009893",
		 	"code128" 
		 	);


 $("#bar_3").barcode(
		 	"D00100000009919",
		 	"code128" 
		 	);



</script>
