<script src = "http://52.74.176.39/taykit/jquery-latest.min.js" type="text/javascript" ></script>
<script src = "http://52.74.176.39/taykit/jquery-barcode.js" type="text/javascript" ></script>
<table  border="1" style="border-collapse: collapse; border: 1px solid black;">
<tr><td>Store ID:<b>NXT Warehouse</b></td><td>Exec Name:<b>Party Zone</b></td><td>Date:<b>2016-01-14</b></td></tr>
<tr><td>Runsheet ID:<b>0I2BDXADKI</b></td><td>Exec Contact:<b></b></td></tr>
<tr><td># Shipments:<b>3</b></td><td>Total COD Amount:<b>608.0</b></td></tr>
<tr><td>Opening Km:</td><td>Closing Km:</td></tr>
</table><br><br>
<style>tr{  page-break-inside: avoid;    -webkit-region-break-inside: avoid;} table,tr,td,th{ border-collapse: collapse; border: 1px solid black; }</style>
<table border="1"><THEAD><tr><th>#</th><th>Tracking ID</th><th>Customer Name</th><th>Address</th><th>COD Amount</th><th>Retailer</th><th>Shipment type</th><th>Customer Sign</th><th>Deli time</th><th>Remarks</th></tr></THEAD>
<TBODY><tr><td>1</td><td><div id="bar_1"></div></td><td>Sharat<br>9632190191</td><td>Apollo White Dental:HSR Layout 6th Sector:Behind BDA Complex.</td><td>0.0</td><td>retailer1</td><td>Collect</td><td></td><td></td><td></tr>
<tr><td>2</td><td><div id="bar_2"></div></td><td>Amanda<br>7829821514</td><td>NEC India Pvt. Ltd:L148:2nd floor:BHIVE Building::5th main:6th sector:HSR Layout</td><td>0.0</td><td>retailer1</td><td>Collect</td><td></td><td></td><td></tr>
<tr><td>3</td><td><div id="bar_3"></div></td><td>Noopur<br>9945220899</td><td>728:15th A Main:22nd Cross:HSR Club Road Sector 3 : HSR Layout</td><td>608.0</td><td>retailer1</td><td>Collect</td><td></td><td></td><td></tr>
</TBODY></table>
<script>
 $("#bar_1").barcode(
		 	"D00100000016787",
		 	"code128" 
		 	);


 $("#bar_2").barcode(
		 	"D00100000016808",
		 	"code128" 
		 	);


 $("#bar_3").barcode(
		 	"D001000000225",
		 	"code128" 
		 	);



</script>
