<script src = "http://52.74.176.39/taykit/jquery-latest.min.js" type="text/javascript" ></script>
<script src = "http://52.74.176.39/taykit/jquery-barcode.js" type="text/javascript" ></script>
<table  border="1" style="border-collapse: collapse; border: 1px solid black;">
<tr><td>Store ID:<b>NXT Warehouse</b></td><td>Exec Name:<b>Samen</b></td><td>Date:<b>2015-12-21</b></td></tr>
<tr><td>Runsheet ID:<b>6682G6G5A5</b></td><td>Exec Contact:<b></b></td></tr>
<tr><td># Shipments:<b>3</b></td><td>Total COD Amount:<b>575.0</b></td></tr>
<tr><td>Opening Km:</td><td>Closing Km:</td></tr>
</table><br><br>
<style>tr{  page-break-inside: avoid;    -webkit-region-break-inside: avoid;} table,tr,td,th{ border-collapse: collapse; border: 1px solid black; }</style>
<table border="1"><THEAD><tr><th>#</th><th>Tracking ID</th><th>Customer Name</th><th>Address</th><th>COD Amount</th><th>Retailer</th><th>Shipment type</th><th>Customer Sign</th><th>Deli time</th><th>Remarks</th></tr></THEAD>
<TBODY><tr><td>1</td><td><div id="bar_1"></div></td><td>Anuradha<br>9880505629</td><td>E002 Aakruthi Silverline 27th Main: HSR Layout: Sector 2</td><td>0.0</td><td>retailer1</td><td>Collect</td><td></td><td></td><td></tr>
<tr><td>2</td><td><div id="bar_2"></div></td><td>Sangeeta<br>7795180244</td><td>Lolly pop Studio:2nd floor:22nd cross:above fish n fry27th main road:sector-2:hsr layout</td><td>76.0</td><td>retailer1</td><td>Collect</td><td></td><td></td><td></tr>
<tr><td>3</td><td><div id="bar_3"></div></td><td>Maisa<br>9901369222</td><td>Purva fairmont Hsr laout</td><td>499.0</td><td>retailer1</td><td>Collect</td><td></td><td></td><td></tr>
</TBODY></table>
<script>
 $("#bar_1").barcode(
		 	"D00100000015371",
		 	"code128" 
		 	);


 $("#bar_2").barcode(
		 	"D00100000021060",
		 	"code128" 
		 	);


 $("#bar_3").barcode(
		 	"D00100000021104",
		 	"code128" 
		 	);



</script>
