<script src = "http://52.74.176.39/taykit/jquery-latest.min.js" type="text/javascript" ></script>
<script src = "http://52.74.176.39/taykit/jquery-barcode.js" type="text/javascript" ></script>
<table  border="1" style="border-collapse: collapse; border: 1px solid black;">
<tr><td>Store ID:<b>NXT Warehouse</b></td><td>Exec Name:<b>SRI SAI ENTERPRISES</b></td><td>Date:<b>2016-01-06</b></td></tr>
<tr><td>Runsheet ID:<b>K80MNAXB21</b></td><td>Exec Contact:<b></b></td></tr>
<tr><td># Shipments:<b>2</b></td><td>Total COD Amount:<b>1226.0</b></td></tr>
<tr><td>Opening Km:</td><td>Closing Km:</td></tr>
</table><br><br>
<style>tr{  page-break-inside: avoid;    -webkit-region-break-inside: avoid;} table,tr,td,th{ border-collapse: collapse; border: 1px solid black; }</style>
<table border="1"><THEAD><tr><th>#</th><th>Tracking ID</th><th>Customer Name</th><th>Address</th><th>COD Amount</th><th>Retailer</th><th>Shipment type</th><th>Customer Sign</th><th>Deli time</th><th>Remarks</th></tr></THEAD>
<TBODY><tr><td>1</td><td><div id="bar_1"></div></td><td>Sharmista<br>9448193001</td><td>G krishna reddi residency:Flat no F4:1st floor 5th main BOB colony puttenahalli:jp nagar 7th ph</td><td>627.0</td><td>retailer1</td><td>Collect</td><td></td><td></td><td></tr>
<tr><td>2</td><td><div id="bar_2"></div></td><td>Sharmista<br>9448193001</td><td>G krishna reddi residency:Flat no F4:1st floor 5th main BOB colony puttenahalli:jp nagar 7th phase</td><td>599.0</td><td>retailer1</td><td>Collect</td><td></td><td></td><td></tr>
</TBODY></table>
<script>
 $("#bar_1").barcode(
		 	"D00100000021968",
		 	"code128" 
		 	);


 $("#bar_2").barcode(
		 	"D00100000021969",
		 	"code128" 
		 	);



</script>
