<script src = "http://52.74.176.39/taykit/jquery-latest.min.js" type="text/javascript" ></script>
<script src = "http://52.74.176.39/taykit/jquery-barcode.js" type="text/javascript" ></script>
<table  border="1" style="border-collapse: collapse; border: 1px solid black;">
<tr><td>Store ID:<b>NXT Warehouse</b></td><td>Exec Name:<b>SRI SAI ENTERPRISES</b></td><td>Date:<b>2015-11-11</b></td></tr>
<tr><td>Runsheet ID:<b>5EM2FFRB80</b></td><td>Exec Contact:<b></b></td></tr>
<tr><td># Shipments:<b>2</b></td><td>Total COD Amount:<b>1882.0</b></td></tr>
<tr><td>Opening Km:</td><td>Closing Km:</td></tr>
</table><br><br>
<style>tr{  page-break-inside: avoid;    -webkit-region-break-inside: avoid;} table,tr,td,th{ border-collapse: collapse; border: 1px solid black; }</style>
<table border="1"><THEAD><tr><th>#</th><th>Tracking ID</th><th>Customer Name</th><th>Address</th><th>COD Amount</th><th>Retailer</th><th>Shipment type</th><th>Customer Sign</th><th>Deli time</th><th>Remarks</th></tr></THEAD>
<TBODY><tr><td>1</td><td><div id="bar_1"></div></td><td>Vinay<br>9620152168</td><td>32:4th main:5th cross:bank of baroda layout Puttenhalli:j.p nagar7th phase</td><td>1645.0</td><td>retailer1</td><td>Collect</td><td></td><td></td><td></tr>
<tr><td>2</td><td><div id="bar_2"></div></td><td>Nagashri<br>9845949420</td><td>A6-10-03:ELITA PROMENADE APARTMENTS 7TH PHASE:J.P.NAGAR</td><td>237.0</td><td>retailer1</td><td>Collect</td><td></td><td></td><td></tr>
</TBODY></table>
<script>
 $("#bar_1").barcode(
		 	"D00100000013746",
		 	"code128" 
		 	);


 $("#bar_2").barcode(
		 	"D00100000013799",
		 	"code128" 
		 	);



</script>
