<script src = "http://52.74.176.39/taykit/jquery-latest.min.js" type="text/javascript" ></script>
<script src = "http://52.74.176.39/taykit/jquery-barcode.js" type="text/javascript" ></script>
<table  border="1" style="border-collapse: collapse; border: 1px solid black;">
<tr><td>Store ID:<b>NXT Warehouse</b></td><td>Exec Name:<b>Sunday Salon</b></td><td>Date:<b>2016-01-02</b></td></tr>
<tr><td>Runsheet ID:<b>0GA56B4R06</b></td><td>Exec Contact:<b></b></td></tr>
<tr><td># Shipments:<b>3</b></td><td>Total COD Amount:<b>1553.0</b></td></tr>
<tr><td>Opening Km:</td><td>Closing Km:</td></tr>
</table><br><br>
<style>tr{  page-break-inside: avoid;    -webkit-region-break-inside: avoid;} table,tr,td,th{ border-collapse: collapse; border: 1px solid black; }</style>
<table border="1"><THEAD><tr><th>#</th><th>Tracking ID</th><th>Customer Name</th><th>Address</th><th>COD Amount</th><th>Retailer</th><th>Shipment type</th><th>Customer Sign</th><th>Deli time</th><th>Remarks</th></tr></THEAD>
<TBODY><tr><td>1</td><td><div id="bar_1"></div></td><td>Sowmya<br>9731312317</td><td>144 6th Cross Omkar Nagar Arekere B G Road</td><td>338.0</td><td>retailer1</td><td>Collect</td><td></td><td></td><td></tr>
<tr><td>2</td><td><div id="bar_2"></div></td><td>Nandini<br>9611950163</td><td>149 6th cross:omkaranagar Arakere:B.G.Road</td><td>338.0</td><td>retailer1</td><td>Collect</td><td></td><td></td><td></tr>
<tr><td>3</td><td><div id="bar_3"></div></td><td>Archana<br>9738402033</td><td>B8 1003:LNT SOUTH CITY AREKERE MICO LAYOUT: BG ROAD</td><td>877.0</td><td>retailer1</td><td>Collect</td><td></td><td></td><td></tr>
</TBODY></table>
<script>
 $("#bar_1").barcode(
		 	"D00100000021630",
		 	"code128" 
		 	);


 $("#bar_2").barcode(
		 	"D00100000021657",
		 	"code128" 
		 	);


 $("#bar_3").barcode(
		 	"D00100000021751",
		 	"code128" 
		 	);



</script>
