<script src = "http://52.74.176.39/taykit/jquery-latest.min.js" type="text/javascript" ></script>
<script src = "http://52.74.176.39/taykit/jquery-barcode.js" type="text/javascript" ></script>
<table  border="1" style="border-collapse: collapse; border: 1px solid black;">
<tr><td>Store ID:<b>NXT Warehouse</b></td><td>Exec Name:<b>Tavarekere</b></td><td>Date:<b>2015-11-30</b></td></tr>
<tr><td>Runsheet ID:<b>AKAI566MON</b></td><td>Exec Contact:<b></b></td></tr>
<tr><td># Shipments:<b>3</b></td><td>Total COD Amount:<b>6096.0</b></td></tr>
<tr><td>Opening Km:</td><td>Closing Km:</td></tr>
</table><br><br>
<style>tr{  page-break-inside: avoid;    -webkit-region-break-inside: avoid;} table,tr,td,th{ border-collapse: collapse; border: 1px solid black; }</style>
<table border="1"><THEAD><tr><th>#</th><th>Tracking ID</th><th>Customer Name</th><th>Address</th><th>COD Amount</th><th>Retailer</th><th>Shipment type</th><th>Customer Sign</th><th>Deli time</th><th>Remarks</th></tr></THEAD>
<TBODY><tr><td>1</td><td><div id="bar_1"></div></td><td>damini<br>9999337906</td><td>224 B:ranka colony:bilekahalli:bannerghatta road</td><td>2090.0</td><td>retailer1</td><td>Collect</td><td></td><td></td><td></tr>
<tr><td>2</td><td><div id="bar_2"></div></td><td>Sonia<br>9845212336</td><td>C-502:St. Johns Wood Apt:Taverekere Rd.</td><td>2961.0</td><td>retailer1</td><td>Collect</td><td></td><td></td><td></tr>
<tr><td>3</td><td><div id="bar_3"></div></td><td>Nisha<br>7411204744</td><td>Ashirwad Building 133: Ground floor: BTM 1st stage KEB Layout 4th Main: Near jayadeva Hospital</td><td>1045.0</td><td>retailer1</td><td>Collect</td><td></td><td></td><td></tr>
</TBODY></table>
<script>
 $("#bar_1").barcode(
		 	"D00100000014782",
		 	"code128" 
		 	);


 $("#bar_2").barcode(
		 	"D00100000014792",
		 	"code128" 
		 	);


 $("#bar_3").barcode(
		 	"D00100000014848",
		 	"code128" 
		 	);



</script>
