<script src = "http://52.74.176.39/taykit/jquery-latest.min.js" type="text/javascript" ></script>
<script src = "http://52.74.176.39/taykit/jquery-barcode.js" type="text/javascript" ></script>
<table  border="1" style="border-collapse: collapse; border: 1px solid black;">
<tr><td>Store ID:<b>NXT Warehouse</b></td><td>Exec Name:<b>Tavarekere</b></td><td>Date:<b>2015-11-27</b></td></tr>
<tr><td>Runsheet ID:<b>2O68BIFF4F</b></td><td>Exec Contact:<b></b></td></tr>
<tr><td># Shipments:<b>2</b></td><td>Total COD Amount:<b>2878.0</b></td></tr>
<tr><td>Opening Km:</td><td>Closing Km:</td></tr>
</table><br><br>
<style>tr{  page-break-inside: avoid;    -webkit-region-break-inside: avoid;} table,tr,td,th{ border-collapse: collapse; border: 1px solid black; }</style>
<table border="1"><THEAD><tr><th>#</th><th>Tracking ID</th><th>Customer Name</th><th>Address</th><th>COD Amount</th><th>Retailer</th><th>Shipment type</th><th>Customer Sign</th><th>Deli time</th><th>Remarks</th></tr></THEAD>
<TBODY><tr><td>1</td><td><div id="bar_1"></div></td><td>rikitha<br>9866786549</td><td>5 34:107:a block:2nd main:chikkadugodi:taverekere Road:btm layout</td><td>2285.0</td><td>retailer1</td><td>Collect</td><td></td><td></td><td></tr>
<tr><td>2</td><td><div id="bar_2"></div></td><td>Aarohi<br>7406636149</td><td>Room no. 307:GV Comforts PG:3rd cross:SG Palaya:Venkateshwara Layout</td><td>593.0</td><td>retailer1</td><td>Collect</td><td></td><td></td><td></tr>
</TBODY></table>
<script>
 $("#bar_1").barcode(
		 	"D00100000014672",
		 	"code128" 
		 	);


 $("#bar_2").barcode(
		 	"D00100000014679",
		 	"code128" 
		 	);



</script>
