<script src = "http://52.74.176.39/taykit/jquery-latest.min.js" type="text/javascript" ></script>
<script src = "http://52.74.176.39/taykit/jquery-barcode.js" type="text/javascript" ></script>
<table  border="1" style="border-collapse: collapse; border: 1px solid black;">
<tr><td>Store ID:<b>NXT Warehouse</b></td><td>Exec Name:<b>Tavarekere</b></td><td>Date:<b>2015-12-29</b></td></tr>
<tr><td>Runsheet ID:<b>0RGD4OEXI1</b></td><td>Exec Contact:<b></b></td></tr>
<tr><td># Shipments:<b>3</b></td><td>Total COD Amount:<b>1948.0</b></td></tr>
<tr><td>Opening Km:</td><td>Closing Km:</td></tr>
</table><br><br>
<style>tr{  page-break-inside: avoid;    -webkit-region-break-inside: avoid;} table,tr,td,th{ border-collapse: collapse; border: 1px solid black; }</style>
<table border="1"><THEAD><tr><th>#</th><th>Tracking ID</th><th>Customer Name</th><th>Address</th><th>COD Amount</th><th>Retailer</th><th>Shipment type</th><th>Customer Sign</th><th>Deli time</th><th>Remarks</th></tr></THEAD>
<TBODY><tr><td>1</td><td><div id="bar_1"></div></td><td>Amrita<br>9916167784</td><td>204:Crystal Rock Apartments:3rd Cross:Chikku Lakshmiah Layout Oppiste Dominoes. Near Christ Universi</td><td>0.0</td><td>retailer1</td><td>Collect</td><td></td><td></td><td></tr>
<tr><td>2</td><td><div id="bar_2"></div></td><td>Geeta<br>8088130552</td><td>ORACLE INDIA PVT.LTD PRESTIGE BLUE CHIPS 9:HOSUR MAIN ROAD.OPP.CHRIST COLLEGE</td><td>1360.0</td><td>retailer1</td><td>Collect</td><td></td><td></td><td></tr>
<tr><td>3</td><td><div id="bar_3"></div></td><td>Madhura<br>8867759001</td><td>Sri Balaji PG:2nd cross:SG Palya main road Venkateshwara layout</td><td>588.0</td><td>retailer1</td><td>Collect</td><td></td><td></td><td></tr>
</TBODY></table>
<script>
 $("#bar_1").barcode(
		 	"D00100000015855",
		 	"code128" 
		 	);


 $("#bar_2").barcode(
		 	"D00100000021451",
		 	"code128" 
		 	);


 $("#bar_3").barcode(
		 	"D00100000021452",
		 	"code128" 
		 	);



</script>
