<script src = "http://52.74.176.39/taykit/jquery-latest.min.js" type="text/javascript" ></script>
<script src = "http://52.74.176.39/taykit/jquery-barcode.js" type="text/javascript" ></script>
<table  border="1" style="border-collapse: collapse; border: 1px solid black;">
<tr><td>Store ID:<b>NXT Warehouse</b></td><td>Exec Name:<b>Utsav fashion</b></td><td>Date:<b>2015-12-02</b></td></tr>
<tr><td>Runsheet ID:<b>265OL7569L</b></td><td>Exec Contact:<b></b></td></tr>
<tr><td># Shipments:<b>2</b></td><td>Total COD Amount:<b>693.0</b></td></tr>
<tr><td>Opening Km:</td><td>Closing Km:</td></tr>
</table><br><br>
<style>tr{  page-break-inside: avoid;    -webkit-region-break-inside: avoid;} table,tr,td,th{ border-collapse: collapse; border: 1px solid black; }</style>
<table border="1"><THEAD><tr><th>#</th><th>Tracking ID</th><th>Customer Name</th><th>Address</th><th>COD Amount</th><th>Retailer</th><th>Shipment type</th><th>Customer Sign</th><th>Deli time</th><th>Remarks</th></tr></THEAD>
<TBODY><tr><td>1</td><td><div id="bar_1"></div></td><td>Shreya<br>9591522115</td><td>No. 583:Agastya:3rd Cross:7th Main:Vijaya Bank Layout:Near Aiyappa Temple Bannerghatta Road</td><td>355.0</td><td>retailer1</td><td>Collect</td><td></td><td></td><td></tr>
<tr><td>2</td><td><div id="bar_2"></div></td><td>Rajani<br>9845323548</td><td>859:F1:Ashwini Nest:5th Cross:Vijaya Bank Colony Near Cafe Coffee Day:Bannerghatta Road</td><td>338.0</td><td>retailer1</td><td>Collect</td><td></td><td></td><td></tr>
</TBODY></table>
<script>
 $("#bar_1").barcode(
		 	"D00100000020015",
		 	"code128" 
		 	);


 $("#bar_2").barcode(
		 	"D00100000020059",
		 	"code128" 
		 	);



</script>
