<script src = "http://52.74.176.39/taykit/jquery-latest.min.js" type="text/javascript" ></script>
<script src = "http://52.74.176.39/taykit/jquery-barcode.js" type="text/javascript" ></script>
<table  border="1" style="border-collapse: collapse; border: 1px solid black;">
<tr><td>Store ID:<b>NXT Warehouse</b></td><td>Exec Name:<b>Ashok</b></td><td>Date:<b>2015-11-17</b></td></tr>
<tr><td>Runsheet ID:<b>RUN000753</b></td><td>Exec Contact:<b></b></td></tr>
<tr><td># Shipments:<b>13</b></td><td>Total COD Amount:<b>2670.0</b></td></tr>
<tr><td>Opening Km:</td><td>Closing Km:</td></tr>
</table><br><br>
<style>tr{  page-break-inside: avoid;    -webkit-region-break-inside: avoid;} table,tr,td,th{ border-collapse: collapse; border: 1px solid black; }</style>
<table border="1"><THEAD><tr><th>#</th><th>Tracking ID</th><th>Customer Name</th><th>Address</th><th>COD Amount</th><th>Retailer</th><th>Shipment type</th><th>Customer Sign</th><th>Deli time</th><th>Remarks</th></tr></THEAD>
<TBODY><tr><td>1</td><td><div id="bar_1"></div></td><td>Rimzim<br>8050979051</td><td>Cisco Systems:Gate 4:SEZ Unit:Cessna Business Park:Sarjapur Marathalli Outer Ring Road Varthur Hobli</td><td>0.0</td><td>retailer1</td><td>Delivery</td><td></td><td></td><td></tr>
<tr><td>2</td><td><div id="bar_2"></div></td><td>Ashokkumar<br>9880367691</td><td>Symantec Software Solutions Pvt. Ltd. 10th floor:RMZ Ecoworld:Campus 8B Marathalli Outer Ring Road::</td><td>0.0</td><td>retailer1</td><td>Delivery</td><td></td><td></td><td></tr>
<tr><td>3</td><td><div id="bar_3"></div></td><td>Dipti<br>9880441301</td><td>F-305:Nagarjuna greenwoods Aptts Kadubisanahalli: Outer Ring Road</td><td>0.0</td><td>retailer1</td><td>Delivery</td><td></td><td></td><td></tr>
<tr><td>4</td><td><div id="bar_4"></div></td><td>Mohan<br>9620020204</td><td>C block G-03 Bhavya Prestine:Gear school road:CISCO back gate Bhoganahalli village: Kannalli road</td><td>0.0</td><td>retailer1</td><td>Delivery</td><td></td><td></td><td></tr>
<tr><td>5</td><td><div id="bar_5"></div></td><td>Vijesh<br>9742565397</td><td>Geometric Limited:Embassy Tech Vilage:Ground Floor Tower 3 of 2B:Devarabeesanahalli Village</td><td>0.0</td><td>retailer1</td><td>Delivery</td><td></td><td></td><td></tr>
<tr><td>6</td><td><div id="bar_6"></div></td><td>Nupoor<br>9538916705</td><td>Intel Technology India Pvt Ltd:No 23-56 P Devarabeesanahalli: Outer Ring Road: Varthur Hobli: Bellan</td><td>0.0</td><td>retailer1</td><td>Delivery</td><td></td><td></td><td></tr>
<tr><td>7</td><td><div id="bar_7"></div></td><td>Akshra<br>9620802391</td><td>3rd floor:B wing:Etamin block:Prestige Technology Park II Sarjapur-Marathahalli Outer Ring Road: Ban</td><td>0.0</td><td>retailer1</td><td>Delivery</td><td></td><td></td><td></tr>
<tr><td>8</td><td><div id="bar_8"></div></td><td>Bidipta<br>9738270853</td><td>Intel Technology India Pvt Ltd:Devarabishanahalli Village Sarjapur: outer ring road: beside Ecospace</td><td>0.0</td><td>retailer1</td><td>Delivery</td><td></td><td></td><td></tr>
<tr><td>9</td><td><div id="bar_9"></div></td><td>Monali<br>8904722559</td><td>Cisco office:gate-4:Cessna Business Park Marathalli Outer Ring Road: Varthur Hobli: Kadubeesanahalli</td><td>0.0</td><td>retailer1</td><td>Delivery</td><td></td><td></td><td></tr>
<tr><td>10</td><td><div id="bar_10"></div></td><td>Christine<br>8762760066</td><td>Time Inc 5th floor CAMPUS 8A RMZ ECOWORLD BELLANDUR</td><td>3.0</td><td>retailer1</td><td>Delivery</td><td></td><td></td><td></tr>
<tr><td>11</td><td><div id="bar_11"></div></td><td>Biswajit<br>9739441742</td><td>4A Ecospace business Park:minacs Building:3rd Floor Lenovo Process: Outer Ring Road: Bellandur</td><td>258.0</td><td>retailer1</td><td>Delivery</td><td></td><td></td><td></tr>
<tr><td>12</td><td><div id="bar_12"></div></td><td>Vinay<br>9844115643</td><td>LSI India R&D Pvt. Ltd.:Global Tech Park:Block -C:Marathahalli Outer Ring Road:Devarabeesanahall</td><td>834.0</td><td>retailer1</td><td>Delivery</td><td></td><td></td><td></tr>
<tr><td>13</td><td><div id="bar_13"></div></td><td>Pratima<br>8884010088</td><td>Wipro technologies:6th floor:B wing:RMZ eco space:RMZ Outer Ring Road:Opposite Pratham Motor</td><td>1575.0</td><td>retailer1</td><td>Delivery</td><td></td><td></td><td></tr>
</TBODY></table>
<script>
 $("#bar_1").barcode(
		 	"D00100000008487",
		 	"code128" 
		 	);


 $("#bar_2").barcode(
		 	"D00100000008567",
		 	"code128" 
		 	);


 $("#bar_3").barcode(
		 	"D00100000008649",
		 	"code128" 
		 	);


 $("#bar_4").barcode(
		 	"D00100000008651",
		 	"code128" 
		 	);


 $("#bar_5").barcode(
		 	"D00100000008671",
		 	"code128" 
		 	);


 $("#bar_6").barcode(
		 	"D00100000008682",
		 	"code128" 
		 	);


 $("#bar_7").barcode(
		 	"D00100000008684",
		 	"code128" 
		 	);


 $("#bar_8").barcode(
		 	"D00100000008686",
		 	"code128" 
		 	);


 $("#bar_9").barcode(
		 	"D00100000008693",
		 	"code128" 
		 	);


 $("#bar_10").barcode(
		 	"D00100000013957",
		 	"code128" 
		 	);


 $("#bar_11").barcode(
		 	"D00100000013969",
		 	"code128" 
		 	);


 $("#bar_12").barcode(
		 	"D00100000013971",
		 	"code128" 
		 	);


 $("#bar_13").barcode(
		 	"D00100000014000",
		 	"code128" 
		 	);



</script>
