 
	 
        <div class="modal-header">
            <h3 class="modal-title" >Add Device Details</h3>
        </div>
        <div class="modal-body" >

                       <form>
						<table align="center">
							  <tr>
								<td><label>Serial no.</label></td>
								<td><input type="text" ng-model="Device.serialNO" required
									placeholder=" Devive Name" class="form-control"> <span
									class="help-block"></span></td>
							</tr>
							<tr>
								<td><label>Device name</label></td>
								<td><input type="text" ng-model="Device.name" required
									placeholder=" Devive Name" class="form-control"> <span
									class="help-block"></span></td>
							</tr>

                            <tr>
								<td><label>Device Type</label></td>
								<td><input type="text" ng-model="Device.type" required
									placeholder=" Device Type" class="form-control"> <span
									class="help-block"></span></td>
							</tr>
							  <tr>
								<td><label>Device Number/IMEI</label></td>
								<td><input type="text" ng-model="Device.emeiNO" required
									placeholder=" Device Number/IMEI" class="form-control"> <span
									class="help-block"></span></td>
							</tr><tr>
								<td><label>Sim NO</label></td>
								<td><input type="text" ng-model="Device.simNo" required
									placeholder="sim number" class="form-control"> <span
									class="help-block"></span></td>
							</tr>
	<tr>
								<td><label>Assigned to</label></td>
								<td><input type="text" ng-model="Device.assignedTo" required
									placeholder=" Assigned To" class="form-control"> <span
									class="help-block"></span></td>
							</tr>
							<tr>
								<td><label>Device Description</label></td>
								<td><textarea rows="4" cols="50"
										ng-model="Device.description" placeholder="write description" required></textarea>
									<span class="help-block"></span></td>
							</tr>

							<tr>

							 
						</table>
            
</form>
</div>
 <div class="modal-footer">
            
            <button class="btn btn-default"  ng-click="close()">Cancel</button>
            <button class="btn btn-success" ng-click="save()">Save</button>
        </div>


