
<div  ng-controller="roleController">
	<table class="table">
		<tr>

			<td style="border-top: 0px;"><a ui-sref="roledetail"><button
						class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;Add Role</button></a></td>
			<!-- <td style="border-top:0px; width:250px" align="right"><input type="text" class="form-control" placeholder="Search" ng-model="filterOptions.filterText" /></td> -->
		</tr>
	</table>

 
	<div style="height: 500px" ui-grid="gridOptions1"
		ui-grid-pagination class="grid"></div>

</div>

<div class="modal fade" id="myModal" tabindex="-1" data-keyboard="false"
	data-backdrop="static" role="dialog" aria-labelledby="myModalLabel"
	aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title">Role Details</h4>
			</div>

			<div>

				<form role="form">
					<div class="box-body">
						<div class="form-group">
							<label for="exampleInputEmail1">Role Name</label> <input
								type="email" class="form-control" id="exampleInputEmail1"
								placeholder="Category">
						</div>

						<!--    <div class="form-group">
                                         <label>City</label>
                                            <select class="form-control">
                                                <option>Bangalore</option>
                                                <option>option 2</option>
                                                <option>option 3</option>
                                                <option>option 4</option>
                                                <option>option 5</option>
                                            </select>
                                        </div> -->

						<div class="form-group">
							<label>Notes</label>
							<textarea class="form-control" rows="3" placeholder="Enter ..."></textarea>
						</div>

						<div style="margin-top: 20px"
							ng-controller="roleDetailsController">
							<strong>Search:&nbsp;&nbsp;</strong><input type="text"
								ng-model="filterOptions.filterText" />



							<hr>

							<div
								style="border: 1px solid rgb(212, 212, 212); width: 100%; height: 200px; margin-left: 0%; margin-right: 0%"
								ng-grid="gridUser"></div>

						</div>


					</div>
					<!-- /.box-body -->

					<div class="modal-footer">

						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						<!-- <button type="button" class="btn btn-primary">Submit</button> -->
						<button style="margin-left: 10px" class="btn btn-primary btn-md"
							data-dismiss="modal">SAVE</button>
					</div>


				</form>





			</div>



		</div>
	</div>
</div>




