<div ng-controller="AddretailerController">

	<!-- <table>
		<tr>
			<td>
				<h1 style="margin-left: 300px">RETAILER DETAILS</h1>
			</td>
		</tr>
	</table> -->
	<br>
		<div>
            <form action="createRetailer1" method="post">
            
			<div class="col-md-6">
			
				<div class="blog-post blog-single-post">


					<div class="single-post-content">


						<table>
							<tr>
								<td><label>Retailer Name</label></td></tr>
								<tr>
								<td><input type="text" name="retailerName"
									placeholder=" Retailer Name" class="form-control"> <span
									class="help-block"></span></td>
							</tr>

							<tr>
								<td><label>Retailer Type</label></td></tr>
								<tr>
								<td><input type="text" name="retailerType"
									placeholder=" Retailer Type" class="form-control"> <span
									class="help-block"></span></td>
							</tr>
						
							
							<tr>
								<td><label>Retailer Address</label></td></tr><tr>
								<td><textarea cols="50" rows="5" name="retailerAddress" placeholder="Retailer Address"></textarea> <span
									class="help-block"></span> <br></td>
							</tr>
							<tr>
								<td><label>Retailer city</label></td></tr><tr>
								<td><input type="text" name="retailerCity"
									placeholder=" Retailer City" class="form-control"> <span
									class="help-block"></span></td>
							</tr>
							<tr>
								<td><label>Pincode</label></td></tr><tr>
								<td><input type="text" name="retailerArea"
									placeholder="Pincode" class="form-control"> <span
									class="help-block"></span></td>
							</tr>

							<tr>
								<td><label>Retailer Mobile</label></td></tr><tr>
								<td><input type="text" name="mobile"
									placeholder=" Retailer mobile" class="form-control"> <span
									class="help-block"></span></td>
							</tr>


							<tr>
								<td><label>Retailer Email</label></td></tr><tr>
								<td><input type="text" name="retailerEmail"
									placeholder=" Retailer Email" class="form-control"> <span
									class="help-block"></span></td>
							</tr>
							<tr>
								<td><label>Geo Location</label></td></tr><tr>
								<td><input type="text" name="retailerGeoLocation"
									placeholder=" Retailer Location" class="form-control"></td>
									<td><button class="btn btn-primary">Geo location</button></td>
							</tr>
							
						</table>
					</div>

				</div>
				</div>
				<div class="col-md-6">
				 <div class="panel panel-primary">
			     <div class="panel-heading">
				<h3 class="panel-title">Services Provided.....</h3>
			   </div>
			    <div class="panel-body">
				<table class="table table-bordered">
				<tr>
				<td>select</td><td>Feature</td><td>Description</td>
				</tr>
				<tr>
				<td><input type="checkbox" name="retailerService" value="retailerDeliveryPickup"/></td>
				<td>delivery/pickup</td>
				<td>select the check box only if the retailer provides delivery/pickup service </td>
				</tr>
				<tr>
				<td><input type="checkbox" name="retailerService" value="retailerReturn" /></td>
				<td>Returns</td>
				<td>select the check box only if the retailer provides returns service </td>
				</tr>
				<tr>
				<td><input type="checkbox" name="retailerService" value="retailerTrail" /></td>
				<td>Trails</td>
				<td>select the check box only if the retailer provides Trail service </td>
				</tr>
				</table>
				</div>
				</div>
				</div>
				<div class="col-md-6">
				 <div class="panel panel-primary">
			<div class="panel-heading"> Categories Serviced.....</h3>
			</div>
			<div class="panel-body">
				<table class="table table-bordered">
				<tr>
				<td>select</td><td>Category</td><td>Description</td>
				</tr>
				<tr>
				<td><input type="checkbox" name="productCategory" value="productElectronics" /></td>
				<td>Electronics</td>
				<td>electronics category desccription</td>
				</tr>
				<tr>
				<td><input type="checkbox" name="productCategory" value="productTextile" /></td>
				<td>Textile</td>
				<td>text category desccription</td>
				</tr>
				<tr>
				<td><input type="checkbox" name="productCategory" value="productShoes" /></td>
				<td>Shoes</td>
				<td>shoes category desccription</td>
				</tr>
				</table>
				</div>
				</div>
				</div>
			<div class="col-md-12" style="margin-top: 30px">
				<button style="margin-left: 0px" class="btn btn-primary"
					ng-click="addContact()" data-toggle="modal"><span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;Add Contact</button>
				<br><div style="margin-top:5px;border: 1px solid rgb(212, 212, 212);height: 100px"
					ng-grid="contactGrid"></div>
			</div>
			<div class="col-md-12" style="margin-top: 20px">
				<button style="margin-left: 0px" class="btn btn-primary"
					ng-click="addWarehouse()" data-toggle="modal"><span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;Add Warehouse</button>
				<br><div style="margin-top:5px;border: 1px solid rgb(212, 212, 212);height: 100px"
					ng-grid="warehouseGrid"></div>
			</div>
 
		<div class="col-md-12">
			<table class="table">
				<tr>
					<td style="border-top: 0px" align="right">
					<button style="margin-top: 20px;" type="submit" class="btn btn-success">
							Save</button>
						<button style="margin-top: 20px;" class="btn btn-default">
							Cancel</button>
						
					</td>
				</tr>
			</table>
		</div>
	 
			</form>
       

</div>
</div>


