<div ng-controller="addStoreController">

	<!-- <table>
		<tr>
			<td>
				<h1 style="margin-left: 400px">STORE DETAILS</h1>
			</td>
		</tr>
	</table> -->
	<br>
	<div>
		<form>

			<div class="col-md-6">

				<div class="blog-post blog-single-post">


					<div class="single-post-content">


						<table>
							<tr>
								<td><label>Store Name</label></td></tr>
								<tr>
								<td><input type="text" ng-model="Store.name" required
									placeholder=" Store Name" class="form-control"> <span
									class="help-block"></span></td>
							</tr>

							<tr>
								<td><label>Store Type</label></td></tr>
								<tr>
								<td><input type="text" ng-model="Store.type" required
									placeholder=" Store Type" class="form-control"> <span
									class="help-block"></span></td>
							</tr>
								
							<tr>
								<td><label>Store Address</label></td></tr><tr>
								<td><textarea cols="50" rows="5" ng-model="Store.address" placeholder="Store Address" required></textarea> <span
									class="help-block"></span> <br></td>
							</tr>
							<tr>
								<td><label>Store city</label></td></tr><tr>
								<td><input type="text" ng-model="Store.city" required
									placeholder=" Store City" class="form-control"> <span
									class="help-block"></span></td>
							</tr>
							<tr>
								<td><label>Store Pincode</label></td></tr><tr>
								<td><input type="text" ng-model="Store.pincode" required
									placeholder=" Store Pincode" class="form-control"> <span
									class="help-block"></span></td>
							</tr>
							<tr>
								<td><label>Store Landmark</label></td></tr><tr>
								<td><input type="text" ng-model="Store.landMark" required
									placeholder=" Store Landmark" class="form-control"> <span
									class="help-block"></span></td>
							</tr>
							<tr>
								<td><label>Map Location</label></td></tr><tr>
								<td><input type="text" ng-model="Store.geoLocation" required
									placeholder=" Store Location" class="form-control"></td>
									<td><button class="btn btn-primary">Map location</button></td>
							</tr>
							<tr>
								<td><label>Store Category</label></td></tr>
								<tr>
								<td style="width:100px"><select class="form-control" ng-model="Store.category" required>
                                 <option value="tailor">Tailor</option>
                                 <option value="housewife">Housewife</option>
                                 <option value="kiryana">Kiryana</option>
                                 <option value="bakery">Bakery</option>
                                  </select></td>
							</tr>
							<tr>
								<td><label> Reporting Store </label></td></tr><tr>
								<td><input type="text" ng-model="Store.reportingStore" typeahead="store.name for store in stores" required
								
									placeholder=" Store City" class="form-control"> <span
									class="help-block"></span></td>
							</tr>
							<tr>
								<td><label> Survey Token </label></td></tr><tr>
								<td><input type="text" ng-model="Store.surveyToken" required
									placeholder=" Store City" class="form-control"> <span
									class="help-block"></span></td>
							</tr>
							<tr><td><label> Payment Modes </label></td></tr>
							<tr>
							<td><input type="checkbox" ng-model="Store.cashPayment" value="true">Cash</td></tr>
							<tr>
                             <td>
                             <input type="checkbox" ng-model="Store.creditCardPayment" value="true"> Credit Card</td></tr>
                             <tr><td>
                             <input type="checkbox" ng-model="Store.mobilePayment" value="true">Mobile Payments</td></tr> 
							<tr> 
							
							<td><label>EDM Available</label></td></tr>
							<tr><td>
							<input type="radio"  ng-model="Store.edmAvailbility" value="true" required>YES
                            <input style="margin-left:20px" type="radio"  ng-model="Store.edmAvailbility" value="false">NO</td>
							</tr>
							<tr>
							<td><label>CCTV Camera</label></td></tr>
							<tr><td>
							<input type="text" ng-model="Store.cctvId"
									placeholder=" CCTV Camera Id" class="form-control">
									<input type="hidden" ng-model="Store.service"
									 class="form-control">
							</tr>		
							
						</table>
					</div>

				</div>
			</div>
			<div class="col-md-6">
				<!-- <table>
					<tr>
						<td>timings</td>
						<td>from</td>
						<td Style="padding-left: 10px"><input class="form-control"
							type="time" value="09:30:00" name=timingFrom
							placeholder="opening time"></td>
						<td>To</td>
						<td><input class="form-control" type="time" value="18:30:00"
							name=timingTo placeholder="Closing time"></td>
					</tr>
				</table> -->
				<div class="panel panel-primary" style="margin-top: 20px">
					<div class="panel-heading">
						<h3 class="panel-title">Services Provided.....</h3>
					</div>
					<div class="panel-body">
						<table class="table table-bordered">
							<tr>
								<td>select</td>
								<td>Feature</td>
								<td>Description</td>
							</tr>
						
								
								
							<tr ng-repeat="service in services">
							<td><input type="checkbox" ng-model="service.serviceStatus"/></td>
							<td>{{service.name}}</td>
							<td>{{service.description}}</td>

							</tr>
						</table>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title">Catagories Serviced.....</h3>
					</div>
					<div class="panel-body">
						<table class="table table-bordered">
							<tr>
							
								<td>select</td>
								<td>Category</td>
								<td>Description</td>
							</tr>
							<tr ng-repeat="category in categoryServices">
								<td><input type="checkbox" ng-model="category.categoryStatus" /></td>
								<td>{{category.categoryName}}</td>
								<td>{{category.categorydesc}}</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
			<div class="col-md-12" style="margin-top: 30px">
				<button style="margin-left: 0px" class="btn btn-primary"
					ng-click="addContact()" data-toggle="modal"><span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;Add Contact</button>
					<br>
				<div style="margin-top:5px;border: 1px solid rgb(212, 212, 212); height: 250px"
					ng-grid="contactGrid"></div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<table class="table">
						<tr>
							<td style="border-top: 0px" align="right">
							<button style="margin-top: 20px;" ng-type="submit" class="btn btn-success" class="form-control" ng-click="save()">
									Save</button>
								<button style="margin-top: 20px;" class="btn btn-default">
									Cancel</button>
								
							</td>
						</tr>
					</table>
				</div>
			</div>

		</form>
	</div>
</div>





