

<!-- <a ui-sref="createuser">
   									<button style=margin-top:20px;margin-left:0.5% ; class="btn btn-hg btn-primary">
  									CREATE USER
									</button>
							  </a> -->
<!-- <a ui-sref="deleteuser"> -->
<!-- <button style=margin-top:20px;  class="btn btn-primary btn-md" data-toggle="modal" data-target="#myModal">
  								Add User
									</button> -->
<!--   </a> -->
<!-- <a ui-sref="resetpassword">
   									<button style=margin-top:20px; class="btn btn-hg btn-primary">
  									RESET PASSWORD
									</button>
							  </a> -->


<div ng-controller="userController">
	<table class="table">
		<tr>

			<td style="border-top: 0px; align: left"><a ui-sref="userdetail"><button
						class="btn btn-primary "><span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;Add User</button></a></td>
			<!-- <td style="border-top:0px; width:250px" align="right"><input type="text" class="form-control" placeholder="Search" ng-model="filterOptions.filterText" /></td> -->
		</tr>
	</table>


 

	<div style="height: 500px" ui-grid="gridOptions1"
		ui-grid-pagination class="grid"></div>

</div>

<div class="modal fade" id="myModal" tabindex="-1" data-keyboard="false"
	data-backdrop="static" role="dialog" aria-labelledby="myModalLabel"
	aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title">User Details</h4>
			</div>

			<div>

				<form role="form">
					<div class="box-body">
						<div class="form-group">
							<label for="exampleInputEmail1">Full Name</label> <input
								type="text"  name="userName"class="form-control" 
								placeholder="Full Name">
						</div>
						<div class="form-group">
							<label for="exampleInputEmail1">Designation</label> <input
								type="text" name="userType" class="form-control" 
								placeholder="Designation">
						</div>
						<div class="form-group">
							<label for="exampleInputEmail1">Contact No</label> <input
								type="text" name="userMobil" class="form-control" 
								placeholder="Contact No">
						</div>

						<div class="form-group">
							<label for="exampleInputEmail1">Email Id</label> <input
								type="text" name="userEmail"  class="form-control" 
								placeholder="Email Id">
						</div>

						<div class="form-group">
							<label for="exampleInputEmail1">Login Name</label> <input
								type="text" class="form-control" name="userLogin"
								placeholder="Login Name">
						</div>
						<div class="form-group">
							<label for="exampleInputEmail1">Password </label> <input
								type="text" class="form-control" name="userPassword" 
								placeholder="Password">
						</div>
						<div class="form-group">
							<label for="exampleInputEmail1">Confirm Password</label> <input
								type="text" name="userPassword" class="form-control"
								placeholder="Confirm Password">
						</div>
						<div class="form-group">
							<label>Roles</label> <select multiple class="form-control">
								<option>Store Supervisor</option>
								<option>Store Manager</option>
								<option>Store Executive</option>
								<option>Delivery Boy</option>
								<option>Accountant</option>
							</select>
						</div>
						<!--    <div class="form-group">
                                         <label>City</label>
                                            <select class="form-control">
                                                <option>Bangalore</option>
                                                <option>option 2</option>
                                                <option>option 3</option>
                                                <option>option 4</option>
                                                <option>option 5</option>
                                            </select>
                                        </div> -->

						<table class="table table-bordered">
							<thead>
								<tr>
									<th>sl No</th>
									<th>Module Name</th>
									<th>Permission</th>

								</tr>
							</thead>
							<tbody>
								<tr>
									<td>1</td>
									<td>Store Management</td>

									<td><label class="checkbox-inline"><input
											type="checkbox" value="">create/update</label><label
										class="checkbox-inline"><input type="checkbox"
											value="">Change Status</label></td>
								</tr>

							</tbody>
						</table>


					</div>
					<!-- /.box-body -->

					<div class="modal-footer">

						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						<!-- <button type="button" class="btn btn-primary">Submit</button> -->
						<button type="submit" style="margin-left: 10px" class="btn btn-primary btn-md"
							data-dismiss="modal">SAVE</button>
					</div>


				</form>





			</div>



		</div>
	</div>
</div>




