			<div >

							
							
							  
							
							  
							   <div style=margin-top:20px ng-controller="areaController">	
						<table class="table" >
								<tr>
									
									<td style="border-top:0px;align:left"><button class="btn btn-primary btn-md"  data-toggle="modal" data-target="#myModal" >ADD AREA</button></td>
									<!-- <td style="border-top:0px; width:250px" align="right"><input type="text" class="form-control" placeholder="Search" ng-model="filterOptions.filterText" /></td> -->
								</tr>
							</table>
						
					
							
					<hr>
          
 							<div style="height:550px;margin-top:-40px" ui-grid="gridOptions1" ui-grid-pagination class="grid"></div>
    								
    								</div>
    								
    									<div  class="modal fade" id="myModal" tabindex="-1" data-keyboard="false" data-backdrop="static"
 									role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
 									 <div class="modal-dialog">
 								   <div class="modal-content">
  											    <div class="modal-header">
  								     <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
   							     <h4 class="modal-title">AREA DETAILS</h4>
   					   </div>
      
    <div >
	  			 
							
						
		
					 <form role="form">
                                    <div class="box-body">
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Name</label>
                                            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Name">
                                        </div>
                                        
                                        <div class="form-group">
                                         <label>City</label>
                                            <select class="form-control">
                                                <option>Bangalore</option>
                                                <option>option 2</option>
                                                <option>option 3</option>
                                                <option>option 4</option>
                                                <option>option 5</option>
                                            </select>
                                        </div>
                                      
                                        <div class="form-group">
                                            <label>Notes</label>
                                            <textarea class="form-control" rows="3" placeholder="Enter ..."></textarea>
                                        </div>
                                     <!--    <div class="form-group">
                                            <label for="exampleInputFile">File input</label>
                                            <input type="file" id="exampleInputFile">
                                            <p class="help-block">Example block-level help text here.</p>
                                        </div> -->
                                        <div class="form-group">
                                            <label>
                                                <input type="checkbox"> Active
                                            </label>
                                        </div>
                                    </div><!-- /.box-body -->
                                    
                                     	<div class="modal-footer">
      
       										 <button type="button" class="btn btn-default" data-dismiss="modal" >Close</button>
       											 <!-- <button type="button" class="btn btn-primary">Submit</button> -->
         											 <button style="margin-left:10px" class="btn btn-primary btn-md" data-dismiss="modal" >SAVE</button>
      												</div>

                                   
                                </form>	
      
      	
    </div>
  </div></div>

 
							
					
 							
</div>
</div>
	