
<div ng-controller="outwardRetursTodeliveryBoys">
	<div align="center">
		<h3>Outward To Delivery Boys</h3>
	</div>
	<div>

		<form ng-submit="save()">
			<table align="center">
				<tr>
					<td><label>Outward Location.</label></td>
					<td><input type="text" ng-model="outward.fromLocation"
						placeholder="Outward Location" class="form-control" disabled > <span
						class="help-block"></span></td>
				</tr>
				<!-- <tr>
					<td><label>Delivery Boy</label></td>
					<td><input type="text" ng-model="outward.assignTo" required
						placeholder="Delivery Boy" class="form-control" name="assignTo" typeahead="obj.deliveryBoyName for obj in deliveryBoys|filter:$viewValue" ng-change="getInactiveRunsheetList(outward.assignTo)"> <span
						class="help-block"></span></td>
				</tr> -->
						<tr>
					<td><label>Delivery Boy</label></td>
			
						<td><select ng-options="option.deliveryBoyName as option.deliveryBoyName for option in deliveryBoys" 
        ng-model="outward.assignTo" class="form-control" name="assignTo"  ng-change="getInactiveRunsheetList(outward.assignTo)">
      
						<option value="">Select Name</option></select></td>
				</tr>
				 <tr>
					<td><label>Runsheet Number</label></td>
					<td><input type="text" ng-model="outward.runSheetNumber" required
						placeholder="Runsheet Number" class="form-control" typeahead="obj for obj in listOfInactiveRunsheets" > <span
						class="help-block"></span></td>
				</tr> 
				<tr>
					<td><label>Tracking Number</label></td>
					<td><input type="text" ng-model="outward.trackingId" required
						placeholder="Tracking No." class="form-control"  > <span
						class="help-block"></span></td>
				</tr>
				<tr>
				<td align="center" colspan="2"> <button class="btn btn-default"  ng-click="close()">Cancel</button>
            	<button type="submit" class="btn btn-success" ">Save</button><button class="btn btn-success"  ng-click="ActivateReturnRunSheet(outward.runSheetNumber,outward.assignTo)">DONE</button></td>
				</tr>

			</table>

		</form>
	</div>
	<div align="center">

		
	</div>
</div>