<div style="margin-top:80px; margin-right:20px;" class="box box-success"ng-controller="attachmentController">

						
							  <h2 style="margin-left:100px">ADD ATTACHMENTS</h2>
				<form action=" attachments" method="POST">
				<div style="margin-top:'150px'" class="row">
					
					<div class="col-sm-6">
						<div class="blog-post blog-single-post">
							
							
							<div class="single-post-content">
							  
							  
							  <label>OrderID</label>
						<input type="text"  name="orderId"  placeholder=" OrderID"  class="form-control" >
						<span class="help-block"></span> <br>
						<label>Attachment Name</label>
						<input type="text"  name="attachmentName"  placeholder=" attachment Name"  class="form-control" >
						<span class="help-block"></span> <br>
						
						<label>Attachment Desc</label>
						<input type="text"  name="attachmentDesc"  placeholder="Attachment Desc"  class="form-control" >
						<span class="help-block"></span> <br>
						
						<label>Attachment Date</label>
						<input type="date"  name="AttachmentDate"  placeholder=" Attachment Date"  class="form-control" >
						<span class="help-block"></span> <br>
						
						
						
						
							  <button style="margin-top:20px;margin-bottom:20px;" class="btn btn-hg btn-primary">
  									Save Attachment
									</button>
							  
							 <a ui-sref="order">
   									<button style="margin-top:20px;margin-bottom:20px;" class="btn btn-default pull-right">
  									Close
									</button><br>
									</a>
									
									</div>
									</div>
									</div>
									</div>
								
									
									</form>
							  
							  
							  
					
							
					<hr>
					  <div style=margin-top:20px ng-controller="attachmentController">	
					<strong>Search:&nbsp;&nbsp;</strong><input type="text" ng-model="filterOptions.filterText" />
						
					
							
					<hr>
          
 							 <div style=" border: 1px solid rgb(212,212,212);
   								 width: 1000px; 
    								height: 200px;" ng-grid="gridUse"></div>
    								
    								</div>
							
          
 							
</div>
					