<br><br>
<div ng-controller="bulkAssign" >
 				
						<!-- <form class="form">
						<table>	
						
						<tr>
						<td><label>Status</label>
	                    <input type="text" ng-model="Status" size="20" typeahead="obj.status for obj in statuses" required>					
						</td>
						<td><button class="btn btn-success" class="from-control" ng-click="ChangeStatus()">Update Status</button></td>
						</tr>
						</table>
						</form> -->
			<!-- 			<div style="float:left">
						<form>
						<table>
						<tr><td>
	<label>Which columns should we export?</label></td><td>
      <select ng-model="export_column_type" class="form-control">
        <option value='all'>All</option>
        <option value='visible'>Visible</option>
      </select></td>
      <td>
      <label>Which rows should we export?</label></td><td>
      <select ng-model="export_row_type" class="form-control">
        <option value='all'>All</option>
        <option value='visible'>Visible</option>
        <option value='selected'>Selected</option>
      </select></td>
      <td>
      <label>What format would you like?</label></td><td>
      <select ng-model="export_format" class="form-control">
        <option value='csv'>CSV</option>
        <option value='pdf'>PDF</option>
      </select></td>
      <td style="margin-left:50px">
      <button ng-click="export()" class="btn btn-success" class="from-control">Export</button>
      <div class="custom-csv-link-location">
        <label>C:downloads</label>
        <span class="ui-grid-exporter-csv-link">&nbsp</span>
      </div></td>   
      </tr> 
      </table> 								 			
	</form>
	</div> -->
    					
        
	  	<div class="container-fluid">

		<button ng-click="export()" class="btn btn-success" class="from-control" style="float: right !important;margin-right:20px">Export</button>
		<br>
		<div class="row">
	
		<div class="col-xs-1 col-sm-1 col-md-1">
			
				<h3>Filter By:</h3>
			
		</div>
		<form class="form-group" ng-submit="seacrhNormalOrder(dis)" method="post">
		<div class="col-xs-11 col-sm-11 col-md-11">
						
						<div style="float:left">
	    				<label for="from" >Order Status </label>
					    <input type="text" class="form-control" id="from" ng-model="dis.orderStatus"  typeahead="user.orderStatus for user in myAll|filter:$viewValue|limitTo:5" placeholder="Enter Order Status"  >
					    </div>
					    
					    <div style="float:left">
	    				<label for="from" >Payment Type </label>
					    <input type="text" class="form-control" id="from" ng-model="dis.paymentType" typeahead="user.paymentType for user in myAll|filter:$viewValue|limitTo:5"  placeholder="Enter Payment Type" >
					    </div>
				
	  					<div style="float:left">
	    				<label for="from" >Receipt Date From </label>
					    <input type="date" class="form-control" id="from" ng-model="dis.fromDate" >
					    </div>
					 
					    <div style="float:left"> 
					    <label for="to">Receipt Date To </label>
					    <input type="date" class="form-control" id="to" ng-model="dis.toDate" >
					    </div>
					    <div style="float:left" >
					    <label for="retailer">Retailer Name </label>
					    <input type="text" class="form-control" ng-model="dis.retailerName" typeahead="user.retailerName for user in myRetailer|filter:$viewValue|limitTo:5" placeholder="Enter retailer name" >
					    </div>
					    
					    <div style="float:left">
	    				<label for="from" >By Location </label>
					    <input type="text" class="form-control" id="from" ng-model="dis.location" typeahead="user.location for user in myAll|filter:$viewValue|limitTo:5" placeholder="Enter location">
					    </div>
					    <div style="float:left">
	    				<label for="from" >DeliveredDate From</label>
					    <input type="date" class="form-control" id="from" ng-model="dis.deliveredFromDate">
					    </div>
					    <div style="float:left">
	    				<label for="from" >DeliveredDate To</label>
					    <input type="date" class="form-control" id="from" ng-model="dis.deliveredToDate">
					    </div>
					
					  <br>
					  
					  <button type="submit" class="btn btn-primary">Search</button>
					  <button type="button" class="btn btn-primary" ng-click="resetTable(dis)">Clear</button>    
					  <button type="button" class="btn btn-primary" ng-click="ShowHide()"><span class="glyphicon glyphicon-plus"></span> </button>
					
			
		</div>
		
		<div class="col-xs-1 col-sm-1 col-md-1">
			
				
			
		</div>
		
		<div class="col-xs-11 col-sm-11 col-md-11" id="advanceDiv" ng-hide = "IsHidden">
			
				
	  					<div style="float:left">
	    				<label for="from" >Order Id </label>
					    <input type="text" class="form-control" id="from" ng-model="dis.orderId" typeahead="user.orderId for user in myAll|filter:$viewValue|limitTo:5" placeholder="Enter orderId">
					    </div>
					 
					    <div style="float:left"> 
					    <label for="to">Customer Contact </label>
					    <input type="text" class="form-control" id="to" ng-model="dis.customerContact"  typeahead="user.customerContact for user in myAll|filter:$viewValue|limitTo:5" placeholder="Enter Customer Contact" >
					    </div>
					    <div style="float:left" >
					    <label for="retailer">Asigned Store Name </label>
					    <input type="text" class="form-control" ng-model="dis.assignedStoreName"  typeahead="user.name for user in myStore|filter:$viewValue|limitTo:5" placeholder="Assigned Stores">
					    </div>
					    
					    
					    
					
					  <br>	
		</div>
				  
				</form>
  		
  		</div>
  		</div>
  		<br>
	 	<div id="mydiv">
    	<img src="img/ajax-loader.gif" class="ajax-loader"  height="150px" width="150px"/>
		</div>
    	<div Style="height:500px" id="grid1" ui-grid="gridOptions" external-scopes="myScope" ui-grid-resize-columns ui-grid-exporter ui-grid-selection ui-grid-pagination class="grid"></div>
    					
 						
</div>	
		

