<div ng-controller="bulkAssign" >
						
						<form name="signup_form" method="POST">
							<div style="width:100%">
								<table class="table" >
								<tr>
									<td style="border-top:0px;width:250px"><input type="number"  name="assignTo" ng-model="assignTo" placeholder="Assign order to"  class="form-control" ></td>
									<td style="border-top:0px;"><button class="btn btn-primary btn-md"  ng-click="save()">Assign</button></td>
									<td style="border-top:0px; width:250px" align="right"><input type="text" class="form-control" placeholder="Search" ng-model="filterOptions.filterText" /></td>
								</tr>
							</table>
							</div>
 							 		<div style=" border: 1px solid rgb(212,212,212);
   											width:99%;height: 500px; margin-left:10px;margin-right:10px" ng-grid="gridUser">
    								</div>
    								
    								 
    								
    					</form>		
</div>			

