			<div style="margin-top:80px; margin-right:20px;" class="box box-success">

							<a ui-sref="attempts">
   									<button style=margin-top:20px; class="btn btn-hg btn-primary">
  									ATTEMPTS
									</button>
							  </a>
							<a ui-sref="callogs">
   									<button style=margin-top:20px; class="btn btn-hg btn-primary">
  									CALL LOG
									</button>
							  </a>
							  
							
							  
							   <div style=margin-top:20px ng-controller="logController">	
					<strong>Search:&nbsp;&nbsp;</strong><input type="text" ng-model="filterOptions.filterText" />
						
					
							
					<hr>
          
 							 <div style=" border: 1px solid rgb(212,212,212);
   							width:100%;height: 200px; margin-left:0%;margin-right:0%" ng-grid="gridUser"></div>
    								
    								</div>
							
					
 							
</div>
	