 <div class="modal-header">
            <h3 class="modal-title">Cash Shortfall Details</h3>
        </div>
        <div class="modal-body" >
                <form ng-submit="submit">
						<table align="center">
							<tr>
								<td><label>Runsheet No.</label></td>
								<td><input type="text" ng-model="Cash.runsheetNo" Disabled
									placeholder=" runsheet no." class="form-control"> <span
									class="help-block"></span></td>
							</tr>
								<tr>
								<td><label>Delivery User.</label></td>
								<td><input type="text" ng-model="Cash.deliveryUser" Disabled
									placeholder=" Delivery User" class="form-control"> <span
									class="help-block"></span></td>
							</tr>
					
							<tr>
								<td><label> Amount</label></td>
								<td><input type="text" ng-model="Cash.shortFallAmount" disabled required
									placeholder=" ShortFall Amount" class="form-control"> <span
									class="help-block"></span></td>
							</tr>
							
							<tr>
							<td><label>description </label></td>
							<td><textarea cols="50" rows="5" ng-model="Cash.description" placeholder="write Description for shortfall" required></textarea>
                                   <span class="help-block"></span></td>
							</tr>

						
						</table>
						 <div class="modal-footer">
            
            
            <button class="btn btn-success" ng-type="submit" data-dismiss="modal" ng-click="save()">Save Report</button>
            <button class="btn btn-default" data-dismiss="modal" ng-click="close()">Close</button>
        </div>
</form>
        </div>
       
		
	 
	