
<div style="width:100%;height:100%" ng-controller="cashManagmentController">
<div style="width:100%">
	<table class="table">
		<tr>
			<td><a ui-sref="paymentcollection">
					<button style="border-top:0px";" class="btn btn-hg btn-primary">
						Make Entry</button>
			</a></td>
		<tr>
	</table>
	</div>
<div Style="height:800px" id="grid1" ui-grid="gridOptions" class="grid"></div>
</div>
