 <div class="modal-header">
            <h3 class="modal-title">Cash Reciept</h3>
        </div>
        <div class="modal-body" >
                <form ng-submit="submit">
						<table align="center">
							<tr>
								<td><label>Delivery User.</label></td>
								<td><input type="text" ng-model="Receipt.deliveryUser" Disabled
									placeholder=" runsheet no." class="form-control"> <span
									class="help-block"></span></td>
							</tr>
							
							<tr>
								<td><label> Runsheet no.</label></td>
								<td><input type="text" ng-model="Receipt.runsheetNo" Disabled
									placeholder=" Tracking ID" class="form-control"> <span
									class="help-block"></span></td>
							</tr>
							<tr>
								<td><label> Cash To Collect</label></td>
								<td><input type="text" ng-model="Receipt.codToCollect" disabled ng-change="change()" required
									placeholder="Amount To Collect" class="form-control"> <span
									class="help-block"></span></td>
							</tr>
							<tr>
								<td><label> Cash Handed Over</label></td>
								<td><input type="text" ng-model="Receipt.codPaid" value="0" ng-change="change()" required
									placeholder=" Cash Paid" class="form-control"> <span
									class="help-block"></span></td>
							</tr>
							<tr>
								<td><label> Card Payment</label></td>
								<td><input type="text" ng-model="Receipt.cardPayment" value="0" ng-change="change()" required
									placeholder=" Paid By Card" class="form-control"> <span
									class="help-block"></span></td>
							</tr>
							<tr>
								<td><label> Shortfall Amount</label></td>
								<td><input type="text" ng-model="Receipt.shortFallAmount" disabled required
									placeholder=" ShortFall Amount" class="form-control"> <span
									class="help-block"></span></td>
							</tr>
								
						</table>
						 <div class="modal-footer">
            
            
            <button class="btn btn-success" ng-type="submit" data-dismiss="modal" ng-click="save()">Save Report</button>
            <button class="btn btn-default" data-dismiss="modal" ng-click="close()">Close</button>
        </div>
</form>
        </div>
       
		
	 
	