
<div style="width:100%;height:100%" ng-controller="cashTranferDetailsController">
<div style="width:100%">
	<table class="table">
		<tr>
			<td style="border-top:0px"><a ui-sref="transfercash">
					<button class="btn btn-hg btn-primary">
						Transfer Cash</button>
			</a></td>
								<td style="border-top:0px;width:250px" align="right"><input type="text" class="form-control" placeholder="Search" ng-model="filterOptions.filterText" /></td>

		<tr>
	</table>
			 <div style=" border: 1px solid rgb(212,212,212);
   							width:100%;height: 500px; margin-left:0%;margin-right:0%" ng-grid="gridUser"></div>

</div>
</div>



	 
		