<div div style="width:100%;height:100%" ng-controller="categoryController">
	<div style="width: 100%">
		<table class="table">
			<tr>

				<td style="border-top: 0px; align: left"><button
						class="btn btn-primary" data-toggle="modal"
						data-target="#myModal">
						<span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;Add Category
					</button></td>
				<!-- <td style="border-top:0px; width:250px" align="right"><input type="text" class="form-control" placeholder="Search" ng-model="filterOptions.filterText" /></td> -->
			</tr>
			
		</table>
		<div style="height: 530px" ui-grid="gridOptions1"
		ui-grid-pagination class="grid"></div>
	</div>



	 

	

</div>

<div class="modal fade" id="myModal" tabindex="-1" data-keyboard="false"
	data-backdrop="static" role="dialog" aria-labelledby="myModalLabel"
	aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title">Product Category</h4>
			</div>

			<div>
				<form action="createCategory" method="POST">
					<table class="table">
						<tr>
							<td style="border-top:0px"><b>Category:</b></td>
							<td style="border-top:0px"><input type="text" class="form-control" name="categoryName"
								placeholder="Category"></td>
						</tr>
						<tr>
							<td style="border-top:0px"><b>Description:</b></td>
							<td style="border-top:0px"> <textarea class="form-control" rows="3" name="categoryDesc" placeholder="Description"></textarea></td>
						</tr>
						<tr>
							<td style="border-top:0px" colspan="2" align="center"><b><input type="checkbox" checked="checked" name="categroyStatus">
								Active</b></td>
							 
						</tr>
					</table>
				
				 

					<div class="modal-footer">

						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						<!-- <button type="button" class="btn btn-primary">Submit</button> -->
						<button type="submit"   class="btn btn-success">Save</button>
					</div>
					
					</form>


				 

			</div>



		</div>
	</div>
</div>





 
