<div  ng-controller="cityController">	
					<table class="table" >
								<tr>
									
									<td style="border-top:0px;align:left"><button class="btn btn-primary btn-md"  data-toggle="modal" data-target="#myModal" ><span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;Add City</button></td>
									<!-- <td style="border-top:0px; width:250px" align="right"><input type="text" class="form-control" placeholder="Search" ng-model="filterOptions.filterText" /></td> -->
								</tr>
							</table>
						
					
							
					<hr>
          
 							 <div style="height:550px;margin-top:-40px" ui-grid="gridOptions1" ui-grid-pagination class="grid"></div>
    								
    								</div>
    								
    									<div  class="modal fade" id="myModal" tabindex="-1" data-keyboard="false" data-backdrop="static"
 									role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
 									 <div class="modal-dialog">
 								   <div class="modal-content">
  											    <div class="modal-header">
  								     <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
   							     <h4 class="modal-title">City Details</h4>
   					   </div>
      
    <div >
	  			 
							<form action="createCity" method="post">
								<table class="table">
									<tr>
										<td style="border-top:0px"><b>Name:</b></td>
										<td style="border-top:0px"><b><input type="text" name="cityName" class="form-control" id="exampleInputEmail1" placeholder="Name"></b></td>
									</tr>
									<tr>
										<td style="border-top:0px"><b>Notes:</b></td>
										<td style="border-top:0px"><b><textarea class="form-control"  name="notes"rows="3" placeholder="Notes"></textarea></b></td>
									</tr>
									<tr>
										<td style="border-top:0px" colspan="2" align="center"><b><input type="checkbox" name="status" checked> Active</b></td>
									 
									</tr>
								</table>
								<div class="modal-footer">
      
       										 <button type="button" class="btn btn-default" data-dismiss="modal" >Close</button>
       											 <!-- <button type="button" class="btn btn-primary">Submit</button> -->
         											 <button type="submit" class="btn btn-success"  >Save</button>
      												</div>
								
							</form>
						
		 
                                     	
                                   
                           
      
      	
    </div>
  </div></div>

 
							
					
 							
</div>
	