			<div class="row">
				<form action="createWebComment" method="post">
					<div class="col-md-6">
						<table class="table">
							<tr>
								<td style="border-top:0px"><h4><b>Comments</b></h4></td>
								<td style="border-top:0px"><textarea rows="4" cols="50" name="commentText" class="form-control">
									</textarea>
								</td>
							</tr>
							<tr>
								<td style="border-top:0px" align="right" colspan="2"><button type="submit" class="btn btn-primary">Add Comment</button></td>
							</tr>
						</table>
					</div>
				</form>
			</div>	
			<div class="row">
				 
					<table class="table" style="width:">
						<tr>
							<td style="border-top:0px"><h3><b>Comments</b></h3></td>
						</tr>
						<tr>
							<td style="border-top:0px"></td>
						</tr>
						<tr>
							<td style="border-top:0px" align="right"><button>Cancel</button></td>
						</tr>
					</table>
				 
			</div>
				
				<!-- 
				<h2 style="margin-left:100px">ORDER COMMENT</h2>
				<form action="createWebComment" method="post">
				<div class="row">
					
					<div class="col-sm-6">
						<div class="blog-post blog-single-post">
							
							
							<div class="single-post-content">
							
							
							  
							<label>Tracking Id</label>
						<input type="text"  name="trackingId"  placeholder=" User Type"  class="form-control" required >
						<span class="help-block"></span>
						
						
						
						
						<label> Comment Text</label>
						<textarea rows="4" cols="50" name="commentText" class="form-control">
						</textarea><br>
						
						<label> Order Status</label>
						<select id="simpleColorSel1" class="form-control select select-primary select-block mbl" name="orderStatus" >
 				 		
   													   <option value=""></option>
   						 								<option value="out for delivery">out for delivery </option>
    													<option value="pudo outlet">pudo outlet</option>
    													<option value="delivered">delivered</option>
    													<option value="customer initiated delay">customer initiated delay</option>
    													<option value="order cancelled-Material@Warehouse">order cancelled-Material@Warehouse</option>
    													<option value="order cancelled-RTO">order cancelled-RTO</option>
    					 								<option value="NA@delivery point">NA@delivery point</option>
    													<option value="customer not reachable">customer not reachable</option>
    													<option value="product at central warehouse">product at central warehouse</option>
  
							</select>
						
						
						
						
						
						
   									<button style="margin-top:20px;margin-bottom:20px;" class="btn btn-hg btn-primary">
  									Save
									</button>
							  
							 <a ui-sref="users">
   									<button style="margin-top:20px;margin-bottom:20px;" class="btn btn-default pull-right">
  									Close
									</button><br>
								</a>
						
						
								
							</div>
						</div>
					</div>
					
					

					
					</div>
					</form>
					
 -->