				
				
				
				<h2 style="margin-left:100px">CREATE USER</h2>
				<form action="createUser" method="post">
				<div class="row">
					
					<div class="col-sm-6">
						<div class="blog-post blog-single-post">
							
							
							<div class="single-post-content">
							
							
							  
							<label>Pudo Type</label>
						<input type="number"  name="userType"  placeholder=" User Type"  class="form-control" required >
						<span class="help-block"></span>
						
						
						<label>User Role	</label>
						<input type="text"  name="userRole"  placeholder=" User Role"  class="form-control" required >
						<span class="help-block"></span>
						
						<label>User Login</label>
						<input type="text"  name="userLogin"  placeholder=" User Login"  class="form-control" required >
						<span class="help-block"></span> <br>
						<label>User Password</label>
						<input type="text"  name="userPassword"  placeholder=" User Password"  class="form-control" required >
						<span class="help-block"></span> <br>
						
						<label>User Mobile</label>
						<input type="text"  name="userMobil"  placeholder=" User mobile"  class="form-control" >
						<span class="help-block"></span> <br>
						
						<label>User Email</label>
						<input type="text"  name="userEmail"  placeholder=" User email"  class="form-control" >
						<span class="help-block"></span> <br>
						
						<label>User Status</label>
						<input type="text"  name="userStatus"  placeholder=" User Status"  class="form-control" >
						<span class="help-block"></span> <br>
						
						
						
   									<button style="margin-top:20px;margin-bottom:20px;" class="btn btn-hg btn-primary">
  									Save User
									</button>
							  
							 <a ui-sref="users">
   									<button style="margin-top:20px;margin-bottom:20px;" class="btn btn-default pull-right">
  									Close
									</button><br>
									</a>
						
						
								
							</div>
						</div>
					</div>
					
					

					
					</div>
					</form>
					
