
<html lang="en">


    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
        

    

        
        <h2 >CREATE ORDER</h2>
        <form  action="createorderform" method="post" style="margin-right:140px;margin-left:20px">
        <div style="margin-top:50px" class="section">
	    	
				<div class="row">
					<!-- Blog Post Excerpt -->
					<div class="col-sm-6">
						<div class="blog-post blog-single-post">
							<div class="single-post-title">
							<!-- 	<h2>Exerci Tation Ullamcorper</h2> -->
							</div>

							<div class="single-post-content">
							
							
							
							<!-- <button  type="submit" class="btn btn-hg btn-primary">
  								
							</button><br><br> -->
						<div >		
						<label>Order Id</label>
						<input  name="orderId"  placeholder=" Order Id" ng-model = "dis.orderId"  class="form-control" type="text" required  />
						<span class="help-block"></span>
						</div>
								
						<label>Tracking Id</label>
						<input  name="trackingId"  placeholder=" Tracking Id" ng-model = "dis.trackingId"  class="form-control" type="text" required/>
						<span class="help-block"></span>
						
						<label>Order Title</label>
						<input type="text"  name="orderTitle"  placeholder=" Order Title" ng-model = "dis.orderTitle" class="form-control" >
						<span class="help-block"></span>
						
						<label> Detail</label>
						<textarea rows="4" cols="50" name="orderDetail" ng-model = "dis.orderDetail" class="form-control">
						</textarea><br>
						
						<label>priority</label>
						<select name="orderPriority" class="form-control" ng-model="dis.orderPriority">
   							 <option value="high">High</option>
   							 <option value="low">Low</option>
    						
						</select>
						<span class="help-block"></span>
						
						<span class="help-block"></span>
						
						<label>Status</label>
						<select class="form-control select select-primary select-block mbl" name="orderStatus" ng-model = "dis.orderStatus" required>
 				 		
   						 								<option value=""></option>
   						 								<option value="out for delivery">out for delivery </option>
    													<option value="pudo outlet">pudo outlet</option>
    													<option value="delivered">delivered</option>
    													<option value="customer initiated delay">customer initiated delay</option>
    													<option value="order cancelled-Material@Warehouse">order cancelled-Material@Warehouse</option>
    													<option value="order cancelled-RTO">order cancelled-RTO</option>
    					 								<option value="NA@delivery point">NA@delivery point</option>
    													<option value="customer not reachable">customer not reachable</option>
    													<option value="product at central warehouse">product at central warehouse</option>
    													
    						
	  					</optgroup>
  
							</select>
						<span class="help-block"></span>
						
						<label>Payment type</label>
						<select class="form-control select select-primary select-block mbl" name="paymentType" ng-model="dis.paymentType" required>
 				 		
   						 <option value="cod">cod</option>
    					<option value="prepaid">prepaid</option>
    					
    						
	  					</optgroup>
  
							</select>
						<span class="help-block"></span>
						
						<label>Payment Refrence</label>
						<input type="text"  name="paymentRefrence"  ng-model = "dis.paymentRefrence" placeholder=" payment Reference"  class="form-control" >
						<span class="help-block"></span>
						
					
							</div>
							
							
						</div>
					</div>
					<!-- End Blog Post Excerpt -->
					

					<!-- Blog Post Excerpt -->
					<div class="col-sm-6">
						<div class="blog-post blog-single-post">
							<div class="single-post-title">
								<!-- <h2>Exerci Tation Ullamcorper</h2> -->
							</div>

							<div class="single-post-content">
							
							
							<label>Order Type</label>
						<select id="simpleColorSel2" class="form-control select select-primary select-block mbl" name="orderType" ng-model = "dis.orderType">

   						 <option value="delivery">delivery</option>
    					<option value="pickup">pickup</option>
    						
	  					
  
							</select>
						<span class="help-block"></span>
						<span class="help-block"></span>
							
								
						 <label>Retailer</label>
						<input name="retailerId" ng-model="dis.retailerId" placeholder=" Retailer Id"  class="form-control" type="number" required
						typeahead="dis.retailerId for dis in retailers | filter:$viewValue | limitTo:4 " ng-blur="getRet(dis.retailerId)"></td>
						<span class="help-block"></span> 
						
						<label> Order Ref no</label>
						<input type="text"  name="orderRefno" ng-model = "dis.orderRefno" placeholder=" Order Ref No"  class="form-control" >
						<span class="help-block"></span>
						
						<label>Customer Name</label>
						<input name="customerName"  ng-model = "dis.customerName" placeholder=" Customer Name"  class="form-control" type="text"/>
						<span class="help-block"></span>
						<label>Emailid</label>
						<input type="text"  name="customerEmailId" ng-model="dis.customerEmailId"  placeholder=" Customer Email"  class="form-control" >
						<span class="help-block"></span>
						<label>Customer Address</label>
						<input type="text"  name="CustomerAddress" ng-model="dis.CustomerAddress"  placeholder=" Customer Address"  class="form-control" >
						<span class="help-block"></span>
								
							 	
						
						<label>Contact no</label>
						<input  name="customerContactno"  ng-model = "dis.customerContactno" placeholder=" CustomerContactNo"  class="form-control"  type="text" required />
						<span class="help-block"></span>
						
						<label>Pin Code</label>
						<input  name="pinCode"  ng-model = "dis.pinCode" placeholder=" pinCode"  class="form-control"  type="text" required />
						<span class="help-block"></span>
						
						
																		
						<label>Value</label>
						<input type="text"  name="value"  ng-model = "dis.value" placeholder=" value"  class="form-control" >
						<span class="help-block"></span>
						
						
						
					
							</div>
							
														
						</div>
					</div>
					
					
											
					
				</div>
				<hr>
				<div class="row">
					<!-- Blog Post Excerpt -->
					<div class="col-sm-6">
						<div class="blog-post blog-single-post">
							
							
							<div class="single-post-content">
							<label>Receipt Date</label>
						<input type="date"  name="reciptDate" ng-model="dis.reciptDate" placeholder=" Receipt Date"  class="form-control" >
						<span class="help-block"></span>
						<label>Bay no</label>
						<input type="text"  name="bayNumber"  ng-model="dis.bayNumber" placeholder=" Bay Number"  class="form-control" >
						<span class="help-block"></span>
						
							</div>
						</div>
					</div>
					<!-- End Blog Post Excerpt -->
					

					<!-- Blog Post Excerpt -->
					<div class="col-sm-6">
						<div class="blog-post blog-single-post">
							
							
							<div class="single-post-content">
							<label>Delivery Date</label>
								<input type="date"  name="deliveredDate" ng-model="dis.deliveredDate"  placeholder=" Delivery Date"  class="form-control" >
						<span class="help-block"></span>
						<label>Delivered by</label>
						<input type="text"  name="deliveredBy" ng-model="dis.deliveredBy" placeholder=" Delivered by"  class="form-control" >
						<span class="help-block"></span>
						</div>
					</div>
					<!-- End Blog Post Excerpt -->
</div>
				
				
			</div>
			
			<hr>
				<div class="row">
				<div class="col-sm-6">
						<div class="blog-post blog-single-post">
							
							
							<!-- <div id="name-group" class="form-group" style="width:60%;" > -->
							<!-- <div class="btn btn-primary btn-lg btn-block"> -->
              			
              			<button type="submit" style=margin-top:20px; class="btn btn-hg btn-primary">
  									Save
									</button>
              			
            				<!-- </div> -->
            	<!-- 	</div> -->
						</div>
					</div>
					
					</div>
					
			
			
	    </div>

	    </form>

       <!-- <div class="col-sm-6">
						<div class="blog-post blog-single-post">
							
							<a ui-sref="product">
   									<button style=margin-top:20px; class="btn btn-hg btn-primary">
  									Close
									</button>
							  </a>
							
						</div>
					</div> -->
       
       
       
       
       
       <!--  <!-- Javascripts -->
      <!--   <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/jquery-1.9.1.min.js"><\/script>')</script>
        <script src="js/bootstrap.min.js"></script>
		
		Scrolling Nav JavaScript
		<script src="js/jquery.easing.min.js"></script>
		<script src="js/scrolling-nav.js"></script>	 -->	 

    </body>
    
</html>