				
				
				
				
				<form action="createstore" method="post">
				<!-- <div class="row">
					
					<div class="col-sm-6"> -->
					<div id="division">
					<h2 style="margin-left:100px">CREATE STORE</h2>
						<div class="blog-post blog-single-post">
							
							
							<div class="single-post-content">
							
							
							
						<label>Store Id	</label><br>
						<input type="text"  name="storeId" id="subscription-email-text-field"  placeholder=" Store Id"  class="form-control" >
						<span class="help-block"></span>
						
						<label>Store Name	</label><br>
						<input type="text"  name="storeName"  placeholder=" Store Name"   id="subscription-email-text-field" >
						<span class="help-block"></span>
						
						<label>Store Type	</label><br>
						<input type="text"  name="storeName"  placeholder=" Store Type"  id="subscription-email-text-field" >
						<span class="help-block"></span>
						
						<label>Store Address</label><br>
						<input type="text"  name="storeAddress"  placeholder=" Store Address"  id="subscription-email-text-field" >
						<span class="help-block"></span> <br>
						<label>Store City</label><br>
						<input type="text"   name="storeName"  placeholder=" Store Area" id="subscription-email-text-field" >
						<button class="btn btn-hg btn-primary"   data-toggle="modal" data-target="#myModal">
  									 City 
  									</button>
						<span class="help-block"></span> <br>
						
						<label>Store Area</label><br>
						<input type="text"  name="storeName"  placeholder=" Store Area" id="subscription-email-text-field" >&nbsp;&nbsp;<button class="btn btn-hg btn-primary"   data-toggle="modal" data-target="#myModal">
  									 AREA 
  									</button>
						<span class="help-block"></span>
						<label>Store Email	</label><br>
						<input type="text"  name="storeName"  placeholder=" Store Email"  id="subscription-email-text-field" >
						<span class="help-block"></span>
						<label>Store Contact no</label><br>
						<input type="text"  name="storeContactno"  placeholder=" Store Contact no"  id="subscription-email-text-field" >
						<span class="help-block"></span> <br>
						
						
						
						
   									<button style="margin-top:20px;margin-bottom:20px;" class="btn btn-hg btn-primary">
  									Save 
									</button>
							  
							 <a ui-sref="stores">
   									<button style="margin-top:20px;margin-bottom:20px;margin-left:45%" class="btn btn-hg btn-primary">
  									Close
									</button><br>
									</a>
						
						
								
							</div>
						</div>
					</div>
				
					
					

					
					</div>
					</form>
					
	<div  class="modal fade" id="myModal" tabindex="-1" data-keyboard="false" data-backdrop="static"
 									role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
 									 <div class="modal-dialog">
 								   <div class="modal-content">
  											    <div class="modal-header">
  								     <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
   							     <h4 class="modal-title">STORE AREA</h4>
   					   </div>
      
    <div >
	   <label>Store Area</label>
						<input type="text"  name="storeName"  placeholder=" Store Area"  class="form-control" >
						<span class="help-block"></span>
	    <button style="margin-left:10px" class="btn btn-primary btn-md" data-dismiss="modal" >SAVE</button>
	</div>
	
      
      	<div class="modal-footer">
      
        <button type="button" class="btn btn-default" data-dismiss="modal" >Close</button>
        <!-- <button type="button" class="btn btn-primary">Submit</button> -->
        
      	</div>
    </div>
  </div></div>
  
  <div  class="modal fade" id="myModal1" tabindex="-1" data-keyboard="false" data-backdrop="static"
 									role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
 									 <div class="modal-dialog">
 								   <div class="modal-content">
  											    <div class="modal-header">
  								     <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
   							     <h4 class="modal-title">STORE CITY</h4>
   					   </div>
      
    <div >
	   <label>Store City	</label>
						<input type="text"  name="storeName"  placeholder=" Store City"  class="form-control" >
						<span class="help-block"></span>
	    <button style="margin-left:10px" class="btn btn-primary btn-md" data-dismiss="modal" >SAVE</button>
	</div>
	
      
      	<div class="modal-footer">
      
        <button type="button" class="btn btn-default" data-dismiss="modal" >Close</button>
        <!-- <button type="button" class="btn btn-primary">Submit</button> -->
        
      	</div>
    </div>
  <!-- </div></div> -->
  
  <style>
  
  
  *, *:before, *:after {-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
input[type="text"] {
    background-color: #fafafa;
    padding: 7px;
    font-family: helvetica, arial, sans-serif;
    font-size: 1.2em;
    margin-bottom: 20px;
    display: block;
    border: solid 2px #bbb;
    color: #6f6f6f;
}
input[type="submit"] {
	background-color: #fafafa;
    font-family: helvetica, arial, sans-serif;
    font-size: 1.0em;
    font-weight:bold;
    padding: 7px;
    color: #6f6f6f;
}
input[type="submit"]:hover {
	background-color: #ff379f;	
	color: #fafafa;
}
#subscription-email-text-field {
    vertical-align: top;
	display:inline-block; 
	font-size:0.9em; 
	font-weight:400; 
	border:2; 
	width:50%;
	height:32px;
	margin:0;
}
#subscribe-button {
	display:inline-block;
    border: 1px solid black;
	border-width:0px 0px 0px 1px;
	margin:0;
	height:32px;
	background-color: #3c8dbc;
  border-color: #367fa9;
}

#division {
	/* display:inline-block;
    border: 1px solid black;
	border-width:0px 0px 0px 1px; */
	margin-left:25%;
	margin-right:25
	/* height:32px; */
}
  
  
  </style>