 
 
 <div ng-controller="trackController">
 	<div class="row ">
			 				<div class="col-lg-12" align:"center">
								<form ng-submit="getTrack()">
								 
									<h2>LIVE ORDER</h2>
								<!-- <hr class="light"> -->
								<table class="table table-striped" align="center">
									<tr>
										 

										<td colspan="3" align="center"><b>Enter Customer Contact:&nbsp;&nbsp;</b><input type="text" autofocus required ng-model="orderIdz" id="orderIdz">
											<button class="btn btn-warning" type="submit">TRACK</button>
										</td>
										 
									</tr>
									<tr>

										<td><b>TrackingId</b></td>
										<td><b>OrderId</b></td>
										<td><b>orderstatus</b></td>
										<td><b>ReceiptDate</b></td>
										<td><b>OrderType</b></td>
										
										<td><b>RetailerId</b></td>
									<tr>
									<tr ng-repeat="order in status">

										<td>{{order.trackingId}}</td>
										<td>{{order.orderId}}</td>
										<td>{{order.orderStatus}}</td>
										<td>{{order.receiptDate}}</td>
										<td>{{order.orderType}}</td>
										
										<td>{{order.retailerId}}</td>
									</tr>

									</tr>
								</table><br><br><br>
							
								<h2>PAST HISTORY</h2>	
							
									<table class="table table-striped" align="center">
									
								<tr>

										<td><b>TrackingId</b></td>
										<td><b>OrderId</b></td>
										<td><b>orderstatus</b></td>
										<td><b>ReceiptDate</b></td>
										<td><b>OrderType</b></td>
										
										<td><b>RetailerId</b></td>
									<tr>
									<tr ng-repeat="ord in pastorder">

										<td>{{ord.trackingId}}</td>
										<td>{{ord.orderId}}</td>
										<td>{{ord.orderStatus}}</td>
										<td>{{ord.receiptDate}}</td>
										<td>{{ord.orderType}}</td>
										
										<td>{{ord.retailerId}}</td>
									</tr>
									<tr>

									</tr>
								</table>
							
								
								</form>
							</div>
						 </div>
		 </div>
 
</div>