<div ng-controller="customerHistory">
	<form ng-submit="getOrders()">
		<div class="col-md-6">
			<table>
				<tr>
					<td><b>Customer Contact:</b></td>
					<td><input type="input" placeholder="Customer Contact" ng-blur="getPrevious(customer.contact)" required class="form-control" ng-model="customer.contact"></td>
					
				</tr>
				<tr>
					<td><b>Order Type:</b></td>
					<td><input type="input" placeholder="Order Type"  required ng-blur="showStores(customer.orderType)" class="form-control" typeahead="type for type in ['Collect','Delivery','return']|filter:$viewValue|limitTo:2" ng-model="customer.orderType"></td>
					
				</tr>
				<tr ng-show="collectFlag">
					<td><b>Store Name:</b></td>
					<td><input type="input" placeholder="Store Name" value="none" typeahead="obj.name for obj in stores"  class="form-control" ng-model="customer.storeName"></td>
					
				</tr>
				<tr >
					<td><b>Comments:</b></td>
					<td><textarea ng-model="customer.comments" class="form-control"></textarea></td>
					
				</tr>
				<tr>
					<td colspan="2" align="center"><button type="submit" class="btn btn-success">Save</button></td>
				</tr>
			</table>
		</div>
		<div class="col-md-6">
			<table class="table table-hover">
				<tr>
					<td><b>Order Type</b></td>
					<td><b>Store Name</b></td>
					<td><b>Comments</b></td>
				</tr>
				<tr ng-repeat="hist in history">
					<td>{{hist.orderType}}</td>
					<td>{{hist.storeName}}</td>
					<td>{{hist.comments}}</td>
				</tr>
			</table>
		</div>
		 
	</form>
	<!-- <table class="table table-hover table-bordered">
		<tr>
			<td><b>Customer Name</b></td>
			<td><b>Order Id</b></td>
			<td><b>Tracking Id</b></td>
			<td><b>Order Details</b></td>
			<td><b>Order Status</b></td>
			<td><b>Order Value</b></td>
			<td><b>Order Delivered Date</b></td>
			<td><b>Assigned Store</b></td>
			<td><b>Location</b></td>
			<td><b>Delivery Boy</b></td>
			<td><b>Attempts</b></td>
			<td><b>Address</b></td>
			<td><b>City</b></td>
			<td><b>Pincode</b></td>
		</tr>
		<tr ng-repeat="order in orders">
			<td>{{order.customerName}}</td>
			<td>{{order.orderId}}</td>
			<td>{{order.trackingId}}</td>
			<td>{{order.orderDetails}}</td>
			<td>{{order.orderStatus}}</td>
			<td>{{order.orderValue}}</td>
			<td>{{order.deliveredDate}}</td>
			<td>{{order.storeId}}</td>
			<td>{{order.location}}</td>
			<td>{{order.asignedTo}}</td>
			<td>{{order.attempts}}</td>
			<td>{{order.customerAddress}}</td>
			<td>{{order.cityName}}</td>
			<td>{{order.customerZipcode}}</td>
		</tr> 
	</table>-->
</div>