<h2 style="margin-left:100px"> DELETE USER</h2>
				<form action="deleteUser" method="Post">
				
				<div style="margin-top:'150px'" class="row">
					
					<div class="col-sm-6">
						<div class="blog-post blog-single-post">
							
							
							<div class="single-post-content">
							
							
							  
							<label>ENTER USER ID TO DELETE</label>
						<input type="text"  name="userId"  placeholder=" USER ID"  class="form-control" >
						<span class="help-block"></span>
						
						<button type="submit" style="margin-top:20px;margin-bottom:20px;" class="btn btn-hg btn-primary">
  									DELETE
								</button>
									
									<a ui-sref="users">
   									<button style="margin-top:20px;margin-bottom:20px;" class="btn btn-default pull-right">
  									CANCEL
									</button><br>
								</a>
								
								</div>
								</div>
								</div>
								</div>
								</form>