<div ng-controller="deliveryStatusUpdate">
	<form ng-submit="getRunSheet()">
		<table class="table table-hover table-bordered" style="width:100%">
			<tr>
				<td>
					<b>Store Name:</b><input type="text" ng-model="name" class="form-control" disabled>
				</td>
				<td>
					<b>Delivery Boy:</b><input type="text" ng-disabled="boys" ng-model="obj.assignedTo" typeahead="obj.deliveryBoyName for obj in deliveryBoys|filter:$viewValue |limitTo:4" class="form-control">
				</td>
				<td>
					<b>All Delivery Boys:</b><input type="checkbox" ng-model="boys" >
				</td>
				<td>
					<b>Date:</b><input type="date" required ng-model="obj.deliveryBoyAssignDate" class="form-control">
				</td>
				<td>
					<button type="submit" class="btn btn-primary">Show</button>
					<button type="button" class="btn ">Clear</button>
				</td>
			</tr>
		</table>
	</form>
	<table class="table table-hover table-bordered" style="width:100%">
		<tr class="info">
			<td><b>Runsheet Number</b></td>
			<td><b>Total Shipment</b></td>
			<td><b>Total Prepaid Delivered</b></td>
			<td><b>Total Prepaid Pending</b></td>
			<td><b>Total COD</b></td>
			<td><b>Total COD Delivered</b></td>
			<td><b>Total COD UnDelivered</b></td>
			<td><b>Total COD Collect (Rs.)</b></td>
			 
		</tr>
		<tr ng-repeat="detail in details">
			<td><a ng-click="loadByRunSheet(detail.runsheetNumber,detail.runsheetStatus)">{{detail.runsheetNumber}}</a></td>
			<td>{{detail.totalOrders}}</td>
			<td>{{detail.totalPrepaidDelivered}}</td>
			<td>{{detail.totalPrepaidPending}}</td>
			<td>{{detail.totalCOD}}</td>
			<td>{{detail.totalCODDelivered}}</td>
			<td>{{detail.totalCODPending}}</td>
			
			<td>{{detail.codCollected}}</td>
		</tr>
	</table>
	
	<!--  -->
	
			

	<!--   -->

</div>