<div ng-controller="deliveryStatusUpdate2">
	<form>
		<div style="height:570px;overflow:scroll">
			<table class="table table-hover">
				<tr>
					<td><b>Order Id</b></td>
					<td><b>Tracking Id</b></td>
					<td><b>Customer Name</b></td>
					<td><b>Order Type</b></td>
					<td><b>Assigned Store</b></td>
					<td><b>Store Assigned Date</b></td>
					<td><b>Delivery Boy</b></td>
					<td><b>Order Status</b></td>
					<td><b>Reason</b></td>
					<td><b>Current Location</b></td>
					<td><b>Receipt Date</b></td>
					<td><b>Delivered Date</b></td>
					<td><b>Retailer Id</b></td>
					<td><b>Attempts</b></td>
				</tr>
				<tr ng-repeat="obj in orders">
					<td>{{obj.orderId}}</td>
					<td>{{obj.trackingId}}</td>
					<td>{{obj.customerName}}</td>
					<td>{{obj.orderType}}</td>
					<td>{{obj.storeId}}</td>
					<td>{{obj.storeAssignDate}}</td>
					<td>{{obj.assignedTo}}</td>
					<input type="hidden" ng-model="obj.deliveredFlag">
					<td><input type="text" ng-disabled="obj.deliveredFlag" ng-model="obj.orderStatus" typeahead="ob for ob in statuses |filter:$viewValue |limitTo:4" ng-blur="loadReason($index,obj.orderStatus)"></td>
					<td><input type="text" ng-disabled="obj.deliveredFlag" ng-model="obj.reason" typeahead="ob for ob in reasons|filter:$viewValue |limitTo:4" ></td>
					<td>{{obj.location}}</td>
					<td>{{obj.receiptDate}}</td>
					<td>{{obj.deliveredDate}}</td>
					<td>{{obj.retailerId}}</td>
					<td>{{obj.attempts}}</td>
				</tr>
			</table>
			
		</div>
		<table>
				<tr align="center">
					<td >
						<button class="btn btn-primary" ng-click="save()">Save</button>
						<button class="btn btn-primary" ng-click="closeRunSheet()">Close Runsheet</button>
						<button class="btn btn-primary" ng-click="cancel()">Cancel</button>
					</td>	
				</tr>
			</table>
	</form>
</div>