<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body ng-controller="depositController">
	 
	<form ng-submit="insert(deposit)">
		<div style="width:500px;height:100%">
			<table class="table table-hover">
				<tr>
					<td style="border-top: none;"><b>Retailer</b></td>
					<td style="border-top: none;"><input type="text" id="retailer"
						ng-model="deposit.retailerName" required class="form-control"
						typeahead="deposit.retailerName for deposit in retailers | filter:$viewValue | limitTo:4 " ng-blur="getRet(deposit.retailerName)"></td>
				</tr>
				<tr>
					<td style="border-top: none;"><b>Date of Deposit</b></td>
					<td style="border-top: none;"><input type="date" id="dt"
						ng-model="deposit.date" required class="form-control"></td>
				</tr>
				<tr>
					<td style="border-top: none;"><b>Amount</b></td>
					<td style="border-top: none;"><input type="number"
						ng-model="deposit.amount" required class="form-control"></td>
				</tr>
				<tr>
					<td style="border-top: none;"><b>Reference Number</b></td>
					<td style="border-top: none;"><input type="text"
						ng-model="deposit.referenceNo" required class="form-control"></td>
				</tr>
				<!-- <tr>
					<td style="border-top: none;"><b>Image</b></td>
					<td style="border-top: none;"><input type="file"
						ng-model="deposit.image" id="image"   class="form-control"
						accept="image/*" ng-change="dispe(event)"><input
						type="hidden" ng-model="deposit.img"></td>
					<td style="border-top: none;"><img id="output"></td>
				</tr> -->
				<tr >
					<td style="border-top: none"></td>
					<td style="border-top: none;align:right">
						<button type="submit" class="form-control">SUBMIT</button>
						 
					</td>
				</tr>
			</table>
		</div>
	</form>
	<h1></h1>
</body>
</html>