<div style="width: :100%;height:100%;">

  <div style="width:=100%">
	<table class="table">
		<tr>
			<td style="border-top:0px">
					<button class="btn btn-primary"
					ng-click="addDevice()" data-toggle="modal"><span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;Add Device</button>
			</td>

		</tr>
	</table>


	<div>	
						
 	<div Style="height:800px" id="grid1" ui-grid="gridOptions" ui-grid-selection ui-grid-exporter class="grid"></div>
  		
    								 
    					</div>	

</div>
</div>
