			<div style="margin-top:80px; margin-right:20px;" class="box box-success" ng-controller="damyController">

							
							    <div style=margin-top:20px ng-controller="damyController">	
								<strong>Search:&nbsp;&nbsp;</strong><input type="text" ng-model="filterOptions.filterText" />
						
					
							
								<hr>
          						<form name="signup_form" method="POST">
 							 		<div style=" border: 1px solid rgb(212,212,212);
   										 width:100%;height: 200px; margin-left:0%;margin-right:0%" ng-grid="gridUser">
    								</div>
    								
    								<p><b>Import Data:</b></p>
    								<div class="gridStyle" ng-grid="gridOptions" data-ng-click="testSeletion()"></div>
										<!-- <div class="selectedItems">{{mySelections}}</div><br><br> -->
										<button  ng-click="save()">Import</button>
    								
    								</form>
    								</div>
    								
    								
							
					
 							
		</div>
	