	
		 

							
							<!-- <a ui-sref="deleteuser"> -->
   									<!-- <button style=margin-top:20px;  class="btn btn-primary btn-md" data-toggle="modal" data-target="#myModal">
  								IMPORT DATA
									</button> -->
							<!--   </a> -->
							  
							
							  
							   <div  ng-controller="importController">	
					<table class="table" >
								<tr>
									
									<td style="border-top:0px;align:left"><button class="btn btn-primary btn-md"  data-toggle="modal" data-target="#myModal" >Import Data</button></td>
									<td style="border-top:0px; width:250px" align="right"><input type="text" class="form-control" placeholder="Search" ng-model="filterOptions.filterText" /></td>
								</tr>
							</table>
					
							
				 
          
 							 <div style=" border: 1px solid rgb(212,212,212);
   								 width:100%;height: 500px; margin-left:0%;margin-right:0%" ng-grid="gridUser"></div>
    								
    								</div>
    								
    							<div class="modal modal-wide fade" id="myModal" tabindex="-1"
		data-keyboard="false" data-backdrop="static" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content"  ui-view>
			<div  ng-controller="myFileCtrl">
				<div class="modal-header" >
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title">Import Data Wizard-Step 1 of 7 Select File To Be Imported</h4>
				</div>

				<div style="height:400px;">
				
					<table class="table" style="width:500px" align="center">
						<tr >
							<td style="border-top:0px"><b>Retailer:</b></td>
							<td style="border-top:0px"><input type="text" class="form-control" id="retailer" ng-model="retailerName" typeahead="retailer.retailerName for retailer in retailers | filter:$viewValue |limitTo:6"></td>
						</tr>
						<tr>
							<td style="border-top:0px"><b>Select File:</b></td>
							<td style="border-top:0px"><input class="form-control" id="uploadFile" type="file" file-model="myFile"
						required /></td>
						</tr>
						<tr>
							<td style="border-top:0px"></td>
							<td style="border-top:0px"><input type="checkbox">: First row contains column header&nbsp;&nbsp;&nbsp;
							 <!-- <button style="margin-left: 10px" class="btn btn-primary btn-md"
						  ng-click="uploadFile()">Load File</button> --></td>
						</tr>
					</table>
					 
					
				</div>


				<div class="modal-footer">
					<button  type="button"   class="btn btn-success" data-toggle="modal"  ng-click="uploadFile()" >
  						Next
					</button>
					<!-- <button type="button" class="btn btn-default" data-dismiss="modal">Next</button> -->
					<!-- <button type="button" class="btn btn-primary">Submit</button> -->

				</div>
				</div>
			</div>
		</div>
	</div>
	