 
	 <div ng-controller="inwardEntryController">
        <div align="center" >
            <h3>Inward Entry</h3>
        </div>
        <div>

                       <form ng-submit="save()">
						<table align="center">
							  <tr>
								<td><label>Inward Location.</label></td>
								<td><input type="text" ng-model="inward.storeName"
									placeholder="Store Id" class="form-control" disabled> <span
									class="help-block"></span></td>
							</tr>
							<tr>
								<td><label>Tracking Number</label></td>
								<td><input type="text" ng-model="inward.trackingId" required
									placeholder=" tracking no" class="form-control"> <span
									class="help-block"></span></td>
							</tr>
							<!-- <tr>
							  	 
								<td><label>Order Status</label></td>
								<td><input type="text" class="form-control" placeholder="Select Status" ng-model="inward.orderStatus" size="20" typeahead="obj.status for obj in statuses" required></td>
							</tr> -->
							<tr>
								<td align="center" colspan="2"> <button class="btn btn-default"  ng-click="close()">Cancel</button>
            							<button type="submit" class="btn btn-success" >Save</button></td>
							</tr>
                          
                        </table>
            
</form>
</div>
 <div align="center">
            
           
 </div>
</div>

