<div ui-view>
	<div ng-controller="step4">
 <div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title"> Import Data Wizard-Step 4 of 7, <b>{{validCnt}}</b> Of <b>{{all}}</b> orders can be imported </h4>
				</div>

				<div style="height:400px;overflow-y:scroll">
					<b>Import Successful</b><br>
					<div style=" border: 1px solid rgb(212,212,212);
   										 width:98%;height: 300px; margin-left:10px;margin-right:10px" ui-grid="gridOptions1" ui-grid-pagination class="grid">
    								</div>
					<br> <b>Import Failed</b><br> 
					 
					 <div style=" border: 1px solid rgb(212,212,212);
   										 width:98%;height: 300px; margin-left:10px;margin-right:10px" ui-grid="gridOptions2" ui-grid-pagination class="grid">
    								</div>
					 <br>
					 <!-- <table>
					 	<tr>
					 		<td>Assign Store:</td>
					 		<td><select><option value="store1">Store 1</option>
					 			<option value="store2">Store 2</option></select>
					 		</td>
					 		<td><button class="btn btn-primary">Assign</button></td>
					 	</tr>
					 </table> -->
				</div>


				<div class="modal-footer">
				<!-- <button style=margin-top:3%;margin-left:0.5px; type="button" class="btn btn-primary btn-md" data-dismiss="modal" data-toggle="modal" data-target="#myModal3" >Back</button>
				<button style=margin-top:3%;margin-left:0.5px; type="button" class="btn btn-primary btn-md" data-dismiss="modal" data-toggle="modal"   >Skip</button>
				 -->
				 
				 	<table class="table">
						<tr>
							<td align="left" style="border-top:0px"><button type="button" class="btn btn-primary" ng-click="goBack()">Back</button></td>
							<td style="border-top:0px"><input type="checkbox">: Send an email of this summary</td>
							<td align="right" style="border-top:0px"><button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
							 <button   type="button"   class="btn btn-success" data-toggle="modal" ui-sref=".modal5"  >
  						Next
					</button></td>
						</tr>
					</table>
				</div>
 
</div>
</div>