<div ui-view>
 <div ng-controller="step3">
	<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title">Import Data Wizard-Step 3 of 7 Imported Data from file  </h4>
				</div>

				<div style="height:400px;overflow-y:scroll">
				
				
				<!--  <div id="grid1" ui-grid="gridOptions1" class="grid" ></div> -->
				
					 <div style=" border: 1px solid rgb(212,212,212);
   										 width:98%;height: 100%; margin-left:10px;margin-right:10px" ui-grid="gridOptions1" ui-grid-pagination class="grid">
    								</div>
					 <!-- <br>
					 <table>
					 	<tr>
					 		<td>{{a}}Assign Category:</td>
					 		<td><select><option value="electronics">Electronics</option>
					 			<option value="Appereals">Appereals</option></select>
					 		</td>
					 		<td><button class="btn btn-primary">Assign</button></td>
					 	</tr>
					 </table> -->
				</div>


				<div class="modal-footer">
				<table class="table">
						<tr>
							<td align="left" style="border-top:0px"><button type="button" class="btn btn-primary" ng-click="goBack()">Back</button></td>
							<td align="right" style="border-top:0px"><button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
							 <button   type="button"   class="btn btn-success" data-toggle="modal" ui-sref=".modal4"  >
  						Next
					</button></td>
						</tr>
					</table>

				</div>
	</div>			 
</div>