<div ui-view>
	 <div  ng-controller="step2" >
	 <form ng-submit="next2(temp)" method="post">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title">Import Data Wizard-Step 2 of 7 Source and Target Column Mapping</h4>
				</div>

				<div style="height:400px;overflow-y:scroll">
					<table class="table table-hover" >
						<tr>
							<th>Target</th>
							<th>Source</th>
							<th>Type</th>
							<th align="center">Allow Null</th>
							<th>Description</th>
						</tr>
						<tr ng-repeat="map in mapList">
							<td><input type="text" ng-model="map.targetColumn" class="form-control"></td>
							<td><input type="text"  class="form-control" ng-model="map.sourceColumn" typeahead="sourceColumn for sourceColumn in headers|filter:$viewValue |limitTo:6" > </td>
							<td><select class="form-control" ng-model="map.type" ><option value="int">Integer</option>
										<option value="varchar">Varchar</option>
										<option value="double">Double</option>
										<option value="text">Text</option>
							</select></td>	
							<td align="center"><input type="checkbox" ng-model="map.nullValue" ng-true-value="Yes" ng-false-value="No"></td>
							<td><input type="text"  class="form-control" ng-model="map.description" placeholder="Description" ></td>		
						</tr>
					</table>
				</div>


				<div class="modal-footer">
					<table class="table">
						<tr>
							<td align="left" style="border-top:0px"><button type="button" class="btn btn-primary"   ng-click="goBack()">Back</button></td>
							<td align="right" style="border-top:0px"><button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
							 <button   type="submit"   class="btn btn-success"      >
  						Next
					</button></td>
						</tr>
					</table>
					
					<!-- <button type="button" class="btn btn-default" data-dismiss="modal">Next</button> -->
					<!-- <button type="button" class="btn btn-primary">Submit</button> -->

				</div>
		 </form>
  </div>
						 
</div>