<div ui-view>
	<div ng-controller="step5">
 <div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title"> Import Data Wizard-Step 5 of 7 Categorize Orders </h4>
				</div>

				<div style="height:400px;overflow-y:scroll">
				 
					 <!-- <table>
					 	<tr>
					 		<td><b>Category:</b></td>
					 		<td><select class="form-control"><option value="electronics">Electronics</option>
					 			<option value="Appereals">Appereals</option></select>
					 		</td>
					 		<td><button class="btn btn-primary">Assign</button></td>
					 	</tr>
					 </table> -->
					 
					<div style=" border: 1px solid rgb(212,212,212);
   										 width:98%;height: 100%; margin-left:10px;margin-right:10px" ui-grid="gridOptions1" ui-grid-pagination class="grid">
    								</div>
					 
					 <!-- <table>
					 	<tr>
					 		<td>Assign Store:</td>
					 		<td><select><option value="store1">Store 1</option>
					 			<option value="store2">Store 2</option></select>
					 		</td>
					 		<td><button class="btn btn-primary">Assign</button></td>
					 	</tr>
					 </table> -->
				</div>


				<div class="modal-footer">
				<table class="table">
						<tr>
							<td align="left" style="border-top:0px"><button type="button" class="btn btn-primary" ng-click="goBack()">Back</button></td>
							<td align="right" style="border-top:0px"><button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
							 <button   type="button"   class="btn btn-success" data-toggle="modal" ui-sref=".modal6"  >
  						Next
					</button></td>
						</tr>
					</table>
				</div>
 
</div>
</div>