<div ui-view>
<div ng-controller="step7">
 <div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title"> Import Data Wizard-Step 7 of 7 Summary </h4>
				</div>

				<div style="height:400px;overflow-y:scroll">
					 
					<div style=" border: 1px solid rgb(212,212,212);
   										 width:98%;height: 100%; margin-left:10px;margin-right:10px" ng-grid="gridUser">
    								</div>
					 
					 <!-- <table>
					 	<tr>
					 		<td>Assign Store:</td>
					 		<td><select><option value="store1">Store 1</option>
					 			<option value="store2">Store 2</option></select>
					 		</td>
					 		<td><button class="btn btn-primary">Assign</button></td>
					 	</tr>
					 </table> -->
				</div>


				<div class="modal-footer">
				 
				 
				 	 
					<table class="table">
						<tr>
							<td align="left" style="border-top:0px"><button type="button" class="btn btn-primary" ng-click="goBack()">Back</button></td>
							<td align="right" style="border-top:0px"><button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
							 <button   type="button"   class="btn btn-success" data-toggle="modal" data-dismiss="modal" ng-click="redirect()"  >
  						Import
					</button></td>
						</tr>
					</table>
				</div>
 
</div>
</div>