<div ui-view>
<div ng-controller="step6">
 <div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title"> Import Data Wizard-Step 6 of 7 Assign Store </h4>
				</div>

				<div style="height:400px;overflow-y:scroll">
				<br>
					 <table>
					 	<tr>
					 		<!-- <td align="right"><input type="text" class="form-control" placeholder="Filter.." ng-model="filterOptions.filterText"></td> -->
					 		<td><b>Assign Store:</b></td>
					 		<td><input type="text" class="form-control" id="name" ng-model="name" typeahead="store.name for store in stores| filter:$viewValue |limitTo:6">
					 		</td>
					 		<td><button class="btn btn-primary" ng-click="assignStore()">Assign</button></td>
					 		
					 	</tr>
					 </table>
					 <br>
					<div style=" border: 1px solid rgb(212,212,212);
   										 width:98%;height: 100%; margin-left:10px;margin-right:10px" ui-grid="gridOptions1" ui-grid-pagination ui-grid-selection class="grid">
    								</div>
					 
					  
				</div>


				<div class="modal-footer">
				<table class="table">
						<tr>
							<td align="left" style="border-top:0px"><button type="button" class="btn btn-primary" ng-click="goBack()">Back</button></td>
							<td align="right" style="border-top:0px"><button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
							 <button   type="button"   class="btn btn-success" data-toggle="modal" ui-sref=".modal7"  >
  						Next
					</button></td>
						</tr>
					</table>
				</div>
 
</div>
</div>