<div ng-controller="OrderActivityController" >
						
						<form class="form">
	
 	<div Style="height:500px" id="grid1" ui-grid="gridOptions" external-scopes="myScope" ui-grid-resize-columns ui-grid-exporter ui-grid-selection class="grid"></div>
  		
    								 			
    					</form>
    							
</div>			

