


<body>
<div style="width:100%;height:100%;margin-top:10%; margin-right:20%;" class="box box-success">

							
						 
								
							
					<h2 style="margin-left:100px">BULK STATUS UPDATE</h2>
							
					
							
					<hr>
          						<form  name="signup_form" method="POST" ng-controller="updateOrderControllerNew">
          						<strong>Search:&nbsp;&nbsp;</strong><input type="text" ng-model="filterOptions.filterText" />
					
 											 <div style=" border: 1px solid rgb(212,212,212);
    												width:92%;height: 200px; margin-left:10px;margin-right:20px" ng-grid="gridOptions">
    								 
    													</div>
    													<Strong>Select order Status</Strong>&nbsp;&nbsp;&nbsp;<select name="orderStatus"   ng-model="orderStatus" placeholder="Filter by Name" >
 				 		
   						 						
   						 								<option value=""></option>
   						 								<option value="out for delivery">out for delivery </option>
    													<option value="pudo outlet">pudo outlet</option>
    													<option value="delivered">delivered</option>
    													<option value="customer initiated delay">customer initiated delay</option>
    													<option value="order cancelled-Material@Warehouse">order cancelled-Material@Warehouse</option>
    													<option value="order cancelled-RTO">order cancelled-RTO</option>
    					 								<option value="NA@delivery point">NA@delivery point</option>
    													<option value="customer not reachable">customer not reachable</option>
    													<option value="product at central warehouse">product at central warehouse</option>
    													</select>
      								
       								
       								
    								<button class="btn btn-hg btn-primary" id="personNameFilter" ng-click="save()"> Update </button>
    							
    						</form>
    								
    								
								
    								
</div>

	</div>
							
							

 

</body>							
										  