



    <body>
    
    		<ul class="nav nav-tabs" role="tablist">
   				<li role="presentation" class="active"><a data-target="#orderdetails" aria-controls="orderdetails" role="tab" data-toggle="tab"><b>Order Details</b></a></li>
    			<li role="presentation"><a data-target="#orderactivity" aria-controls="orderactivity" role="tab" data-toggle="tab"><b>Order Activity</b></a></li>
   				<!-- <li role="presentation"><a data-target="#comment" aria-controls="comment" role="tab" data-toggle="tab"><b>Comments</b></a></li>
   				<li role="presentation"><a data-target="#attachments" aria-controls="attachments" role="tab" data-toggle="tab"><b>Attachments</b></a></li>
  				 <li role="presentation"><a data-target="#orderflow" aria-controls="orderflow" role="tab" data-toggle="tab"><b>Order Flow</b></a></li> -->
 			</ul>
 			
 			<div class="tab-content">
   				<div role="tabpanel" class="tab-pane active" id="orderdetails"  ng-controller="OrderReturnUpdateController"> 
   					  <div > 
     	<!-- Main Content  -->
				<div >
					<div class="col-md-6">
					<table class="table">
						<tr>
							<td style="border-top:0px"><b>Title </b></td>
							<td style="border-top:0px"><input type="text"  name="orderTitle"  placeholder=" Order Title" ng-model = "dis.orderTitle" class="form-control" ></td>
						</tr>
						<tr>
							<td style="border-top:0px"><b>Order No.</b></td>
							<td style="border-top:0px"><input type="text"  name="orderId"  placeholder=" Order Id" ng-model = "dis.orderId"  class="form-control" ></td>
						</tr>
						<tr>
							<td style="border-top:0px"><b>Retailer</b></td>
							<td style="border-top:0px"><input name="retailerId" ng-model="dis.retailerId" placeholder=" Retailer Id"  class="form-control" type="number" required/></td>
						</tr>
						<tr>
							<td style="border-top:0px"><b>Tracking Id</b></td>
							<td style="border-top:0px"><input type="text"  name="trackingId"  placeholder=" Tracking Id" ng-model = "dis.trackingId"  class="form-control" ></td>
						</tr>
						<tr>
							<td style="border-top:0px"><b>Type</b></td>
							<td style="border-top:0px"><select class="form-control" ng-model="dis.orderType">
									<option value="delivery">Delivery</option>
									<option value="collect">collect</option>
									 
								</select>
							</td>
						</tr>
						<tr>
							<td style="border-top:0px"><b>Category</b></td>
							<td style="border-top:0px"><select class="form-control" ng-model="dis.orderCategory">
									<option value="1">Category 1</option>
									<option value="2">Category 2</option>
									<option value="3">Category 3</option>
								</select>
							
							</td>
						</tr>
						<tr>
							<td style="border-top:0px"><b>Payment Type</b></td>
							<td style="border-top:0px"><select ng-model="dis.paymentType"class="form-control select select-primary select-block mbl" name="paymentType" ng-model="dis.paymentType" required>
 				 				 <option value="PREPAID">Prepaid</option>
    							 <option value="COD">COD</option>
    							</select>
							</td>
						</tr>
						<tr>
							<td style="border-top:0px"><b>Status</b></td>
							<td style="border-top:0px"><input type="text" class="form-control" name = "status" ng-model="dis.status"></td>
						</tr>
						<tr>
							<td style="border-top:0px"><b>Assigned To</b></td>
							<td style="border-top:0px"><select class="form-control" ng-model="dis.assignedTo" ng-options="boy.deliveryBoyName for boy in deliveryBoys" >
									
								</select></td>
						</tr>
						
					</table>
				</div>
				
				
				<div class="col-md-6">
					<table class="table">
						<tr>
							<td style="border-top:0px"><b>Details</b></td>
 							<td style="border-top:0px"><input type="text"  name="details" ng-model = "dis.details" class="form-control"></td>
 						</tr>
 						<tr>
							<td style="border-top:0px"><b>Customer Name</b></td>
 							<td style="border-top:0px"><input type="text"  name="customerName"  ng-model = "dis.customerName" placeholder=" Customer name"  class="form-control" ></td>
 						</tr>
 						<tr>
							<td style="border-top:0px"><b>Address</b></td>
 							<td style="border-top:0px"><textarea rows="4" cols="50"  name="customerAddress" ng-model="dis.customerAddress"  placeholder=" Customer Address"  class="form-control" ></textarea></td>
 						</tr>
 						<tr>
							<td style="border-top:0px"><b>City</b></td>
 							<td style="border-top:0px"><input type="text"  name="City"  ng-model = "dis.cityName" placeholder="City"  class="form-control" ></td>
 						</tr>
 						<tr>
							<td style="border-top:0px"><b>Pin Code</b></td>
							<td style="border-top:0px"><input  name="pinCode"  ng-model = "dis.customerZipcode" placeholder="Pincode"  class="form-control"  type="text" required /></td>
						</tr>
						<tr>
							<td style="border-top:0px"><b>Geo Location</b></td>
 							<td style="border-top:0px"><input type="text"  name="customerName"  ng-model = "dis.customerGeoLocation" placeholder="Geo Location"  class="form-control" ><button>Geo Location</button></td>
 						</tr>
						<tr>
							<td style="border-top:0px"><b>Contact No.</b></td>
							<td style="border-top:0px"><input  name="contactNo"  ng-model = "dis.contactNo" placeholder=" CustomerContactNo"  class="form-control"  type="text" required /></td>
						</tr>
						<tr>
							<td style="border-top:0px"><b>email Id</b></td>
							<td style="border-top:0px"><input type="text"  name="emailId" ng-model="dis.emailId"  placeholder=" Customer Email"  class="form-control" ></td>
						</tr>
					</table>
				</div>
				
			 
				<div class="col-md-12">
					<table class="table">
					<tr>
						 
						<td style="border-top:0px" align="right" >
						<a  >
	   									<button style=margin-top:20px; class="btn btn-hg btn-primary" ng-click="cancel()">
	  									Cancel
										</button>
						</a>
						<a>
	   									<button style=margin-top:20px; class="btn btn-hg btn-primary" ng-click="updateReturnOrder(dis)">
	  									Save/Update
										</button>
						</a>
						 
								   
						</td>
					</tr>
				</table>
				</div>
				</div></div>
   				
   				</div>
   				<div role="tabpanel" class="tab-pane " id="orderactivity"  ng-controller="OrderActivityController">	
 						<div Style="height:500px;width:100%" id="grid1" ui-grid="gridOptions" external-scopes="myScope" ui-grid-resize-columns ui-grid-exporter ui-grid-selection class="grid"></div>	
    			</div>
    
  </body>