<div ng-controller="orderRecent">

	<form class="form">
		<table>

			<tr>
				<td><label>Status</label> <input type="text" ng-model="Status"
					size="20" typeahead="obj.status for obj in statuses" required>
				</td>
				<td><button class="btn btn-success" class="from-control"
						ng-click="ChangeStatus()">Update Status</button></td>
			</tr>
		</table>
	</form>
	<form>
		<!-- <table>
			<tr>
				<td><label>Which columns should we export?</label></td>
				<td><select ng-model="export_column_type" class="form-control">
						<option value='all'>All</option>
						<option value='visible'>Visible</option>
				</select></td>
				<td><label>Which rows should we export?</label></td>
				<td><select ng-model="export_row_type" class="form-control">
						<option value='all'>All</option>
						<option value='visible'>Visible</option>
						<option value='selected'>Selected</option>
				</select></td>
				<td><label>What format would you like?</label></td>
				<td><select ng-model="export_format" class="form-control">
						<option value='csv'>CSV</option>
						<option value='pdf'>PDF</option>
				</select></td>
				<td style="margin-left: 50px">
					<button ng-click="export()" class="btn btn-success"
						class="from-control">Export</button>
					<div class="custom-csv-link-location">
						<label>C:downloads</label>
						<span class="ui-grid-exporter-csv-link">&nbsp</span>
					</div>
				</td>
			</tr>
		</table> -->
		<div Style="height: 500px" id="grid1" ui-grid="gridOptions"
			external-scopes="myScope" ui-grid-resize-columns ui-grid-exporter
			ui-grid-selection class="grid"></div>


	</form>

</div>

