<div ng-controller="PaymentCollection" >
	  
				<form class="form" > 
					  <table class="table">
					  <tr>
								<td><b>Delivery Boy:</b></td>
								<td><input type="text" ng-model=Payment.deliveryBoyName  class="form-control" required
									typeahead=" user.deliveryBoyName for user in deliveryboys | filter:$viewValue | limitTo:8">
								</td>
										<td><b>Date:</b></td>
										 
										<td>
							          <input type="date" ng-model="Payment.payDate" class="form-control" required/>
										</td>
										<td>
										 	<button class="btn btn-success" ng-click="deliveries()">Show</button>
										</td>
										</tr>
								</table> 
						 
					
						<div style="height: 320px; overflow: scroll;margin-left:3px">
						<span us-spinner="{radius:30, width:8, length: 16}" spinner-key="spinner-1"></span>
						 <div Style="height:800px" id="grid1" ui-grid="gridOptions" ui-grid-selection  class="grid"></div>
						
					</div>
		
						<table class="table">
							<tr >

								<td style="border-top: none;" align="right">
									<button class="btn btn-success" ng-click="Close()" ng-show=status>Close</button>
									
								</td>
							</tr>
						</table>
					 
					 
					 
				</form>
			 
			
</div>
 
