<!-- <head>
		<link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
      <link rel="stylesheet" type="text/css" media="screen" href="http://silviomoreto.github.io/bootstrap-select/stylesheets/bootstrap-select.css">

</head> -->


<body>
<div style="width:100%;height:100%;margin-top:10%; margin-right:20%;" class="box box-success">

							<a ui-sref="createorder" >
   									<button style=margin-top:3%;margin-left:0.5%; class="btn btn-hg btn-primary">
  									 CREATE ORDERS
									</button>
							  </a>
							<!-- <a ui-sref="updateorder">
   									<button style=margin-top:20px; class="btn btn-hg btn-primary">
  									UPDATE ORDER
									</button>
							  </a> -->
							  
							 <!--  <a ui-sref="#">
   									<button style=margin-top:20px; class="btn btn-hg btn-primary" data-toggle="modal"
			data-target="#myModal" >
  									IMPORT ORDER
									</button>
							  </a> -->
							  <button style=margin-top:3%;margin-left:0.5px; type="button" class="btn btn-primary btn-md" data-toggle="modal" data-target="#myModal" ng-click="uploadData()">
  						upload data
					</button>&nbsp;&nbsp;
							  <div style="margin-top:5%; margin-right:20%;" class="box box-success"ng-controller="updateOrderController">
							  <a ui-sref="bulkassign">
   									<button style=margin-top:20px;margin-left:10px; class="btn btn-hg btn-primary">
  									 ASSIGN TASK
									</button>
							  </a>

								
							
						<div  style="margin-top:5% ;margin-left:0.5%">	
					<strong>Search:&nbsp;&nbsp;</strong><input class="selectpicker" type="text" ng-model="filterOptions.filterText" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						</div>
						 <div style=margin-left:25%>
						 
									<form>
      								
														<Strong>Select order Status</Strong>&nbsp;&nbsp;&nbsp;<select   ng-model=orderFilter placeholder="Filter by Name" >
 				 		
   						 						
   						 								<option value=""></option>
   						 								<option value="out for delivery">out for delivery </option>
    													<option value="pudo outlet">pudo outlet</option>
    													<option value="delivered">delivered</option>
    													<option value="customer initiated delay">customer 	initiated delay</option>
    													<option value="order cancelled-Material@Warehouse">order cancelled-Material@Warehouse</option>
    													<option value="order cancelled-RTO">order cancelled-RTO</option>
    					 								<option value="NA@delivery point">NA@delivery point</option>
    													<option value="customer not reachable">customer not reachable</option>
    													<option value="product at central warehouse">product at central warehouse</option>
    													
    													</select>
      								
       								&nbsp;&nbsp;&nbsp;<Strong>Select user Id</Strong>&nbsp;&nbsp;&nbsp;<input  class="peopleNameFilter" type="text" ng-model="userIdFilter" placeholder="User Id" >
      								
       								<button class="btn btn-hg btn-primary" id="personNameFilter" ng-click="filterName()"> SEARCH </button> &nbsp;&nbsp;&nbsp;<button class="btn btn-hg btn-primary" ng-click="reset()"> RESET </button>
       								
       						</form>					 				
						 
						 </div>
							
							  
							 <!--  <form action="#" method="get" >
                        <div class="input-group">
                            <input type="text"  class="btn btn-default pull-right" placeholder="Search..." ng-model="nameFilter"
                            placeholder="Filter by Name" ng-change="filterName()" />
                            <span class="input-group-btn">
                                <button type='submit' name='seach' id='search-btn' class="btn btn-flat"><i class="fa fa-search"></i></button>
                            </span>
                        </div>
                    </form> -->
					
							
					<hr>
          
 							 <div style=" border: 1px solid rgb(212,212,212);
    								width:92%;height: 200px; margin-left:10px;margin-right:20px" ng-grid="gridOptions">
    								 
    						</div>
    						<div style="margin-left:88%">
    								<button class="btn btn-hg btn-primary" id="personNameFilter" ng-click="exportData()"> EXPORT </button>
    						</div>
    							<!--  <div style=margin-top:20px >	
					<strong>Search:&nbsp;&nbsp;</strong><input type="text" ng-model="filterOptions.filterText" />
						
					
							
					<hr>
          				<h3> Uploaded data </h3>
 							<div ng-if="contentAvailable" ng-controller="damyController">
 							 <div style=" border: 1px solid rgb(212,212,212);
   								 width: 1000px; 
    								height: 200px;" ng-grid="gridUser"></div>
    								
    								</div>
    								</div> -->
    								
    								
								
    								
</div>

	</div>

	<div class="modal fade" id="myModal" tabindex="-1"
		data-keyboard="false" data-backdrop="static" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content"  ui-view>
				<div class="modal-header" >
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title">Import Data Wizard-Step 1 of 7 Select File To Be Imported</h4>
				</div>

				<div ng-controller="myFileCtrl">
				
					<table class="table">
						<tr >
							<td style="border-top:0px"><b>Retailer:</b></td>
							<td style="border-top:0px"><select class="form-control">
								<option>Retailer 1</option>
								<option>Retailer 2</option>
								<option>Retailer 3</option>
								<option>Retailer 4</option>
							</select></td>
						</tr>
						<tr>
							<td style="border-top:0px"><b>Select File:</b></td>
							<td style="border-top:0px"><input class="form-control" type="file" file-model="myFile"
						required /></td>
						</tr>
						<tr>
							<td style="border-top:0px"></td>
							<td style="border-top:0px"><input type="checkbox">: First row contains column header</td>
							<td style="border-top:0px" align="right"><button style="margin-left: 10px" class="btn btn-primary btn-md"
						  ng-click="uploadFile()">Load File</button></td>
						</tr>
					</table>
					 
					
				</div>


				<div class="modal-footer">
					<button style=margin-top:3%;margin-left:0.5px; type="button"   class="btn btn-success" data-toggle="modal" ui-sref=".modal2"  >
  						Next
					</button>
					<!-- <button type="button" class="btn btn-default" data-dismiss="modal">Next</button> -->
					<!-- <button type="button" class="btn btn-primary">Submit</button> -->

				</div>
			</div>
		</div>
	</div>
	<!-- <!--step 2  
	<div class="modal fade" id="myModal2" tabindex="-1"
		data-keyboard="false" data-backdrop="static" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title">Mapping (Step 2 of 4)</h4>
				</div>

				<div ng-controller="myFileCtrl1">
					<table class="table table-hover" >
						<tr>
							<th>Headers</th>
							<th>Columns</th>
						</tr>   
						<tr>
							<td>Header 1</td>
							<td><select><option>Column1</option>
										<option>Column2</option>
							</select></td>
						</tr>
						<tr>
							<td>Header 2</td>
							<td><select><option>Column1</option>
										<option>Column2</option>
							</select></td>
						</tr>
					</table>
				</div>


				<div class="modal-footer">
					<button style=margin-top:3%;margin-left:0.5px; type="button" class="btn btn-primary btn-md" data-dismiss="modal" data-toggle="modal" data-target="#myModal3" >Next</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">Next</button>
					<button type="button" class="btn btn-primary">Submit</button>

				</div>
			</div>
		</div>
	</div>
	
	
	step 3 
	<div class="modal fade modal-lg" id="myModal3" tabindex="-1"
		data-keyboard="false" data-backdrop="static" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title">Categorize (Step 3 of 4)</h4>
				</div>

				<div ng-controller="damyController">
					 <div style=" border: 1px solid rgb(212,212,212);
   										 width:92%;height: 200px; margin-left:10px;margin-right:20px" ng-grid="gridUser">
    								</div>
					 <br>
					 <table>
					 	<tr>
					 		<td>Assign Category:</td>
					 		<td><select><option value="electronics">Electronics</option>
					 			<option value="Appereals">Appereals</option></select>
					 		</td>
					 		<td><button class="btn btn-primary">Assign</button></td>
					 	</tr>
					 </table>
				</div>


				<div class="modal-footer">
				<button style=margin-top:3%;margin-left:0.5px; type="button" class="btn btn-primary btn-md" data-dismiss="modal" data-toggle="modal" data-target="#myModal2" >Back</button>
					<button style=margin-top:3%;margin-left:0.5px; type="button" class="btn btn-primary btn-md" data-dismiss="modal" data-toggle="modal" data-target="#myModal4" ng-click="uploadData()">
  						Next
					</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">Next</button>
					<button type="button" class="btn btn-primary">Submit</button>

				</div>
			</div>
		</div>
	</div>
	
	step 4 
	<div class="modal fade modal-lg" id="myModal4" tabindex="-1"
		data-keyboard="false" data-backdrop="static" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title">Assign Store (Step 4 of 4)</h4>
				</div>

				<div ng-controller="damyController">
					<div style=" border: 1px solid rgb(212,212,212);
   										 width:92%;height: 200px; margin-left:10px;margin-right:20px" ng-grid="gridUser">
    								</div>
					 <br>
					 <table>
					 	<tr>
					 		<td>Assign Store:</td>
					 		<td><select><option value="store1">Store 1</option>
					 			<option value="store2">Store 2</option></select>
					 		</td>
					 		<td><button class="btn btn-primary">Assign</button></td>
					 	</tr>
					 </table>
				</div>


				<div class="modal-footer">
				<button style=margin-top:3%;margin-left:0.5px; type="button" class="btn btn-primary btn-md" data-dismiss="modal" data-toggle="modal" data-target="#myModal3" >Back</button>
				<button style=margin-top:3%;margin-left:0.5px; type="button" class="btn btn-primary btn-md" data-dismiss="modal" data-toggle="modal"   >Skip</button>
				
					<button style=margin-top:3%;margin-left:0.5px; type="button" class="btn btn-primary btn-md" data-dismiss="modal" data-toggle="modal"   ng-click="uploadData()">
  						Submit
					</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">Next</button>
					<button type="button" class="btn btn-primary">Submit</button>

				</div>
			</div>
		</div>
 	</div>-->


</body>	


						
										  