<!-- <head>
		<link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
      <link rel="stylesheet" type="text/css" media="screen" href="http://silviomoreto.github.io/bootstrap-select/stylesheets/bootstrap-select.css">

</head> -->


<body>
<div style="width:100%;height:100%;margin-top:40px; margin-right:20%;" class="box box-success">

							<a ui-sref="createorder" >
   									<button style=margin-top:3%;margin-left:0.5%; class="btn btn-hg btn-primary">
  									 CREATE ORDERS
									</button>
							  </a>
							<!-- <a ui-sref="updateorder">
   									<button style=margin-top:20px; class="btn btn-hg btn-primary">
  									UPDATE ORDER
									</button>
							  </a> -->
							  
							 <!--  <a ui-sref="#">
   									<button style=margin-top:20px; class="btn btn-hg btn-primary" data-toggle="modal"
			data-target="#myModal" >
  									IMPORT ORDER
									</button>
							  </a> -->
							  <button style=margin-top:3%;margin-left:0.5px; type="button" class="btn btn-primary btn-md" data-toggle="modal" data-target="#myModal" ng-click="uploadData()">
  						upload data
					</button>&nbsp;&nbsp;
							  <div style="margin-top:5%; margin-right:20%;" class="box box-success"ng-controller="updateOrderController">
							  <a ui-sref="bulkassign">
   									<button style=margin-top:20px;margin-left:10px; class="btn btn-hg btn-primary">
  									 ASSIGN TASK
									</button>
							  </a>

								
							
						<div  style="margin-top:5% ;margin-left:0.5%">	
					<strong>Search:&nbsp;&nbsp;</strong><input class="selectpicker" type="text" ng-model="filterOptions.filterText" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						</div>
						 <div style=margin-left:25%>
						 
									<form>
      								
														<Strong>Select order Status</Strong>&nbsp;&nbsp;&nbsp;<select   ng-model=orderFilter placeholder="Filter by Name" >
 				 		
   						 						
   						 								<option value=""></option>
   						 								<option value="out for delivery">out for delivery </option>
    													<option value="pudo outlet">pudo outlet</option>
    													<option value="delivered">delivered</option>
    													<option value="customer initiated delay">customer initiated delay</option>
    													<option value="order cancelled-Material@Warehouse">order cancelled-Material@Warehouse</option>
    													<option value="order cancelled-RTO">order cancelled-RTO</option>
    					 								<option value="NA@delivery point">NA@delivery point</option>
    													<option value="customer not reachable">customer not reachable</option>
    													<option value="product at central warehouse">product at central warehouse</option>
    													
    													</select>
      								
       								&nbsp;&nbsp;&nbsp;<Strong>Select user Id</Strong>&nbsp;&nbsp;&nbsp;<input  class="peopleNameFilter" type="text" ng-model="userIdFilter" placeholder="User Id" >
      								
       								<button class="btn btn-hg btn-primary" id="personNameFilter" ng-click="filterName()"> SEARCH </button> &nbsp;&nbsp;&nbsp;<button class="btn btn-hg btn-primary" ng-click="reset()"> RESET </button>
       								
       						</form>					 				
						 
						 </div>
							
							  
							 <!--  <form action="#" method="get" >
                        <div class="input-group">
                            <input type="text"  class="btn btn-default pull-right" placeholder="Search..." ng-model="nameFilter"
                            placeholder="Filter by Name" ng-change="filterName()" />
                            <span class="input-group-btn">
                                <button type='submit' name='seach' id='search-btn' class="btn btn-flat"><i class="fa fa-search"></i></button>
                            </span>
                        </div>
                    </form> -->
					
							
					<hr>
          
 							 <div style=" border: 1px solid rgb(212,212,212);
    								width:100%;height: 200px; margin-left:0%;margin-right:0%" ng-grid="gridOptions">
    								 
    								</div>
    								<div style="margin-left:95%">
    								<button class="btn btn-hg btn-primary" id="personNameFilter" ng-click="exportData()"> EXPORT </button>
    								</div>
    							<!--  <div style=margin-top:20px >	
					<strong>Search:&nbsp;&nbsp;</strong><input type="text" ng-model="filterOptions.filterText" />
						
					
							
					<hr>
          				<h3> Uploaded data </h3>
 							<div ng-if="contentAvailable" ng-controller="damyController">
 							 <div style=" border: 1px solid rgb(212,212,212);
   								 width: 1000px; 
    								height: 200px;" ng-grid="gridUser"></div>
    								
    								</div>
    								</div> -->
    								
    								
								
    								
</div>

	</div>
							
							<div  class="modal fade" id="myModal" tabindex="-1" data-keyboard="false" data-backdrop="static"
 									role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
 									 <div class="modal-dialog">
 								   <div class="modal-content">
  											    <div class="modal-header">
  								     <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
   							     <h4 class="modal-title">upload file</h4>
   					   </div>
      
    <div ng-controller = "myFileCtrl">
	    <input class="form-control" type="file" file-model="myFile" required/>
	    <button style="margin-left:10px" class="btn btn-primary btn-md" data-dismiss="modal" ng-click="uploadFile()">upload me</button>
	</div>
	
      
      	<div class="modal-footer">
      
        <button type="button" class="btn btn-default" data-dismiss="modal" >Close</button>
        <!-- <button type="button" class="btn btn-primary">Submit</button> -->
        
      	</div>
    </div>
  </div>
  </div>

 

</body>							
										  