<h2 style="margin-left:100px">  RESET PASSWORD</h2>
				<form action="resetPassword" method="Post">
				
				<div style="margin-top:'150px'" class="row">
					
					<div class="col-sm-6">
						<div class="blog-post blog-single-post">
							
							
							<div class="single-post-content">
							
							
							  
							<label>ENTER USER ID </label>
						<input type="text"  name="userId"  placeholder=" USER ID"  class="form-control" >
						<span class="help-block"></span>
						
						<label>ENTER  NEW PASSWORD </label>
						<input type="text"  name="userPassword"  placeholder="New Password"  class="form-control" >
						<span class="help-block"></span>
						
						<label>CONFIRM PASSWORD </label>
						<input type="text"  name="adfd"  placeholder=" USER ID"  class="form-control" >
						<span class="help-block"></span>
						
						<button type="submit" style="margin-top:20px;margin-bottom:20px;" class="btn btn-hg btn-primary">
  									RESET
									</button>
									
									<a ui-sref="users">
   									<button style="margin-top:20px;margin-bottom:20px;" class="btn btn-default pull-right">
  									CANCEL
									</button><br>
								</a>
								
								</div>
								</div>
								</div>
								</div>
								</form>