<div style="width=100%;height=100%;" ng-controller="retailerController">
	<div style="width:100%">

		<table class="table">
			<tr>
				<td style="border-top: 0px"><a ui-sref="addretailer">
						<button class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;Add Retailer</button>
				</a></td>


				<!-- <td style="border-top: 0px; width: 250px" align="right"><input
					type="text" class="form-control" placeholder="Search"
					ng-model="filterOptions.filterText" /></td> -->
			</tr>
		</table>
<div>	
						
 	<div Style="height:800px" id="grid1" ui-grid="gridOptions" ui-grid-selection  class="grid"></div>
  		
    								 
    					</div>		

	</div>
</div>
