 	 
        <div class="modal-header">
            <h3 class="modal-title">Contact Details</h3>
        </div>
        <div class="modal-body" >
                <form ng-submit="submit">
						<table align="center">
							<tr>
								<td><label>Name</label></td>
								<td><input type="text" ng-model="Contact.contactName" required
									placeholder=" Contact Name" class="form-control"> <span
									class="help-block"></span></td>
							</tr>
							
							<tr>
								<td><label> Designation</label></td>
								<td><input type="text" ng-model="Contact.contactDesignation" required
									placeholder=" Contact Designation" class="form-control"> <span
									class="help-block"></span></td>
							</tr>
							<tr>
								<td><label> Phone</label></td>
								<td><input type="text" ng-model="Contact.contactMobile" required
									placeholder=" Phone number" class="form-control"> <span
									class="help-block"></span></td>
							</tr>
<tr>
								<td><label> Email</label></td>
								<td><input type="text" ng-model="Contact.contactEmail" required
									placeholder=" Contact Email" class="form-control"> <span
									class="help-block"></span></td>
							</tr>
							<tr>
							<td><label>Notes</label></td>
							<td><textarea cols="50" rows="5" ng-model="Contact.notes" placeholder="Contact Notes" required></textarea>
                                   <span class="help-block"></span></td>
							</tr>

						
						</table>
						 <div class="modal-footer">
            
            
            <button class="btn btn-success" ng-type="submit" data-dismiss="modal" ng-click="addContact()">Save</button>
            <button class="btn btn-default" data-dismiss="modal" ng-click="close()">Close</button>
        </div>
</form>
        </div>
       
		
	 