 
 
	 
     <form>
        <div class="modal-header">
            <h3 class="modal-title" >Retailer Warehouse Details</h3>
        </div>
        <div class="modal-body" style="height:auto" >

						<table align="center">
							<tr>
								<td><label> Name</label></td>
								<td><input type="text" ng-model="Warehouse.name" required
									placeholder=" Warehouse Name" class="form-control"> <span
									class="help-block"></span></td>
							</tr>

                            <tr>
								<td><label> Address</label></td>
								<td><textarea cols="50" rows="5" ng-model="Warehouse.address" placeholder="Warehouse address" required></textarea>
                                   <span class="help-block"></span></td>
							</tr>
							
							<tr>
								<td><label> city</label></td>
								<td><input type="text" ng-model="Warehouse.city" required
									placeholder=" Warehouse City" class="form-control"> <span
									class="help-block"></span></td>
							</tr>
					
							<tr>
								<td><label> Area</label></td>
								<td><input type="text" ng-model="Warehouse.area" required
									placeholder=" Warehouse Area" class="form-control"> <span
									class="help-block"></span></td>
							</tr>
						
							<tr>
								<td><label> Phone</label></td>
								<td><input type="text" ng-model="Warehouse.contactNo" required ng-minlength="10"
									ng-maxlength="10"
									placeholder=" Warehouse mobile" class="form-control"> <span
									class="help-block"></span></td>
							</tr>
							
                           	<tr>
							<td><label>Notes</label></td>
							<td><textarea cols="50" rows="5" ng-model="Warehouse.notes" placeholder="Notes"></textarea> <span
									class="help-block"></span></td>

							</tr>
	<tr>
								<td><label>Map Location</label></td>
								<td><input type="text" ng-model="Warehouse.geoLocation"
									placeholder=" Warehouse Location" class="form-control"></td>
									<td><button class="btn btn-primary">Map location</button></td>
							</tr>
                             <tr>
<td><label>Active</label></td>
<td>
                                        <input type="radio"></td>
                             </tr>
						
						</table>

        </div>
        <div class="modal-footer">
           
            <button class="btn btn-default" ng-click="close()">Cancel</button>
 <button class="btn btn-success" ng-click="addWarehouse()">Save</button>
        </div>
		</form>
	 
	 
    