<div  style="width:100%;height:100%" ng-controller="returnsBulkAssign" >
	<br>
	
	
	<div style="width:100%">
	 <!-- added for advance search -->
				<div class="container-fluid">


		<div class="row">
	
		<div class="col-xs-1 col-sm-1 col-md-1">
			
				<h3>Filter By:</h3>
			
		</div>
		<form class="form-group" ng-submit="seacrhNormalOrder(dis)" method="post">
		<div class="col-xs-11 col-sm-11 col-md-11">
						
						<div style="float:left">
	    				<label for="from" >Order Status </label>
					    <input type="text" class="form-control" id="from" ng-model="dis.orderStatus"  typeahead="user.status for user in myOrderReturn|filter:$viewValue|limitTo:5" placeholder="Enter Order Status"  >
					    </div>
					    
					    <div style="float:left">
	    				<label for="from" >Payment Type </label>
					    <input type="text" class="form-control" id="from" ng-model="dis.paymentType" typeahead="user.paymentType for user in myAll|filter:$viewValue|limitTo:5"  placeholder="Enter Payment Type" >
					    </div>
				
	  					<div style="float:left">
	    				<label for="from" >Receipt Date From </label>
					    <input type="date" class="form-control" id="from" ng-model="dis.fromDate" >
					    </div>
					 
					    <div style="float:left"> 
					    <label for="to">Receipt Date To </label>
					    <input type="date" class="form-control" id="to" ng-model="dis.toDate" >
					    </div>
					    <div style="float:left" >
					    <label for="retailer">Retailer Name </label>
					    <input type="text" class="form-control" ng-model="dis.retailerName" typeahead="user.retailerName for user in myRetailerName|filter:$viewValue|limitTo:5" placeholder="Enter retailer name" >
					    </div>
					    
					    <div style="float:left">
	    				<label for="from" >By Location </label>
					    <input type="text" class="form-control" id="from" ng-model="dis.location" typeahead="user.location for user in myAll|filter:$viewValue|limitTo:5" placeholder="Enter location">
					    </div>
					    <div style="float:left">
	    				<label for="from" >ReturnedDate From</label>
					    <input type="date" class="form-control" id="from" ng-model="dis.deliveredFromDate">
					    </div>
					    <div style="float:left">
	    				<label for="from" >ReturnedDate To</label>
					    <input type="date" class="form-control" id="from" ng-model="dis.deliveredToDate">
					    </div>
					
					  <br>
					  
					  
					
			
		</div>
		
		<div class="col-xs-1 col-sm-1 col-md-1">
			
				
			
		</div>
		
		<div class="col-xs-11 col-sm-11 col-md-11" id="advanceDiv" ng-hide = "IsHidden">
			
				
	  					<div style="float:left">
	    				<label for="from" >Return Id</label>
					    <input type="text" class="form-control" id="from" ng-model="dis.returnId" typeahead="user.returnId for user in myOrderReturn|filter:$viewValue|limitTo:5" placeholder="Enter returnId">
					    </div>
					 
					    <div style="float:left"> 
					    <label for="to">Customer Contact </label>
					    <input type="text" class="form-control" id="to" ng-model="dis.customerContact"  typeahead="user.phone for user in myOrderReturn|filter:$viewValue|limitTo:5" placeholder="Enter Customer Contact" >
					    </div>
					    <div style="float:left" >
					    <label for="retailer">Asigned Store Name </label>
					    <input type="text" class="form-control" ng-model="dis.assignedStoreName"  typeahead="user.name for user in myStoreName|filter:$viewValue|limitTo:20" placeholder="Assigned Stores">
					    </div>
					    
					    
					    
					
					  <br>	
		</div>
				   <div class="col-xs-11 col-sm-11 col-md-11">
					  <button type="submit" class="btn btn-primary">Search</button>
					  <button type="button" class="btn btn-primary" ng-click="resetTable()">Clear</button>    
					  <button type="button" class="btn btn-primary" ng-click="ShowHide()"><span class="glyphicon glyphicon-plus"></span> </button>
				  </div>
				</form>
  		
  		</div>
  		</div>
  					  
							   <div style=margin-top:0px >
							   <div id="mydiv">
    								<img src="img/ajax-loader.gif" class="ajax-loader"  height="150px" width="150px"/>
								</div>
					<div Style="height:500px" id="grid1" ui-grid="gridOptions" external-scopes="myScope" ui-grid-resize-columns ui-grid-exporter ui-grid-selection class="grid"></div>
		 		</div>
	</div>
	
	
<!-- 	//end for advance search -->
	
	


								<form class="form">
						<table>	
						
								<tr>
									<!-- <td><label>Delivery Boy</label>
	                    				<input type="text" ng-model="assignedTo" typeahead="obj.deliveryBoyName for obj in deliveryBoys|filter:$viewValue |limitTo:4" size="20" placeholder=" Assign To" required>					
									</td> -->
									<td><label>Delivery Boy</label></td>
									<td><select ng-options="option.deliveryBoyName as option.deliveryBoyName for option in deliveryBoys" 
        ng-model="outward.assignTo" class="form-control" name="assignTo"  ng-change="getInactiveRunsheetList(outward.assignTo)">
      
						<option value="">Select Name</option></select></td>
										
									</tr>
									<tr>
					<td><label>Runsheet Number</label></td>
					<td><input type="text" ng-model="outward.runSheetNo" required
						placeholder="Runsheet Number" class="form-control" typeahead="obj for obj in listOfInactiveRunsheets" > <span
						class="help-block"></span></td>
					
						<td><button class="btn btn-success" class="from-control" ng-click="ChangeStatus()">Update</button></td>
				</tr> 
						</table>
							</form>
							
							
</div>							