<body ng-controller="returnUpdate" style="width:100%">
	 
	 
	 
	 
	 
<br>	 
	 
<ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a data-target="#returndetails" aria-controls="returndetails" role="tab" data-toggle="tab"><b>Return Order Details</b></a></li>
      
    <li role="presentation"><a data-target="#comment" aria-controls="comment" role="tab" data-toggle="tab"><b>Comments</b></a></li>
    <li role="presentation"><a data-target="#attachments" aria-controls="attachments" role="tab" data-toggle="tab"><b>Attachments</b></a></li>
    <li role="presentation"><a data-target="#returnflow" aria-controls="orderflow" role="tab" data-toggle="tab"><b>Returns Flow</b></a></li>
  </ul>

	
  <div class="tab-content">
	 <div role="tabpanel" class="tab-pane active" id="returndetails"> 
	 
	 <div>
	 <form action="makeReturnEntry" method="post">
	 	<div class="col-md-6">
			<table class="table">
				<tr>
					<td style="border-top:0px"><b>Invoice Number </b></td>
					<td style="border-top:0px"><input type="text"  name="invoiceNo"  placeholder="Invoice Number"  ng-model = "dis.invoiceNo" class="form-control" ></td>
				</tr>
				<tr>
					<td style="border-top:0px"><b>Order Number </b></td>
					<td style="border-top:0px"><input type="text"  name=" orderId"  placeholder="Order Number" ng-model = "dis.orderId" class="form-control" ></td>
				</tr>
				<tr>
					<td style="border-top:0px"><b>Tracking Id </b></td>
					<td style="border-top:0px"><input type="text"  name=" trackingId"  placeholder="Tracking Id" ng-model = "dis.trackingId" class="form-control" ></td>
				</tr>
				<tr>
					<td style="border-top:0px"><b>Retailer </b></td>
					<td style="border-top:0px"><input type="text"  name="retailerId"  placeholder="Retailer" ng-model = "dis.retailerId" class="form-control" ></td>
				</tr>
				<!-- <tr>
					<td style="border-top:0px"><b>Date </b></td>
					<td style="border-top:0px"><input type="date"  name=" "    ng-model = "" class="form-control" ></td>
				</tr> -->
				<tr>
					<td style="border-top:0px"><b>Category</b></td>
					<td style="border-top:0px"><input type="text"  name=" category"  placeholder="Category" ng-model = "dis.category" class="form-control" ></td>
				</tr>
				<tr>
							<td style="border-top:0px"><b>Details</b></td>
 							<td style="border-top:0px"><textarea rows="4" cols="50" name="details" ng-model ="dis.details" class="form-control"></textarea></td>
 				</tr>
 				<tr>
					<td style="border-top:0px"><b>Status </b></td>
					<td style="border-top:0px"><input type="text"  name="status"    ng-model = "dis.status" class="form-control" ></td>
				</tr>
			</table>
		</div>
	
		<div class="col-md-6">
			<table class="table">
				 
 						<tr>
							<td style="border-top:0px"><b>Customer Name</b></td>
 							<td style="border-top:0px"><input type="text"  name="customerName"  ng-model = "dis.consigneeName" placeholder=" Customer name"  class="form-control" ></td>
 						</tr>
 						<tr>
							<td style="border-top:0px"><b>Address</b></td>
 							<td style="border-top:0px"><input type="text"  name="customerAddress" ng-model="dis.customerAddress"  placeholder=" Customer Address"  class="form-control" ></td>
 						</tr>
 						<tr>
							<td style="border-top:0px"><b>PinCode</b></td>
							<td style="border-top:0px"><input  name="pincode"  ng-model = "dis.pincode" placeholder=" pinCode"  class="form-control"  type="text" required /></td>
						</tr>
						<tr>
							<td style="border-top:0px"><b>Contact No.</b></td>
							<td style="border-top:0px"><input  name=""  ng-model = "dis.contactNo" placeholder=" CustomerContactNo"  class="form-control"  type="text" required /></td>
						</tr>
						<tr>
							<td style="border-top:0px"><b>email Id</b></td>
							<td style="border-top:0px"><input type="text"  name="emailId" ng-model="dis.emailId"  placeholder="EmailId"  class="form-control" ></td>
						</tr>
						
						<tr>
							<td style="border-top:0px"><b>Product Code</b></td>
							<td style="border-top:0px"><input type="text"  name="productCode" ng-model="dis.productCode"  placeholder="product Code"  class="form-control" ></td>
						</tr>
						
						<tr>
							<td style="border-top:0px"><b>Quantiy</b></td>
							<td style="border-top:0px"><input type="text"  name="quantity" ng-model="dis.quantity"  placeholder=" quantity"  class="form-control" ></td>
						</tr>
					 	
					 	<!-- <tr>
							<td style="border-top:0px"><b>Details</b></td>
							<td style="border-top:0px"><input type="text"  name="" ng-model=""  placeholder=" Customer Email"  class="form-control" ></td>
						</tr> -->
						<tr>
							<td style="border-top:0px"><b>Order Value</b></td>
							<td style="border-top:0px"><input type="text"  name="orderValue" ng-model="dis.orderValue"  placeholder=" orderValue"  class="form-control" ></td>
						</tr>
			</table>
		</div>
	 
	<div class="row">
		<div class="col-md-12">
			<table class="table">
				<tr>
					<td style="border-top: 0px" align="right">
						<button style="margin-top: 20px;" class="btn btn-default">
							Cancel</button>
						<!-- <button style="margin-top: 20px;" class="btn btn-success" data-toggle="modal" data-target="#myModal">
							ADD PRODUCT</button> -->
						<button style="margin-top: 20px;" class="btn btn-success">
							Save/Update</button>
					</td>
				</tr>
			</table>
		</div>
	</div>
	</form>
	</div>
	 
	 </div>
	 <div role="tabpanel" class="tab-pane" id="comment"> 
    	 
				<form action="createWebComment" method="post">
					<div class="col-md-6">
						<table class="table">
							<tr>
								<td style="border-top:0px"><h4><b>Comments</b></h4></td>
								<td style="border-top:0px"><textarea rows="4" cols="50" name="commentText" class="form-control">
									</textarea>
								</td>
							</tr>
							<tr>
								<td style="border-top:0px" align="right" colspan="2"><button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;Add Comment</button></td>
							</tr>
						</table>
					</div>
				</form>
			 
					<table class="table" style="width:">
						<tr>
							<td style="border-top:0px"><h3><b>Comments</b></h3></td>
						</tr>
						<tr>
							<td style="border-top:0px"></td>
						</tr>
						<tr>
							<td style="border-top:0px" align="right"><button>Cancel</button></td>
						</tr>
					</table>
				 
			 
    
    </div>
	 <div role="tabpanel" class="tab-pane" id="attachments">
		<div class="col-md-6">
			<table class="table" style="width:500px">
				<tr>
					<td style="border-top:0px"><b>Select File:</b></td>
					<td style="border-top:0px"><b><input type="file" required></b></td>
					<td style="border-top:0px"><button type="submit" class="btn btn-primary"><b>Upload</b></button></td>
				</tr>
				<!-- <tr>
					<td style="border-top:0px" colspan="2" align="right"><button type="submit" class="btn btn-primary"><b>Upload</b></button></td>
				</tr> -->
			</table>
		</div>
	</div>
	 <div role="tabpanel" class="tab-pane" id="returnflow">Return Flow</div>
</div>
		 
 
	<div  class="modal fade" id="myModal" tabindex="-1" data-keyboard="false" data-backdrop="static"
 									role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
 									 <div class="modal-dialog">
 								   <div class="modal-content">
  											    <div class="modal-header">
  								     <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
   							     <h4 class="modal-title">City Details</h4>
   					   </div>
      
    <div >
	  			 
							<form action="createCity" method="post">
								<table class="table">
									<tr>
										<td style="border-top:0px"><b>Name:</b></td>
										<td style="border-top:0px"><b><input type="text" name="cityName" class="form-control" id="exampleInputEmail1" placeholder="Name"></b></td>
									</tr>
									<tr>
										<td style="border-top:0px"><b>Notes:</b></td>
										<td style="border-top:0px"><b><textarea class="form-control"  name="notes"rows="3" placeholder="Notes"></textarea></b></td>
									</tr>
									<tr>
										<td style="border-top:0px" colspan="2" align="center"><b><input type="checkbox" name="status" checked> Active</b></td>
									 
									</tr>
								</table>
								<div class="modal-footer">
      
       										 <button type="button" class="btn btn-default" data-dismiss="modal" >Close</button>
       											 <!-- <button type="button" class="btn btn-primary">Submit</button> -->
         											 <button type="submit" class="btn btn-success"  >Save</button>
      												</div>
								
							</form>	
	 
	</div>	
	</div>
	</div>
	</div>
	

</body>