<body  style="width:100%;height:100%" >
	<br>
	
	
	<div style="width:100%">
	 
			<table class="table">
				<tr>
					<td style="border-top:0px"><a ui-sref="returnDetail"><button class="btn btn-primary">Make an Entry</button></a>
					<button style=margin-top:3%;margin-left:0.5px; type="button" class="btn btn-primary btn-md" data-toggle="modal" data-target="#myModal" ng-click="uploadData()">
  						Upload Return Data
					</button>
					<td style="border-top:0px;width:250px" align="right"><input type="text" class="form-control" placeholder="Search" ng-model="filterOptions.filterText" /></td>
				</tr>
			</table>
		 
		 			  
							   <div style=margin-top:0px ng-controller="returns">
					<div style="height:550px;margin-top:-25px" ui-grid="gridOptions1" ui-grid-pagination class="grid"></div>
		 		</div>
	</div>
	
	
	<div  class="modal fade" id="myModal" tabindex="-1" data-keyboard="false" data-backdrop="static"
 									role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
 									 <div class="modal-dialog">
 								   <div class="modal-content">
  											    <div class="modal-header">
  								     <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
   							     <h4 class="modal-title">upload file</h4>
   					   </div>
      
    <div ng-controller = "returnCtrl">
	    <input class="form-control" type="file" file-model="myFile" required/>
	    <button style="margin-left:10px" class="btn btn-primary btn-md" data-dismiss="modal" ng-click="uploadFile()">upload me</button>
	</div>
      
      	<div class="modal-footer">
      
        <button type="button" class="btn btn-default" data-dismiss="modal" >Close</button>
        <!-- <button type="button" class="btn btn-primary">Submit</button> -->
        
      	</div>
    </div>
  </div></div>
	
	
</body>