				
				
				
				<h2 style="margin-left:100px">RECIEVE RETURN PRODUCT</h2>
				<form action="" method="post">
				<div class="row">
					
					<div class="col-sm-6">
						<div class="blog-post blog-single-post">
							
							
							<div class="single-post-content">
							
							
							  
							<label>Return Id</label>
						<input type="text"  name="returnId"  placeholder=" Return Id"  class="form-control" required >
						<span class="help-block"></span>
						
						
						<label>Order Id </label>
						<input type="text"  name="OrderId"  placeholder=" Order Id"  class="form-control" required >
						<span class="help-block"></span>
						
						<label>Retailer Id </label>
						<input type="number"  name="userRole"  placeholder="Retailer Id"  class="form-control" required >
						<span class="help-block"></span>
						
						<label> Comment</label>
						<textarea rows="4" cols="50" name="orderDetail" ng-model = "dis.orderDetail" class="form-control">
						</textarea><br>
						<button style="margin-top:20px;margin-bottom:20px;" class="btn btn-hg btn-primary">
  									Update Status
									</button>
							  
							 <a ui-sref="users">
   									<button style="margin-top:20px;margin-bottom:20px;" class="btn btn-default pull-right">
  									Close
									</button><br>
									</a>
						
						
								
							</div>
						</div>
					</div>
					
					

					
					</div>
					</form>
					
