
<html lang="en">


    <body ng-controller="Distributor3Controller" style="width:100%">
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
        

    
		<table class="table" style="margin-left:50%">
			<tr>
				<td style="border-top:0px;align:'center'"><h2><b>Role Details</b></h2></td>
				
			</tr>
		</table>
		 
			<form action="createRole" method="POST">
			
				<div style="margin-left:350px" class="col-md-6">
					<table class="table">
						<tr>
							<td style="border-top:0px"><b>Role Name </b></td>
							<td style="border-top:0px"><input type="text"  name="roleName"  placeholder=" Name"  class="form-control" ></td>
						</tr>
						<tr>
							<td style="border-top:0px"><b>Description</b></td>
 							<td style="border-top:0px"><textarea rows="4" cols="50"  name="roleDesc"   placeholder=" Description"  class="form-control" ></textarea></td>
 						</tr>
						
						
						
					</table>
					                         
                                       <table class="table table-bordered">
        <thead>
            <tr>
                <th>sl No</th>
                <th>Module Name</th>
                <th>Permission</th>
                
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Store Management</td>
               
                <td><label class="checkbox-inline"><input type="checkbox" value="">create/update</label><label class="checkbox-inline"><input type="checkbox" value="">Change Status</label></td>
            </tr>
            
              <tr>
                <td>2</td>
                <td></td>
               
                <td></td>
            </tr>
             <tr>
                <td>3</td>
                <td></td>
               
                <td></td>
            </tr>
           <tr>
                <td>4</td>
                <td></td>
               
                <td></td>
            </tr>
           
        </tbody>
    </table>
					
				</div>
			
				
				
				
				

			<div class="row">
				<div class="col-md-12" style="margin-left:55%">
					<table class="table">
					<tr>
						 
						<td style="border-top:0px;margin-right:550px" >
						
										
						
						
	   									<button style=margin-top:20px; class="btn btn-default">
	  									Cancel
										</button>
						
						
						
	   									<button type="submit" style=margin-top:20px; class="btn btn-success">
	  									Save/Update
										</button>
						
	   									
								   
						</td>
					</tr>
				</table>
				</div>
			</div>
			
	</form>
        
        <!-- <div class="modal fade" id="myModal" tabindex="-1"
		data-keyboard="false" data-backdrop="static" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content"  >
				<div class="modal-header" >
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title">Enter OTP</h4>
				</div>

				<div ng-controller="">
				
					<table class="table" style="width:300px" align="center">
						<tr >
							<td style="border-top:0px"><b>Enter OTP:</b></td>
							<td style="border-top:0px"><input type="text" class="form-control" required></td>
						</tr>
						</table>
					 
					
				</div>


				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
					<button   type="button"  data-dismiss="modal" class="btn btn-success" data-toggle="modal" data-target="#myModal2"  >
  						Next
					</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">Next</button>
					<button type="button" class="btn btn-primary">Submit</button>

				</div>
			</div>
		</div>
	</div>
       
        <div class="modal fade" id="myModal2" tabindex="-1"
		data-keyboard="false" data-backdrop="static" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content"   >
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title">Enter Payment Details </h4>
				</div>

				<div >
				{{a}}
					<table class="table table-hover" style="width:300px" align="center" >
						<tr>
							 <td align="center" colspan="2" style="border-top:0px">
							 	<input type="radio" checked name="payment" value="cash" ng-model="payment.mode"><b>Cash</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							 	<input type="radio" name="payment" value="card" ng-model="payment.mode"><b>Card</b>
							 </td>
						</tr>
					</table>
					<div >
						<table ng-show="cash" class="table" style="width:300px" align="center">
							<tr>
								<td style="border-top:0px"><b>Amount</b></td>
								<td style="border-top:0px"><input type="text" class="form-control"></td>
							</tr>
						</table>
						
						 <table ng-show="card" class="table" style="width:300px" align="center">
							<tr>
								<td style="border-top:0px"><b>Card Type</b></td>
								<td style="border-top:0px"><select class="form-control">
									<option>Type 1</option>
									<option>Type 2</option>
									<option>Type 3</option>
								</select></td>
							</tr>
							<tr>
								<td style="border-top:0px"><b>Name Of Bank</b></td>
								<td style="border-top:0px"><input type="text" class="form-control"></td>
							</tr>
							<tr>
								<td style="border-top:0px"><b>Name On Card</b></td>
								<td style="border-top:0px"><input type="text" class="form-control"></td>
							</tr>
							<tr>
								<td style="border-top:0px"><b>Amount</b></td>
								<td style="border-top:0px"><input type="text" class="form-control"></td>
							</tr>
						</table> 
					</div>
				</div>


				<div class="modal-footer">
					<table class="table">
						<tr>
							<td align="left" style="border-top:0px"><button type="button" class="btn btn-primary"   ng-click="goBack()">Back</button></td>
							<td align="right" style="border-top:0px"><button type="button" class="btn btn-warning" data-dismiss="modal">Cancel</button>
							 <button   type="button"   class="btn btn-success" data-toggle="modal" data-dismiss="modal"  >
  						Submit
					</button></td>
						</tr>
					</table>
					
					<button type="button" class="btn btn-default" data-dismiss="modal">Next</button>
					<button type="button" class="btn btn-primary">Submit</button>

				</div>
			</div>
		</div>
	</div> -->
       

    </body>
    
</html>