<div style="width=100%;height=100%;" ng-controller="RunsheetDetailsForCash">	
<div>
<table>
<tr>
<td>Runsheet No</td>
<td>{{runSheetNo}}</td>
</tr>
<tr>
<td>Delivery User</td>
<td>{{deliveryName}}</td>
</tr>
</tr>
<tr>
<td><button style="border-top:0px";" class="btn btn-hg btn-success" ng-click="finalizepayment()" ng-show=status>Update Receipt</button></td>
<td><button style="border-top:0px";" class="btn btn-hg btn-success" ng-click="shortfallDetails()" ng-show=status>Shortfall Report</button></td>
<td><button style="border-top:0px";" class="btn btn-hg btn-success" ng-click="closeRunsheet()">Close Runsheet Payment</button></td>

</tr>
</table>	
	</div>					
 	<div Style="height:800px" id="grid1" ui-grid="gridOptions" ui-grid-selection  class="grid"></div>
  				

	</div>

