<div style="width=100%;height=100%;" ng-controller="runsheetNumbers">	

<table>
  <tr ng-repeat="x in deliveryBoys track by $index">
    <td><a ng-href="./downloadCsv/{{ x }} " target="_blank">{{ x }}</a></td>
    
    	
   
  </tr>
</table>
</div>

