<div ng-controller="searchOrderByparam">
	<form ng-submit="getOrder()">
		<table>
			<tr align="center">
				<td style="border:none"><b>Search By:</b></td>
				<td style="border:none"><input type="text" class="form-control" placeholder="Search Parameter" ng-model="search.param" required typeahead="typ for typ in ['OrderId','TrackingId','Customer Name','Customer Contact']|filter:$viewValue|limitTo:2"></td>
				<td style="border:none"><b>Search :</b></td>
				<td style="border:none"><input type="text" class="form-control" placeholder="Search" required ng-model="search.srchVal"></td>
				<td><button class="btn btn-success" type="submit">Search</button></td>
			</tr>
		</table>
	</form>
	<table class="table table-hover">
		<tr>
			<td><b>Tracking Id</b></td>
			<td><b>Order Id</b></td>
			<td><b>Order Title</b></td>
			<td><b>Order Status</b></td>
			<td><b>Payment Type</b></td>
			<td><b>Assigned To</b></td>
			<td><b>Order Details</b></td>
			<td><b>Customer Name</b></td>
			<td><b>Customer Contact</b></td>
			<td><b>e-mail</b></td>
			<td><b>Address</b></td>
			<td><b>City</b></td>
			<td><b>Pincode</b></td>
			
		</tr>
		<tr ng-repeat="order in orders">
			<td><a  ng-click="loadOrder(order.trackingId)">{{order.trackingId}}</a></td>
			<td>{{order.orderId}}</td>
			<td>{{order.orderTitle}}</td>
			<td>{{order.orderStatus}}</td>
			<td>{{order.paymentType}}</td>
			<td>{{order.assignedTo}}</td>
			<td>{{order.orderDetails}}</td>
			<td>{{order.customerName}}</td>
			<td>{{order.customerContact}}</td>
			<td>{{order.email}}</td>
			<td>{{order.customerAddress}}</td>
			<td>{{order.cityName}}</td>
			<td>{{order.customerZipcode}}</td>
		</tr>
	</table>
</div>