 	 
        <div class="modal-header">
            <h3 class="modal-title">Reason For Status</h3>
        </div>
        <div class="modal-body" >
                <form ng-submit="submit">
						<table align="center">
							<tr>
								<td><label>Name</label></td>
								<td><input type="text" ng-model="Status.reason" required
									placeholder=" Reason" typeahead="obj.reason for obj in reasons"class="form-control"> <span
									class="help-block"></span></td>
							</tr>
						</table>
						 <div class="modal-footer">
            
            
            <button class="btn btn-success" ng-type="submit" data-dismiss="modal" ng-click="save()">Save Reason</button>
            <button class="btn btn-default" data-dismiss="modal" ng-click="close()">Close</button>
        </div>
</form>
        </div>
       
		
	 