<body ng-controller="stocks" style="width:100%;height:100%" >
	<br>
	<div>
		<table class="table table-hover" style="width:500px">
			 
			<tr class="highlight">
				<td style="border-top:0px"><button style=margin-top:20px; class="btn btn-hg btn-primary" data-toggle="modal" data-target="#myModal" >Manual Inward</button>
					<br><input class="form-control" type="text" placeholder="Search Stocks" required ng-model="filterOptions.filterText"/>
				</td>
			</tr>
			 
		</table>
	</div> <br>
	 
	 <div style=" border: 1px solid rgb(212,212,212);width:92%;height: 200px; margin-left:10px;margin-right:20px" ng-grid="gridOptions">

		<div class="modal fade" id="myModal" tabindex="-1"
			data-keyboard="false" data-backdrop="static" role="dialog"
			aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<form  ng-submit="save(product)">
					<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<h4 class="modal-title">Manual Inward</h4>
					</div>

					<div class="modal-body">
						 <table class="table table-hover">
						 	<tr>
						 		<td style="border-top:0px">Product Name:</td>
						 		<td style="border-top:0px"><input type="text" class="form-control" ng-model="product.name" required></td>
						 	</tr>
						 	<tr>
						 		<td style="border-top:0px">Product Code:</td>
						 		<td style="border-top:0px"><input type="text" class="form-control" ng-model="product.code"></td>
						 	</tr>
						 	<tr>
						 		<td style="border-top:0px">Stock Type:</td>
						 		<td style="border-top:0px"><select ng-model="product.type" class="form-control">
						 			<option value="trial">Trial Item</option>
						 			<option value="stock">Stock/Sale Item</option>
						 			</select></td>
						 	</tr>
						 </table>
					</div>


					<div class="modal-footer">

						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						<button type="submit" class="btn btn-primary">Submit</button>

					</div>
				</div>
				</form>
			</div>
		</div></body>