<div style="width=100%;height=100%;" ng-controller="listOfStoreRunSheets">	

<table>
  <tr ng-repeat="x in listOfStores track by $index">
    <td><a ng-href="./downloadStroeRunsheets/{{ x }} " target="_blank">{{ x }}</a></td>
    
    	
   
  </tr>
</table>
</div>

