<!-- <div class="modal modal-wide fade" id="receipt" tabindex="-1"
		data-keyboard="false" data-backdrop="static" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
		  <form >
			<div class="modal-content"  >
			 
				<div class="modal-header" >
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title">Update Receipt</h4>
				</div>

				<div >
				
					<table class="table" style="width:500px" align="center">
						<tr >
							<td style="border-top:0px"><b>Store Name:</b></td>
							<td style="border-top:0px"><input type="text" class="form-control" ng-model="receipt.storeName" ></td>
						</tr>
						<tr>
							<td style="border-top:0px"><b>Runsheet Number:</b></td>
							<td style="border-top:0px"><input class="form-control"  type="text" ng-model="receipt.runsheetNumber" /></td>
						</tr>
						<tr>
							<td style="border-top:0px"><b>COD handed over date:</b></td>
							<td style="border-top:0px"><input class="form-control"   type="date" ng-model="receipt.handedDate" /></td>
						</tr>
						<tr>
							<td style="border-top:0px"><b>COD to be handed over :</b></td>
							<td style="border-top:0px"><input class="form-control"   type="text" ng-model="receipt.codAmount" /></td>
						</tr>
						<tr>
							<td style="border-top:0px"><b>COD cash handed over :</b></td>
							<td style="border-top:0px"><input class="form-control"   type="text" ng-change="updateShortFall()" ng-model="receipt.codCollected" /></td>
						</tr> 
						<tr>
							<td style="border-top:0px"><b>Card payment :</b></td>
							<td style="border-top:0px"><input class="form-control"   type="text" ng-model="receipt.card" /></td>
						</tr>
						<tr>
							<td style="border-top:0px"><b>Short Fall amount :</b></td>
							<td style="border-top:0px"><input class="form-control"   type="text" ng-model="receipt.shortFall" /></td>
						</tr>
					</table>
					 
					
				</div>


				<div class="modal-footer">
					<button  type="submit"   class="btn btn-success" data-toggle="modal"   >
  						Update Receipt
					</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">Next</button>
					<button type="button" class="btn btn-primary">Submit</button>

				</div>
				 
			 
		</div>
		</form>
	</div>
</div> -->

 <div class="modal-header">
            <h3 class="modal-title">Cash Shortfall Details</h3>
        </div>
        <div class="modal-body" >
                <form ng-submit="save()">
						<table align="center">
							<tr>
								<td><label>Runsheet No.</label></td>
								<td><input type="text" ng-model="short.runsheetNo" Disabled
									placeholder=" runsheet no." class="form-control"> <span
									class="help-block"></span></td>
							</tr>
								<tr>
								<td><label>Delivery User.</label></td>
								<td><input type="text" ng-model="short.deliveryUser" Disabled
									placeholder=" Delivery User" class="form-control"> <span
									class="help-block"></span></td>
							</tr>
					
							<tr>
								<td><label> Amount</label></td>
								<td><input type="text" ng-model="short.shortFallAmount" disabled required
									placeholder=" ShortFall Amount" class="form-control"> <span
									class="help-block"></span></td>
							</tr>
							
							<tr>
							<td><label>description </label></td>
							<td><textarea cols="50" rows="5" ng-model="short.description" placeholder="write Description for shortfall" required></textarea>
                                   <span class="help-block"></span></td>
							</tr>

						
						</table>
						 <div class="modal-footer">
				            <button type="button" class="btn btn-default" ng-click="close()">Cancel</button>
					<button  type="submit"   class="btn btn-success"   >Update ShortFall	</button>
				        </div>
</form>
        </div>
       
		
	 
	