<div ng-controller="storeSummery">
	<form ng-submit="getRunSheet()">
		<table class="table table-hover table-bordered" style="width:100%">
			<tr>
				<td>
					<b>Master Store Name:</b><input type="text" disabled ng-model="name" class="form-control">
				</td>
				
			</tr>
		</table>
	</form>
	<table class="table table-hover table-bordered" style="width:100%">
		<tr class="info">
			<td><b>Store Name</b></td>
			<td><b>Number Of Parcels &lt 1 days  </b></td>
			<td><b>Number Of Parcels &lt 2-3 days</b></td>
				<td><b>Number Of Parcels &lt 3-6 days</b></td>
			<td><b>Number Of Parcels &gt 7 days</b></td>
			
			 
		</tr>
		<tr ng-repeat="detail in details">
			<td>{{detail.storeNames}}</td>
			<td><a ng-click="loadByRunSheet(detail.storeNames,'lessThnOneDay')">{{detail.ordersLessThanOneDay}}</a></td>
			<td><a ng-click="loadByRunSheet(detail.storeNames,'lessThnTwoDay')">{{detail.ordersLessThanThreeDay}}</a></td>
			<td><a ng-click="loadByRunSheet(detail.storeNames,'lessThnSixDay')">{{detail.orderLessThansixDays}}</a></td>
			<td><a ng-click="loadByRunSheet(detail.storeNames,'greaterThnSevenDay')">{{detail.ordergreaterThanSevenDays}}</a></td>
			 
		</tr>
	</table>
</div>