<div ng-controller="storeRunsheetCash2">
	<table class="table" style="width:350px">
		<tr>
			<td style="border:none"><b>Reporting Store:</b></td>
			<td style="border:none">{{reportingStore}}</td>
		</tr>
		<tr>
			<td style="border:none"><b>Runsheet Number:</b></td>
			<td style="border:none">{{runshhetNumber}}</td>
		</tr>
	</table>
	 <table class="table">
	 	<tr>
	 		<td style="border:none"><button class="btn btn-success" data-toggle="modal" data-target="#receipt">Update Receipt</button>
	 		<button class="btn btn-success"  ng-click="ShortFall()">Create Shortfall</button>
	 		<button class="btn btn-success">Close Runsheet Payment</button></td>
	 		
	 	</tr>
	 </table>
	<form>
		<div style="height:400px;overflow:scroll">
			<table class="table table-hover">
				<tr>
					<td><b>Order Id</b></td>
					<td><b>Tracking Id</b></td>
					<td><b>Customer Name</b></td>
					<td><b>Order Type</b></td>
					<td><b>Assigned Store</b></td>
					<td><b>Store Assigned Date</b></td>
					<td><b>Delivery Boy</b></td>
					<td><b>Order Status</b></td>
					<td><b>Reason</b></td>
					<td><b>Current Location</b></td>
					<td><b>Receipt Date</b></td>
					<td><b>Delivered Date</b></td>
					<td><b>Retailer Id</b></td>
					<td><b>Attempts</b></td>
				</tr>
				<tr ng-repeat="obj in orders">
					<td>{{obj.orderId}}</td>
					<td>{{obj.trackingId}}</td>
					<td>{{obj.customerName}}</td>
					<td>{{obj.orderType}}</td>
					<td>{{obj.storeId}}</td>
					<td>{{obj.storeAssignDate}}</td>
					<td>{{obj.assignedTo}}</td>
					<input type="hidden" ng-model="obj.deliveredFlag">
					<td>{{obj.orderStatus}}</td>
					<td>{{obj.reason}}</td>
					<td>{{obj.location}}</td>
					<td>{{obj.receiptDate}}</td>
					<td>{{obj.deliveredDate}}</td>
					<td>{{obj.retailerId}}</td>
					<td>{{obj.attempts}}</td>
				</tr>
			</table>
			
		</div>
		 
	</form>
	
	
	
	
	
	
	<div class="modal modal-wide fade" id="receipt" tabindex="-1"
		data-keyboard="false" data-backdrop="static" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
		  <form ng-submit="save()">
			<div class="modal-content"  >
			 
				<div class="modal-header" >
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title">Update Receipt same page</h4>
				</div>

				<div >
				
					<table class="table" style="width:500px" align="center">
						<tr >
							<td style="border-top:0px"><b>Store Name:</b></td>
							<td style="border-top:0px"><input type="text" class="form-control" id="retailer" disabled ng-model="receipt.storeName" typeahead="retailer.retailerName for retailer in retailers | filter:$viewValue |limitTo:6"></td>
						</tr>
						<tr>
							<td style="border-top:0px"><b>Runsheet Number:</b></td>
							<td style="border-top:0px"><input class="form-control"  type="text" disabled ng-model="receipt.runsheetNumber" /></td>
						</tr>
						
						<tr>
							<td style="border-top:0px"><b>COD to be handed over :</b></td>
							<td style="border-top:0px"><input class="form-control"   type="text" disabled ng-model="receipt.codAmount" /></td>
						</tr>
						<tr>
							<td style="border-top:0px"><b>COD handed over date:</b></td>
							<td style="border-top:0px"><input class="form-control" required  type="date"  ng-model="receipt.handedDate" /></td>
						</tr>
						<tr>
							<td style="border-top:0px"><b>COD cash handed over :</b></td>
							<td style="border-top:0px"><input class="form-control"  value="0" type="text" ng-change="updateShortFall()" ng-model="receipt.codCollected" /></td>
						</tr> 
						<tr>
							<td style="border-top:0px"><b>Card payment :</b></td>
							<td style="border-top:0px"><input class="form-control" value="0"  type="text" ng-change="updateShortFall()" ng-model="receipt.card" /></td>
						</tr>
						<tr>
							<td style="border-top:0px"><b>Short Fall amount :</b></td>
							<td style="border-top:0px"><input class="form-control" value="0"  type="text" ng-model="receipt.shortFall" /></td>
						</tr>
					</table>
					 
					
				</div>


				<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
					<button  type="submit"   class="btn btn-success"   >Update Receipt	</button>
					<!-- <button type="button" class="btn btn-default" data-dismiss="modal">Next</button> -->
					<!-- <button type="button" class="btn btn-primary">Submit</button> -->

				</div>
				 
			 
		</div>
		</form>
	</div>
</div>





<!-- <div class="modal modal-wide fade" id="shortAmt" tabindex="-1"
		data-keyboard="false" data-backdrop="static" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
		  <form ng-submit="saveShort()" >
			<div class="modal-content" ng-controller="storeShortController" >
			 
				<div class="modal-header" >
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title">Update Receipt same page</h4>
				</div>

				<div >
				
					<table class="table" style="width:500px" align="center">
						<tr >
							<td style="border-top:0px"><b>Store Name:</b></td>
							<td style="border-top:0px"><input type="text" class="form-control" id="retailer" disabled ng-model="short.deliveryUser" typeahead="retailer.retailerName for retailer in retailers | filter:$viewValue |limitTo:6"></td>
						</tr>
						<tr>
							<td style="border-top:0px"><b>Runsheet Number:</b></td>
							<td style="border-top:0px"><input class="form-control"  type="text" disabled ng-model="short.runsheetNo" /></td>
						</tr>
						
						<tr>
							<td style="border-top:0px"><b>Short Fall amount :</b></td>
							<td style="border-top:0px"><input class="form-control"  disabled  type="text" ng-model="short.shortFallAmount" /></td>
						</tr>
						
						<tr>
							<td style="border-top:0px"><b>Description:</b></td>
							<td  style="border-top:0px"><textarea ng-model="short.description" class="form-control"></textarea></td>
						</tr>
						
					</table>
					 
					
				</div>


				<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
					<button  type="submit"   class="btn btn-success"   >Save</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">Next</button>
					<button type="button" class="btn btn-primary">Submit</button>

				</div>
				 
			 
		</div>
		</form>
	</div>
</div> -->
</div>
 