<div ng-controller="storeAssign" >
<div align="center">
		<h3>Assign Store</h3>
	</div>

<form ng-submit="save()">
			<table align="center">
				
				<tr>
					<td><label>Tracking Number.</label></td>
					<td><input type="text" ng-model="order.trackingId" required
						placeholder="Tracking No." class="form-control"  > <span
						class="help-block"></span></td>
				</tr>
				<tr>
					<td><label>Store.</label></td>
					<td><input type="text" ng-model="storeName" required
						placeholder="Select Store" class="form-control" typeahead="obj.name for obj in stores"> <span
						class="help-block"></span></td>
				</tr>
				<tr>
					<td><label>Order Type.</label></td>
					<td><input type="text" ng-model="order.orderType"
						placeholder="Order Type" class="form-control"  typeahead="obj for obj in OrderTypes"> <span
						class="help-block"></span></td>
				</tr>
				<tr>
				<td align="center" colspan="2"> <button class="btn btn-default"  ng-click="close()">Cancel</button>
            	<button type="submit" class="btn btn-success" ">Save</button></td>
				</tr>

			</table>

		</form>
						
						<!-- <form name="signup_form" method="POST">
							<div style="width:100%">
								<table class="table" >
								<tr>
									<td style="border-top:0px;width:250px"><input type="text"  name="assignTo" ng-model="name" placeholder="Select store to"  class="form-control" typeahead="obj.name for obj in stores"></td>
									<td style="border-top:0px;"><button class="btn btn-primary btn-md"  ng-click="save()">Assign</button></td>
									<td style="border-top:0px; width:250px" align="right"><input type="text" class="form-control" placeholder="Search" ng-model="filterOptions.filterText" /></td>
								</tr>
							</table>
							</div>
 							 		<div style=" border: 1px solid rgb(212,212,212);
   											width:99%;height: 500px; margin-left:10px;margin-right:10px" ng-grid="gridUser">
    								</div>
    								
    								 
    								
    					</form>		 -->
</div>			

