
	
        <div class="modal-header">
            <h3 class="modal-title" >Store Contact Details</h3>
        </div>
        <div>
        <form>
        <div class="modal-body"  >

						<table align="center">
							<tr>
								<td><label> Name</label></td>
								<td><input type="text" ng-model="Contact.name" required
									placeholder=" Contact Name" class="form-control"> <span
									class="help-block"></span></td>
							</tr>
							
							<tr>
								<td><label> Designation</label></td>
								<td><input type="text" ng-model="Contact.designation" required
									placeholder=" Contact Designation" class="form-control"> <span
									class="help-block"></span></td>
							</tr>
							<tr>
								<td><label> Contact No.</label></td>
								<td><input type="text" ng-model="Contact.contactNo" required
									placeholder=" Contact number" class="form-control"> <span
									class="help-block"></span></td>
							</tr>
                             <tr>
								<td><label> Email</label></td>
								<td><input type="text" ng-model="Contact.email" required
									placeholder=" Contact Email" class="form-control"> <span
									class="help-block"></span></td>
							</tr>
							<tr>
							<td><label>Notes</label></td>
							<td><textarea cols="50" rows="5" ng-model="Contact.notes" placeholder="Contact Notes" required></textarea>
                                   <span class="help-block"></span></td>
							</tr>
						
						</table>
        </div>
        <div class="modal-footer">
            
            <button class="btn btn-default" ng-click="close()">Cancel</button>
            <button class="btn btn-success" ng-type="submit" ng-click="save()">Save</button>
        </div>
		</form>
	</div>
	 