
<div style="width:100%;height:100%" ng-controller="StoreController">
<div style="width:100%">
	<table class="table">
		<tr>
			<td style="border-top:0px"><a ui-sref="addStore">
					<button  class="btn btn-primary">
						<span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;ADD STORE</button>
			</a></td>
		<tr>
	</table>


	<div>	
 	<div Style="height:800px" id="grid1" ui-grid="gridOptions" ui-grid-selection ui-grid-exporter class="grid"></div>
  		
    								 
    					</div>	
</div>
</div>
