			<div style="margin-top:80px; margin-right:20px;" class="box box-success"ng-controller="productController">

							<a ui-sref="createstore">
   									<button style=margin-top:20px;margin-left:0.5% ; class="btn btn-hg btn-primary">
  									CREATE STORE
									</button>
							  </a>
							<!-- <a ui-sref="updatestore">
   									<button style=margin-top:20px; class="btn btn-hg btn-primary">
  									UPDATE STORE	
									</button>
							  </a>
							  <a ui-sref="deletestore">
   									<button style=margin-top:20px; class="btn btn-hg btn-primary">
  									DELETE STORE
									</button>
							  </a> -->
							  
							   
   									<button style=margin-top:20px; class="btn btn-hg btn-primary" data-toggle="modal" data-target="#myModal">
  									ASSIGN USER
									</button>
									
									<!-- <button style=margin-top:20px; class="btn btn-hg btn-primary" data-toggle="modal" data-target="#myModal1">
  									ASSIGN SERVICES
									</button> -->
							  
							  
							
							  
							   <div style=margin-top:20px ng-controller="storeController">	
					<strong>Search:&nbsp;&nbsp;</strong><input type="text" ng-model="filterOptions.filterText" />
						
					
							
					<hr>
          
 							 <div style=" border: 1px solid rgb(212,212,212);
   								 width: 100%; 
    								height: 200px;margin-left:0%;margin-right:0%" ng-grid="gridUser"></div>
    								
    								</div>
							
					
 							
</div>


<div  class="modal fade" id="myModal" tabindex="-1" data-keyboard="false" data-backdrop="static"
 									role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
 									 <div class="modal-dialog">
 								   <div class="modal-content">
  											    <div class="modal-header">
  								     <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
   							     <h4 class="modal-title">ASSIGN USER STORE TO</h4>
   					   </div>
      
    <div >
	  			  <div style=margin-top:20px ng-controller="userController">	
					<strong>Search:&nbsp;&nbsp;</strong><input type="text" ng-model="filterOptions.filterText" />
						
					
							
					<hr>
          
 							 <div style=" border: 1px solid rgb(212,212,212);
   								 width:100%;height: 200px; margin-left:0%;margin-right:0%" ng-grid="gridUser"></div>
    								
    								</div>
							
						
		<label>STORE CODE	</label>
						<input type="text"  name="storeName"  placeholder="STORE ID"  class="form-control" >
						<span class="help-block"></span>
	    <button style="margin-left:10px" class="btn btn-primary btn-md" data-dismiss="modal" >SAVE</button>
	</div>
	
      
      	<div class="modal-footer">
      
        <button type="button" class="btn btn-default" data-dismiss="modal" >Close</button>
        <!-- <button type="button" class="btn btn-primary">Submit</button> -->
        
      	</div>
    </div>
  </div></div>
  
  <div  class="modal fade" id="myModal1" tabindex="-1" data-keyboard="false" data-backdrop="static"
 									role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
 									 <div class="modal-dialog">
 								   <div class="modal-content">
  											    <div class="modal-header">
  								     <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
   							     <h4 class="modal-title">ASSIGN SERVICES TO STORE</h4>
   					   </div>
      
    <div >
	   <label>STORE ID	</label>
						<input type="text"  name=""  placeholder="  STORE ID"  class="form-control" >
						<span class="help-block"></span>
						
		<label>STORE NAME	</label>
						<input type="text"  name="storeName"  placeholder="STORE ID"  class="form-control" >
						<span class="help-block"></span>
						
						
		<label>STORE SERVICES	</label><br>
		
  		<label><input type="checkbox" value="">Return</label><br>
		
		
 		 <label><input type="checkbox" value="">Trial</label><br>
		
		
  		<label><input type="checkbox" value="" disabled>Pickup</label><br>
			
		
  		<label><input type="checkbox" value="" disabled>Stock Management</label>
			
		
						
	   
	</div>
	
      
      	<div class="modal-footer">
      	 <button style="margin-left:10px" class="btn btn-primary btn-md" data-dismiss="modal" >SAVE</button>
        <button type="button" class="btn btn-default" data-dismiss="modal" >Close</button>
        <!-- <button type="button" class="btn btn-primary">Submit</button> -->
        
      	</div>
    </div>
  </div></div>
	