 <div ng-controller="runSheetForStore">
 <div align="center" >
            <h3>Generate RunSheet For Store</h3>
        </div>
	<form ng-submit="save()">
						<table align="center">
							  <tr>
							  	 
								<td><label>Enter Store Name</label></td>
								<td><input type="text" class="form-control" placeholder="Enter Name" ng-model="store.storeName" typeahead="obj.name for obj in stores" size="20"  required></td>
							</tr>
							 <tr>
							  	 
								<td><label>Enter Order Type</label></td>
								<td><input type="text" class="form-control" placeholder="Enter Name" ng-model="store.orderType"  typeahead="obj for obj in OrderTypes" size="20"  required></td>
							</tr>
							<tr>
								<td align="center" colspan="2"> <button class="btn btn-default"  ng-click="close()">Cancel</button>
            							<button type="submit" class="btn btn-success" >Save</button></td>
							</tr>
                          
                        </table>
      </form>
</div>