 
 
 <div ng-controller="runSheet">
 <div align="center" >
            <h3>Generate RunSheet</h3>
        </div>
	<form ng-submit="save()">
						<table align="center">
							  <tr>
							  	 
								<td><label>Enter User Name</label></td>
								<td><input type="text" class="form-control" placeholder="Enter Name" ng-model="order.assignedTo" typeahead="obj.deliveryBoyName for obj in deliveryBoys|filter:$viewValue " size="20"  required></td>
							</tr>
							
							<tr>
								<td align="center" colspan="2"> <button class="btn btn-default"  ng-click="close()">Cancel</button>
            							<button type="submit" class="btn btn-success" >Save</button></td>
							</tr>
                          
                        </table>
      </form>
</div>