<div ng-controller="transfercash">
	 
				<form name="PaymentCollectionForm"
				ng-submit="saveData(PaymentCollectionForm)"
					class="form-buttons form-inline"  > 
					  <table class="table" style="width:30%; " >
									<tr>
										<td style="border-top: none;"><b>Date:</b></td>
										 
										<td style="border-top: none;">
							<input type="date" ng-model="Payment.payDate" class="form-control" required style="width:100%"/>
										</td>
										</tr><tr>
										<td style="border-top: none;"><b>Transfer To:</b></td>
										<td style="border-top: none;">
									<input type="text" ng-model=Payment.deliveryBoyName style="width:100%" class="form-control" required
									typeahead=" user.deliveryBoyName for user in deliveryboys | filter:$viewValue | limitTo:8" 
									ui-blur="getDeliveryBoyId(Payment.deliveryBoyName);">
									<input type="hidden" ng-model="Payment.deliveryboyId">
								</td>
									</tr>
								</table> 
						 
					
						<div style="position:relative;width:auto;margin-left:3px; height: 320px; line-height: 3em; overflow: scroll">
						<span us-spinner="{radius:30, width:8, length: 16}" spinner-key="spinner-1"></span>
						<table class="table table-bordered table-hover table-condensed table-hover">
						<tr class="info">
						<td><label>Sno. </label></td>
						<td><label>Order Reference No </label></td>
						<td><label>Retailer</label></td>
						<td><label>Customer </label></td>
						<td><label>Amount</label></td>
						 
						</tr>
						</table>
					</div>
					<br>
					<div align="right" margin-right="30px"><label>Total:</label></div>
					<table border="1" style="margin:3px">
						<tr>
							<td align='right' colspan="2"><div>
									<label>NOTE!!</label>
								</div></td>
							<td align='right' colspan="2">
								<div>
									<textarea name="comment" cols="80" rows="3"
										class="form-control" ng-model="Payment.note"
										placeholder="write comments" required></textarea>
								</div></td>
						</tr>
					</table>
					 
						<table class="table">
							<tr >

								<td style="border-top: none;" align="right">
									<button class="btn btn-default" ng-click="clear()">Cancel</button>
									<button class="btn btn-success">Transfer Amount</button>
									
								</td>
							</tr>
						</table>
					 	 
					 
					 
				</form>
			 
</div>
