 
	 <div ng-controller="parceltransfer">
        <div>
            <h3 align="center">Transfer Parcel Store to Store</h3>
        </div>
        <div>

                       <form ng-submit="save()">
						<table align="center">
							  <tr>
								<td><label>From Location.</label></td>
								<td><input type="text" ng-model="outward.fromLocation"
									placeholder="from Location" class="form-control" disabled> <span
									class="help-block"></span></td>
							</tr>
							<tr>
								<td><label>To Location</label></td>
								<td><input type="text" ng-model="outward.toLocation" required
									placeholder=" to Location" class="form-control" typeahead="obj.name for obj in stores"> <span
									class="help-block"></span></td>
							</tr>

                            <tr>
								<td><label>Tracking Id</label></td>
								<td><input type="text" ng-model="outward.trackingId" required
									placeholder=" tracking Id" class="form-control"> <span
									class="help-block"></span></td>
							</tr>
							  <tr>
								<td><label>Person Name</label></td>
								<td><input type="text" ng-model="outward.personName" required
									placeholder="person name" class="form-control"> <span
									class="help-block"></span></td>
							</tr><tr>
								<td><label>Phone No</label></td>
								<td><input type="text" ng-model="outward.personNo" required
									placeholder="person No." class="form-control"> <span
									class="help-block"></span></td>
							</tr>
							<tr>
								<td align="center" colspan="2"> <button class="btn btn-default"  ng-click="close()">Cancel</button>
            							<button type="submit" class="btn btn-success" ">Save</button></td>
							</tr>

							 
						</table>
            
</form>
</div>
 <div align="center">
            
           
        </div>

</div>
