<br>
<br>
<center>
<h4 style="color:blue">Update customer's order via address or phone number</h4>
<div class="container-fluid">
	<div class="row">
	
		<div class="col-xs-11 col-sm-11 col-md-11">
			
				<form  ng-submit="updateOrder(dis)" method="post">
				  <table>
				  <tr>
				  	<td>
				  	<label for="sel1">Select Whether You Want to update Tracking id or Order Id:</label>
						  <select class="form-control" id="sel1" name="value" ng-model="dis.value">
						    <option value="orderId"  ng-selected="orderId">orderId</option>
						    <option>trackingId</option>
					
						  </select>
				  	<!-- 
				  		<label class="radio-inline"><input type="radio" name="value" ng-model="dis.value" value="orderId"  checked="checked">OrderId</label>
						<label class="radio-inline"><input type="radio" name="value" ng-model="dis.value" value="trackingId">TrackingId</label> -->
				   </td>
				  </tr>
				   <tr style="height:10px"><td></td></tr>
				    <tr>
				      
				      <td align="left"><label>Order/Tracking Id</label><input type="text" class="form-control" placeholder="Enter Order/Tracking Id" name = "id" ng-model = "dis.id" required/></td>
				    </tr>
				    <tr style="height:10px"><td></td></tr>
				    <tr>
				      
				      <td align="left"><label>Customer Adress</label><input id="customerAddress" type="text" style="height:100px" class="form-control" placeholder="Customer Adress" name = "customerAddress" ng-model = "dis.customerAddress"/></td>
				    </tr>
				    <tr style="height:10px"><td></td></tr>
				    <tr>
				      
				      <td align="left"><label>Phone Number</label><input id="customerMobile" type="text" class="form-control" placeholder="Phone Number" name = "customerMobile" ng-model = "dis.customerMobile"/></td>
				    </tr>
				    <tr style="height:10px"><td></td></tr>
				    
				    <tr style="height:10px"><td></td></tr>
					
					<tr>
					<td>
				      <input class="btn btn-success" style = "margin-left: 250px" type = "submit"/>
				       
				      </td>
				    </tr>
				
				  </table>
				  
			</form>	
		</div>
					      
		</div>
					      
</div>
</center>
					      
					     