<div ng-controller="updateReturnStatus">
 <div align="center" >
            <h3>Update Order Status</h3>
        </div>
	<form ng-submit="save()">
						<table align="center">
							  <tr>
							  	 
								<td><label>Order Status</label></td>
								<td><input type="text" class="form-control" placeholder="Select Status" ng-blur="loadReason($index,order.orderStatus)" ng-model="order.status" size="20" typeahead="obj for obj in statuses" required></td>
							</tr>
							
							<tr>
								<td><label>Reason</label></td>
								<td ><input type="text" ng-model="order.statusReason" placeholder="Reason" class="form-control" typeahead="ob for ob in reasons|filter:$viewValue |limitTo:4" ></td>
								
							
							</tr>
							<tr ng-show="showDate">
								<td><label>Delivery Date</label></td>
								<td><input type="date" ng-model="order.deliveryDate" class="form-control"></td>
							</tr>
							<tr>
								
								<td><label>Tracking Number</label></td>
								<td><input type="text" ng-model="order.trackingId" required
									placeholder=" tracking no" class="form-control"> <span
									class="help-block"></span></td>
							</tr>
							<tr>
								<td align="center" colspan="2"> <button class="btn btn-default"  ng-click="close()">Cancel</button>
            							<button type="submit" class="btn btn-success" >Save</button></td>
							</tr>
                          
                        </table>
      </form>
</div>