


<br>
<br>
				<div ng-controller="returnUpdateController">
					<div class="col-md-6">
					<table class="table">
						
						<tr>
							<td style="border-top:0px"><b>Return No.</b></td>
							<td style="border-top:0px"><input type="text"  name="returnId"  placeholder="Return Id" ng-model = "dis.returnId"  class="form-control" readonly></td>
						</tr>
						<tr>
							<td style="border-top:0px"><b>Retailer</b></td>
							<td style="border-top:0px"><input name="retailerId" ng-model="dis.retailerId" placeholder=" Retailer Id"  class="form-control" type="number" required readonly/></td>
						</tr>
						<tr>
							<td style="border-top:0px"><b>Tracking Id</b></td>
							<td style="border-top:0px"><input type="text"  name="trackingId"  placeholder=" Tracking Id" ng-model = "dis.trackingId"  class="form-control" readonly></td>
						</tr>
						<tr>
							<td style="border-top:0px"><b>Order Type</b></td>
							<td style="border-top:0px"><input type="text" class="form-control" ng-model="dis.orderType" readonly></td>
						</tr>
						<tr>
							<td style="border-top:0px"><b>Category</b></td>
							<td style="border-top:0px"><input type="text" class="form-control" ng-model="dis.orderCategory" readonly>
							
							
							</td>
						</tr>
						<tr>
							<td style="border-top:0px"><b>Payment Type</b></td>
							<td style="border-top:0px"><input type="text" ng-model="dis.paymentType"class="form-control select select-primary select-block mbl" name="paymentType" ng-model="dis.paymentType" required readonly>
 				 			
    							</select>
							</td>
						</tr>
						<tr>
							<td style="border-top:0px"><b>Status</b></td>
							<td style="border-top:0px"><input type="text" class="form-control" ng-model="dis.orderStatus" readonly></td>
						</tr>
						<tr>
							<td style="border-top:0px"><b>Assign To</b></td>
							<td style="border-top:0px"><input type="text" class="form-control" ng-model="dis.assignedTo"  readonly>
									
								</td>
						</tr>
						<tr>
							<td style="border-top:0px"><b>PROOF OF RETURN(POR)</b></td>
							<td style="border-top:0px"><input type="text"  name="deliveredDate"  placeholder="PROOF OF DELIVERY" ng-model = "dis.deliveredDate"  class="form-control" readonly></td>
						</tr>
						<tr>
							<td style="border-top:0px"><b>Retailer Name</b></td>
 							<td style="border-top:0px"><input type="text"  name="retailerName" ng-model = "retailerName" class="form-control" readonly></td>
 						</tr>
						<tr>
							<td style="border-top:0px"><b>Assigned Store Name</b></td>
 							<td style="border-top:0px"><input type="text"  name="storeName" ng-model = "dis.storeName" class="form-control" readonly></td>
 						</tr>
 						<tr>
							<td style="border-top:0px"><b>Number Of Attempts</b></td>
 							<td style="border-top:0px"><input type="text"  name="attempts" ng-model = "dis.attempts" class="form-control" readonly></td>
 						</tr>
					</table>
				</div>
				
				
				<div class="col-md-6">
					<table class="table">
					<tr>
							<td style="border-top:0px"><b>Order Value</b></td>
 							<td style="border-top:0px"><input type="text"  name="orderValue" ng-model = "dis.orderValue" class="form-control" readonly></td>
 						</tr>
					<tr>
							<td style="border-top:0px"><b>Store Name</b></td>
 							<td style="border-top:0px"><input type="text"  name="storeName" ng-model = "dis.storeName" class="form-control" readonly></td>
 						</tr>
						<tr>
							<td style="border-top:0px"><b>Details</b></td>
 							<td style="border-top:0px"><input type="text"  name="details" ng-model = "dis.details" class="form-control" readonly></td>
 						</tr>
 						<tr>
							<td style="border-top:0px"><b>Customer Name</b></td>
 							<td style="border-top:0px"><input type="text"  name="customerName"  ng-model = "dis.customerName" placeholder=" Customer name"  class="form-control" readonly ></td>
 						</tr>
 						<tr>
							<td style="border-top:0px"><b>Address</b></td>
 							<td style="border-top:0px"><textarea rows="4" cols="50"  name="customerAddress" ng-model="dis.customerAddress"  placeholder=" Customer Address"  class="form-control" readonly></textarea></td>
 						</tr>
 						<tr>
							<td style="border-top:0px"><b>City</b></td>
 							<td style="border-top:0px"><input type="text"  name="city"  ng-model = "dis.city" placeholder="City"  class="form-control" readonly></td>
 						</tr>
 						<tr>
							<td style="border-top:0px"><b>Pin Code</b></td>
							<td style="border-top:0px"><input  name="pinCode"  ng-model = "dis.pincode" placeholder="Pincode"  class="form-control"  type="text" required readonly/></td>
						</tr>
						<tr>
							<td style="border-top:0px"><b>Current Location</b></td>
 							<td style="border-top:0px"><input type="text"  name="status"  ng-model = "status" placeholder="currentLocation"  class="form-control" readonly></td>
 						</tr>
						<tr>
							<td style="border-top:0px"><b>Contact No.</b></td>
							<td style="border-top:0px"><input  name="phone"  ng-model = "dis.phone" placeholder=" CustomerContactNo"  class="form-control"  type="text" required readonly/></td>
						</tr>
						<tr>
							<td style="border-top:0px"><b>email Id</b></td>
							<td style="border-top:0px"><input type="text"  name="emailId" ng-model="dis.emailId"  placeholder=" Customer Email"  class="form-control" readonly></td>
						</tr>
					</table>
				</div>
				
			 
			
				</div>