


<br><br>
    <body>
    
    		<ul class="nav nav-tabs" role="tablist">
   				<li role="presentation" class="active"><a data-target="#orderdetails" aria-controls="orderdetails" role="tab" data-toggle="tab"><b>Order Details</b></a></li>
    			<!-- <li role="presentation"><a data-target="#orderactivity" aria-controls="orderactivity" role="tab" data-toggle="tab"><b>Order Activity</b></a></li> -->
   				<!-- <li role="presentation"><a data-target="#comment" aria-controls="comment" role="tab" data-toggle="tab"><b>Comments</b></a></li>
   				<li role="presentation"><a data-target="#attachments" aria-controls="attachments" role="tab" data-toggle="tab"><b>Attachments</b></a></li>
  				 <li role="presentation"><a data-target="#orderflow" aria-controls="orderflow" role="tab" data-toggle="tab"><b>Order Flow</b></a></li> -->
 			</ul>
 			
 			<div class="tab-content">
   				<div role="tabpanel" class="tab-pane active" id="orderdetails"  ng-controller="OrderUpdateController"> 
   					  <div > 
     	<!-- Main Content  -->
				<div >
					<div class="col-md-6">
					<table class="table">
						
						<tr>
							<td style="border-top:0px"><b>Order No.</b></td>
							<td style="border-top:0px"><input type="text"  name="orderId"  placeholder=" Order Id" ng-model = "dis.orderId"  class="form-control" readonly></td>
						</tr>
						<tr>
							<td style="border-top:0px"><b>Retailer</b></td>
							<td style="border-top:0px"><input name="retailerId" ng-model="dis.retailerId" placeholder=" Retailer Id"  class="form-control" type="number" required readonly/></td>
						</tr>
						<tr>
							<td style="border-top:0px"><b>Tracking Id</b></td>
							<td style="border-top:0px"><input type="text"  name="trackingId"  placeholder=" Tracking Id" ng-model = "dis.trackingId"  class="form-control" readonly></td>
						</tr>
						<tr>
							<td style="border-top:0px"><b>Order Type</b></td>
							<td style="border-top:0px"><input type="text" class="form-control" ng-model="dis.orderType" readonly></td>
						</tr>
						<tr>
							<td style="border-top:0px"><b>Category</b></td>
							<td style="border-top:0px"><input type="text" class="form-control" ng-model="dis.orderCategory" readonly>
							
							
							</td>
						</tr>
						<tr>
							<td style="border-top:0px"><b>Payment Type</b></td>
							<td style="border-top:0px"><input type="text" ng-model="dis.paymentType"class="form-control select select-primary select-block mbl" name="paymentType" ng-model="dis.paymentType" required readonly>
 				 			
    							</select>
							</td>
						</tr>
						<tr>
							<td style="border-top:0px"><b>Status</b></td>
							<td style="border-top:0px"><input type="text" class="form-control" ng-model="dis.orderStatus" readonly></td>
						</tr>
						<tr>
							<td style="border-top:0px"><b>Assign To</b></td>
							<td style="border-top:0px"><input type="text" class="form-control" ng-model="dis.assignedTo"  readonly>
									
								</td>
						</tr>
						<tr>
							<td style="border-top:0px"><b>PROOF OF DELIVERY(POD)</b></td>
							<td style="border-top:0px"><input type="text"  name="deliveredDate"  placeholder="PROOF OF DELIVERY" ng-model = "dis.deliveredDate"  class="form-control" readonly></td>
						</tr>
						<tr>
							<td style="border-top:0px"><b>Retailer Name</b></td>
 							<td style="border-top:0px"><input type="text"  name="retailerName" ng-model = "retailerName" class="form-control" readonly></td>
 						</tr>
						<tr>
							<td style="border-top:0px"><b>Assigned Store Name</b></td>
 							<td style="border-top:0px"><input type="text"  name="storeName" ng-model = "dis.storeName" class="form-control" readonly></td>
 						</tr>
 						<tr>
							<td style="border-top:0px"><b>Number Of Attempts</b></td>
 							<td style="border-top:0px"><input type="text"  name="attempts" ng-model = "dis.attempts" class="form-control" readonly></td>
 						</tr>
					</table>
				</div>
				
				
				<div class="col-md-6">
					<table class="table">
					<tr>
							<td style="border-top:0px"><b>Order Value</b></td>
 							<td style="border-top:0px"><input type="text"  name="orderValue" ng-model = "dis.orderValue" class="form-control" readonly></td>
 						</tr>
					<tr>
							<td style="border-top:0px"><b>Store Name</b></td>
 							<td style="border-top:0px"><input type="text"  name="storeName" ng-model = "dis.storeName" class="form-control" readonly></td>
 						</tr>
						<tr>
							<td style="border-top:0px"><b>Details</b></td>
 							<td style="border-top:0px"><input type="text"  name="orderDetails" ng-model = "dis.orderDetails" class="form-control" readonly></td>
 						</tr>
 						<tr>
							<td style="border-top:0px"><b>Customer Name</b></td>
 							<td style="border-top:0px"><input type="text"  name="customerName"  ng-model = "dis.customerName" placeholder=" Customer name"  class="form-control" readonly ></td>
 						</tr>
 						<tr>
							<td style="border-top:0px"><b>Address</b></td>
 							<td style="border-top:0px"><textarea rows="4" cols="50"  name="customerAddress" ng-model="dis.customerAddress"  placeholder=" Customer Address"  class="form-control" readonly></textarea></td>
 						</tr>
 						<tr>
							<td style="border-top:0px"><b>City</b></td>
 							<td style="border-top:0px"><input type="text"  name="City"  ng-model = "dis.cityName" placeholder="City"  class="form-control" readonly></td>
 						</tr>
 						<tr>
							<td style="border-top:0px"><b>Pin Code</b></td>
							<td style="border-top:0px"><input  name="pinCode"  ng-model = "dis.customerZipcode" placeholder="Pincode"  class="form-control"  type="text" required readonly/></td>
						</tr>
						<tr>
							<td style="border-top:0px"><b>Current Location</b></td>
 							<td style="border-top:0px"><input type="text"  name="location"  ng-model = "dis.location" placeholder="currentLocation"  class="form-control" readonly></td>
 						</tr>
						<tr>
							<td style="border-top:0px"><b>Contact No.</b></td>
							<td style="border-top:0px"><input  name="customerContactno"  ng-model = "dis.customerContact" placeholder=" CustomerContactNo"  class="form-control"  type="text" required readonly/></td>
						</tr>
						<tr>
							<td style="border-top:0px"><b>email Id</b></td>
							<td style="border-top:0px"><input type="text"  name="customerEmailId" ng-model="dis.customerEmail"  placeholder=" Customer Email"  class="form-control" readonly></td>
						</tr>
					</table>
				</div>
				
			 
				<div class="col-md-12">
					<table class="table">
					<tr>
						 
						<td style="border-top:0px" align="right" >
						<!-- <a  >
	   									<button style=margin-top:20px; class="btn btn-hg btn-primary" ng-click="cancel()">
	  									Cancel
										</button>
						</a>
						<a>
	   									<button style=margin-top:20px; class="btn btn-hg btn-primary" ng-click="updateOrder(dis)">
	  									Save/Update
										</button>
						</a> -->
						 
								   
						</td>
					</tr>
				</table>
				</div>
				</div></div>
   				
   				</div>
   				
	 			<br><br><br>
   				<div role="tabpanel" class="tab-pane " id="orderactivity"  ng-controller="OrderActivityController">
   				
						
						
						<button ng-click="refreshGrid()">Refresh</button>
 						<div Style="height:500px;width:100%" id="grid1" ui-grid="gridOptions" external-scopes="myScope" ui-grid-resize-columns ui-grid-exporter ui-grid-selection class="grid"></div>
  		
    								 			
    					
    							

   				</div>
   			
    
  </body>