<div ng-controller="updateRetailerController">

	<!-- <table>
		<tr>
			<td>
				<h1 style="margin-left: 300px">RETAILER DETAILS</h1>
			</td>
		</tr>
	</table> -->
	<br>
		<div>
            <form>
            
			<div class="col-md-6">
			
				<div class="blog-post blog-single-post">


					<div class="single-post-content">


						<table>
							<tr>
								<td><label>Retailer Name</label></td></tr>
								<tr>
								<td><input type="text" ng-model="Retailer.retailerName" required
									placeholder=" Retailer Name" class="form-control"> <span
									class="help-block"></span></td>
							</tr>

							<tr>
								<td><label>Retailer Type</label></td></tr>
								<tr>
								<td><input type="text" ng-model="Retailer.retailerType" required
									placeholder=" Retailer Type" class="form-control"> <span
									class="help-block"></span></td>
							</tr>
						
							<tr>
								<td><label>Retailer city</label></td></tr><tr>
								<td><input type="text" ng-model="Retailer.retailerCity" required
									placeholder=" Retailer City" class="form-control"> <span
									class="help-block"></span></td>
							</tr>
							<tr>
								<td><label>Retailer Address</label></td></tr><tr>
								<td><textarea cols="50" rows="5" ng-model="Retailer.retailerAddress" placeholder="Retailer Address" required></textarea> <span
									class="help-block"></span> <br></td>
							</tr>
							<tr>
								<td><label>Retailer Zip</label></td></tr><tr>
								<td><input type="text" ng-model="Retailer.retailerZip" required ng-minlength="6" ng-maxlength="6"
									placeholder=" Retailer Area" class="form-control"> <span
									class="help-block"></span></td>
							</tr>

							<tr>
								<td><label>Retailer Mobile</label></td></tr><tr>
								<td><input type="text" ng-model="Retailer.retailerPhone" required ng-minlength="10"
									 ng-maxlength="10" placeholder=" Retailer mobile" class="form-control"> <span
									class="help-block"></span></td>
							</tr>


							<tr>
								<td><label>Retailer Email</label></td></tr><tr>
								<td><input type="email" ng-model="Retailer.retailerEmail" required
									placeholder=" Retailer Email" class="form-control"> <span
									class="help-block"></span></td>
							</tr>
							<tr>
								<td><label>Map Location</label></td></tr><tr>
								<td><input type="text" ng-model="Retailer.retailerGeoLocation"
									placeholder=" Retailer Location" class="form-control"></td>
									<td><button class="btn btn-primary">Map location</button></td>
							</tr>
							
						</table>
					</div>

				</div>
				</div>
				<div class="col-md-6">
				 <div class="panel panel-primary">
			     <div class="panel-heading">
				<h3 class="panel-title">Services Provided.....</h3>
			   </div>
			    <div class="panel-body">
				<table class="table table-bordered">
					<tr>
								<td>select</td>
								<td>Feature</td>
								<td>Description</td>
							</tr>
						
								
								
							<tr ng-repeat="service in services">
							<td><input type="checkbox" ng-model="service.serviceStatus"/></td>
							<td>{{service.serviceName}}</td>
							<td>{{service.serviceDesc}}</td>

							</tr>
				</table>
				</div>
				</div>
				</div>
				<div class="col-md-6">
				 <div class="panel panel-primary">
			<div class="panel-heading"> Categories Services.....</h3>
			</div>
			<div class="panel-body">
				<table class="table table-bordered">
					<tr>
							
								<td>select</td>
								<td>Category</td>
								<td>Description</td>
							</tr>
							<tr ng-repeat="category in categoryServices">
								<td><input type="checkbox" ng-model="category.categoryStatus" /></td>
								<td>{{category.categoryName}}</td>
								<td>{{category.categoryDesc}}</td>
							</tr>
				</table>
				</div>
				</div>
				</div>
			<div class="col-md-12" style="margin-top: 30px">
				<button style="margin-left: 0px" class="btn btn-primary"
					ng-click="addContact()" data-toggle="modal"><span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;Add Contact</button>
				<br><div style="margin-top:5px;border: 1px solid rgb(212, 212, 212);height:200px"
					ng-grid="contactGrid"></div>
			</div>
			<div class="col-md-12" style="margin-top: 20px">
				<button style="margin-left: 0px" class="btn btn-primary"
					ng-click="addWarehouse()" data-toggle="modal"><span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;Add Warehouse</button>
				<br><div style="margin-top:5px;border: 1px solid rgb(212, 212, 212);height: 200px"
					ng-grid="warehouseGrid"></div>
			</div>
 
		<div class="col-md-12">
			<table class="table">
				<tr>
					<td style="border-top: 0px" align="right">
						
						<button style="margin-top: 20px;" ng-type="submit" class="btn btn-success" ng-click="save()">
							Update</button>
							<button style="margin-top: 20px;" class="btn btn-default">
							Cancel</button>
					</td>
				</tr>
			</table>
		</div>
	 
			</form>
       

</div>
</div>


