
<div ng-controller="updateRegionController" style="float: center;">

	<br>
	<div>
		<form>

			<div class="col-md-6">

				<div class="blog-post blog-single-post">


					<div class="single-post-content">


						<table>
						
						<tr>
								<td><label>Region ID</label></td></tr><tr>
								<td><input type="text" ng-model="Region.region_id" readonly
									placeholder=" Region ID" class="form-control"> <span
									class="help-block"></span></td>
							</tr>
							<tr>
								<td><label>Region Name</label></td></tr>
								<tr>
								<td><input type="text" ng-model="Region.region_name" required
									placeholder=" Region Name" class="form-control"> <span
									class="help-block"></span></td>
							</tr>

							<tr>
								<td><label>Zone Name</label></td></tr>
								<tr>
							<td><input type="text" ng-model="Region.zone_name" readonly
									placeholder="Zone Name" class="form-control"><span
									class="help-block"></span></td>
									<!-- <td>	<select ng-options="option.region_name for option in listOfRegionNames" ng-model="Hub.region_name" class="form-control" >
						<option value="">{{Hub.region_name}}</option>
							</select></td> -->
							</tr>
								
							<tr>
								<td><label>Region Description</label></td></tr><tr>
								<td><textarea cols="50" rows="5" ng-model="Region.region_desc" placeholder="Region Description" required></textarea> <span
									class="help-block"></span> <br></td>
							</tr>
							
							
						</table>
					</div>

				</div>
			</div>
			
		
			<div class="row">
				<div class="col-md-12">
					<table class="table">
						<tr>
							<td style="border-top: 0px" align="right">
							<button style="margin-top: 20px;" ng-type="submit" class="btn btn-success" class="form-control" ng-click="save()">
									Update</button>
								<button style="margin-top: 20px;" class="btn btn-default" ng-click="cancel()">
									Cancel</button>
								
							</td>
						</tr>
					</table>
				</div>
			</div>

		</form>
	</div>
</div>
