				
				
				
				<h2 style="margin-left:100px">USER OUTLET</h2>
				<form action="createUserOutlet" method="post">
				<div class="row">
					
					<div class="col-sm-6">
						<div class="blog-post blog-single-post">
							
							
							<div class="single-post-content">
							
							
							  
							<label>User Id</label>
						<input type="text"  name="userId"  placeholder=" User Id"  class="form-control" >
						<span class="help-block"></span>
						
						
						<label>Outlet Id	</label>
						<input type="text"  name="outletId"  placeholder=" Outlet Id"  class="form-control" >
						<span class="help-block"></span>
						
						
						
						
						
   									<button style="margin-top:20px;margin-bottom:20px;" class="btn btn-hg btn-primary">
  									Save User
									</button>
							  
							 		<a ui-sref="product">
   										<button style="margin-top:20px;margin-bottom:20px;" class="btn btn-default pull-right">
  										Close
										</button><br>
									</a>
						
						
								
							</div>
						</div>
					</div>
					
					

					
					</div>
					</form>
					
