
<html lang="en">


    <body  style="width:100%">
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
        

    
		<table class="table">
							<tr>
								<td style="border-top:0px;margin-left:500px;"><h2><b>User Details</b></h2></td>
								
							</tr>
						</table>
		 
			
				<form action="createUser" method="POST">
				<div class="col-md-6">
				
						
					<table class="table">
						<tr>
							<td style="border-top:0px"><b> Full Name </b></td>
							<td style="border-top:0px"><input type="text"  name="userName"  placeholder=" Name" ng-model = "dis.orderTitle" class="form-control" ></td>
						</tr>
						<!-- <tr>
							<td style="border-top:0px"><b>D</b></td>
 							<td style="border-top:0px"><textarea rows="4" cols="50"  name="customerAddress" ng-model="dis.customerAddress"  placeholder=" Customer Address"  class="form-control" ></textarea></td>
 						</tr> -->
						
						<tr>
							<td style="border-top:0px"><b>Designation</b></td>
							<td style="border-top:0px"><input type="text" name="userType"  placeholder="Designation"  class="form-control" type="number"/></td>
						</tr>
						<tr>
							<td style="border-top:0px"><b>Contact No</b></td>
							<td style="border-top:0px"><input type="text"  name="userMobil"  placeholder="Contact No"   class="form-control" ></td>
						</tr>
						<tr>
							<td style="border-top:0px"><b>Email Id</b></td>
							<td style="border-top:0px"><input type="text"  name="userEmail"  placeholder="Email Id"   class="form-control" ></td>
						</tr>
						<tr>
							<td style="border-top:0px"><b>Login Name</b></td>
							<td style="border-top:0px"><input type="text"  name="userLogin"  placeholder="Login Name"   class="form-control" ></td>
						</tr>
						<tr>
							<td style="border-top:0px"><b>Password</b></td>
							<td style="border-top:0px"><input type="text"  name="userPassword"  placeholder="Password"   class="form-control" ></td>
						</tr>
						<tr>
							<td style="border-top:0px"><b>Confirm password</b></td>
							<td style="border-top:0px"><input type="text"  name="userPassword"  placeholder="Confirm Password"   class="form-control" ></td>
						</tr>
						
						
					</table>
				</div>
				
				
				<div class="col-md-6">
					<table class="table">
						<!-- <tr>
							<td style="border-top:0px"><b>Details</b></td>
 							<td style="border-top:0px"><input type="text"  name="orderDetail" ng-model = "dis.orderDetail" class="form-control"></td>
 						</tr>
 						<tr>
							<td style="border-top:0px"><b>Customer Name</b></td>
 							<td style="border-top:0px"><input type="text"  name="customerName"  ng-model = "dis.customerName" placeholder=" Customer name"  class="form-control" ></td>
 						</tr> -->
 						
 						<tr>
							
							<td style="border-top:0px">
									   <div class="form-group">
                                            <label>Roles</label>
                                            <select multiple class="form-control">
                                                <option>Store  Supervisor</option>
                                                <option>Store Manager</option>
                                                <option>Store Executive</option>
                                                <option>Delivery Boy </option>
                                                <option>Accountant </option>
                                            </select>
                                        </div>
							
							</td>
						</tr>
 						
 					
					</table>
					
					      <table class="table table-bordered">
        <thead>
            <tr>
                <th>Sl No</th>
                <th>Module Name</th>
                <th>Permission</th>
                
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Store Management</td>
               
                <td><label class="checkbox-inline"><input type="checkbox" value="">create/update</label><label class="checkbox-inline"><input type="checkbox" value="">Change Status</label></td>
            </tr>
            <tr>
            		<td>2</td>
            		<td></td>
            		<td></td>
            
            </tr>
            <tr>
            		<td>3</td>
            		<td></td>
            		<td></td>
            </tr>
            <tr>
            
            		<td>4</td>
            		<td></td>
            		<td></td>
            </tr>
           
        </tbody>
    </table>
				</div>
				

			<div class="row">
				<div class="col-md-12">
					<table class="table">
					<tr>
						 
						<td style="border-top:0px" align="right" >
					
										
						
	   									<button class="btn btn-default">
	  									Cancel
										</button>
						
						
						 
	   									<button type="submit" class="btn btn-success">
	  									Save/Update
										</button>
						
						
	   									
								   
						</td>
					</tr>
				</table>
				</div>
			</div>
			</form>
			
	
        
        <!-- <div class="modal fade" id="myModal" tabindex="-1"
		data-keyboard="false" data-backdrop="static" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content"  >
				<div class="modal-header" >
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title">Enter OTP</h4>
				</div>

				<div ng-controller="">
				
					<table class="table" style="width:300px" align="center">
						<tr >
							<td style="border-top:0px"><b>Enter OTP:</b></td>
							<td style="border-top:0px"><input type="text" class="form-control" required></td>
						</tr>
						</table>
					 
					
				</div>


				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
					<button   type="button"  data-dismiss="modal" class="btn btn-success" data-toggle="modal" data-target="#myModal2"  >
  						Next
					</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">Next</button>
					<button type="button" class="btn btn-primary">Submit</button>

				</div>
			</div>
		</div>
	</div>
       
        <div class="modal fade" id="myModal2" tabindex="-1"
		data-keyboard="false" data-backdrop="static" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content"   >
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title">Enter Payment Details </h4>
				</div>

				<div >
				{{a}}
					<table class="table table-hover" style="width:300px" align="center" >
						<tr>
							 <td align="center" colspan="2" style="border-top:0px">
							 	<input type="radio" checked name="payment" value="cash" ng-model="payment.mode"><b>Cash</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							 	<input type="radio" name="payment" value="card" ng-model="payment.mode"><b>Card</b>
							 </td>
						</tr>
					</table>
					<div >
						<table ng-show="cash" class="table" style="width:300px" align="center">
							<tr>
								<td style="border-top:0px"><b>Amount</b></td>
								<td style="border-top:0px"><input type="text" class="form-control"></td>
							</tr>
						</table>
						
						 <table ng-show="card" class="table" style="width:300px" align="center">
							<tr>
								<td style="border-top:0px"><b>Card Type</b></td>
								<td style="border-top:0px"><select class="form-control">
									<option>Type 1</option>
									<option>Type 2</option>
									<option>Type 3</option>
								</select></td>
							</tr>
							<tr>
								<td style="border-top:0px"><b>Name Of Bank</b></td>
								<td style="border-top:0px"><input type="text" class="form-control"></td>
							</tr>
							<tr>
								<td style="border-top:0px"><b>Name On Card</b></td>
								<td style="border-top:0px"><input type="text" class="form-control"></td>
							</tr>
							<tr>
								<td style="border-top:0px"><b>Amount</b></td>
								<td style="border-top:0px"><input type="text" class="form-control"></td>
							</tr>
						</table> 
					</div>
				</div>


				<div class="modal-footer">
					<table class="table">
						<tr>
							<td align="left" style="border-top:0px"><button type="button" class="btn btn-primary"   ng-click="goBack()">Back</button></td>
							<td align="right" style="border-top:0px"><button type="button" class="btn btn-warning" data-dismiss="modal">Cancel</button>
							 <button   type="button"   class="btn btn-success" data-toggle="modal" data-dismiss="modal"  >
  						Submit
					</button></td>
						</tr>
					</table>
					
					<button type="button" class="btn btn-default" data-dismiss="modal">Next</button>
					<button type="button" class="btn btn-primary">Submit</button>

				</div>
			</div>
		</div>
	</div> -->
       

    </body>
    
</html>