
<div style="width:100%;height:100%" ng-controller="userController">
<div style="width:100%">
<!-- 	<table class="table">
		<tr>
			<td style="border-top:0px"><a ui-sref="addStore">
					<button  class="btn btn-primary">
						<span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;ADD STORE</button>
			</a></td>
		<tr>
	</table> -->

<h2>User Details</h2>
	<div>	
	
 	<div  ui-grid="gridOptions" ui-grid-selection ui-grid-exporter class="grid"></div>
  		
    								 
    					</div>	
</div>
</div>












<!-- 			<div style="margin-top:80px; margin-right:20px;" class="box box-success"ng-controller="productController">

							<a ui-sref="createuser">
   									<button style=margin-top:20px;margin-left:0.5% ; class="btn btn-hg btn-primary">
  									CREATE USER
									</button>
							  </a>
							<a ui-sref="deleteuser">
   									<button style=margin-top:20px;  class="btn btn-primary btn-md" data-toggle="modal" data-target="#myModal">
  								ADD ROLE
									</button>
							  </a>
							  <a ui-sref="resetpassword">
   									<button style=margin-top:20px; class="btn btn-hg btn-primary">
  									RESET PASSWORD
									</button>
							  </a>
							
							  
							   <div style=margin-top:20px ng-controller="userController">	
					<strong>Search:&nbsp;&nbsp;</strong><input type="text" ng-model="filterOptions.filterText" />
						
					
							
					<hr>
          
 							 <div style=" border: 1px solid rgb(212,212,212);
   								 width:100%;height: 200px; margin-left:0%;margin-right:0%" ng-grid="gridUser"></div>
    								
    								</div>
    								
    									<div  class="modal fade" id="myModal" tabindex="-1" data-keyboard="false" data-backdrop="static"
 									role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
 									 <div class="modal-dialog">
 								   <div class="modal-content">
  											    <div class="modal-header">
  								     <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
   							     <h4 class="modal-title">ASSIGN ROLES</h4>
   					   </div>
      
    <div >
	  			  <div style=margin-top:20px ng-controller="userController">	
					<strong>Search:&nbsp;&nbsp;</strong><input type="text" ng-model="filterOptions.filterText" />
						
					
							
					<hr>
          
 							 <div style=" border: 1px solid rgb(212,212,212);
   								 width:100%;height: 200px; margin-left:0%;margin-right:0%" ng-grid="gridUser"></div>
    								
    								</div>
							
						
		<label>SELECT MODULE	</label>
						<select class="form-control select select-primary select-block mbl"  required>
						<option value="Module 1">Module 1</option>
						 <option value="Module 2">Module 2</option> 
						 <option value="Module 3">Module 3</option>
						 </select><span class="help-block"></span>
						<span class="help-block"></span>
						<div >
						<label><input type="checkbox" value=""> Create Users</label>
						</div>
						<div >
						<label><input type="checkbox" value=""> Accept Return product</label>
						</div>
						<div >
						<label><input type="checkbox" value=""> Assign Users to Stores</label>
						</div>
						<div >
						<label><input type="checkbox" value=""> Create Stores</label>
						</div>
						
						<div >
						<label><input type="checkbox" value=""> Create Retailer</label>
						</div>
							
	    <button style="margin-left:10px" class="btn btn-primary btn-md" data-dismiss="modal" >SAVE</button>
	</div>
	
      
      	<div class="modal-footer">
      
        <button type="button" class="btn btn-default" data-dismiss="modal" >Close</button>
        <button type="button" class="btn btn-primary">Submit</button>
        
      	</div>
    </div>
  </div></div>

 
							
					
 							
</div>
	 -->