 <div ng-controller="storeRunsheet2">
	 
	<form>
		<div style="height:570px;overflow:scroll">
			<table class="table table-hover">
				<tr>
					<td><b>Order Id</b></td>
					<td><b>Tracking Id</b></td>
					<td><b>Customer Name</b></td>
					<td><b>Order Type</b></td>
					<td><b>Assigned Store</b></td>
					<td><b>Store Assigned Date</b></td>
					<td><b>Delivery Boy</b></td>
					<td><b>Order Status</b></td>
					<td><b>Reason</b></td>
					<td><b>Current Location</b></td>
					<td><b>Receipt Date</b></td>
					<td><b>Delivered Date</b></td>
					<td><b>Retailer Id</b></td>
					<td><b>Attempts</b></td>
					<td><b>Barcode</b></td>
				
				</tr>
				<tr ng-repeat="obj in orders">
					<td>{{obj.orderId}}</td>
					<td>{{obj.trackingId}}</td>
					<td>{{obj.customerName}}</td>
					<td>{{obj.orderType}}</td>
					<td>{{obj.storeId}}</td>
					<td>{{obj.storeAssignDate}}</td>
					<td>{{obj.assignedTo}}</td>
					<td>{{obj.orderStatus}}</td>
					<td>{{obj.reason}}</td>
					<td>{{obj.location}}</td>
					<td>{{obj.receiptDate}}</td>
					<td>{{obj.deliveredDate}}</td>
					<td>{{obj.retailerId}}</td>
					<td>{{obj.attempts}}</td>
					<td >
						 <barcode type="code128c" string="{{obj.trackingId}}"></barcode><br>
					</td>
				
				</tr>
			</table>
			
		</div>
		<table>
				<tr align="center">
					<td >
						<button class="btn btn-primary" ng-click="save()">Save</button>
						<button class="btn btn-primary" ng-click="closeRunSheet()">Close Runsheet</button>
						<button class="btn btn-primary" ng-click="cancel()">Cancel</button>
					</td>	
				</tr>
			</table>
	</form>
</div>
  
  
 <!--  <div barcode-generator="D000123" style="height:208px;">
  <p>hiiii</p>
</div> -->