<div ng-controller="storeRunsheet">
	<form ng-submit="getRunSheet()">
		<table class="table table-hover table-bordered" style="width:100%">
			<tr>
				<td>
					<b>Logged Store Name:</b><input type="text" disabled ng-model="name" class="form-control">
				</td>
				<td>
					<b>Reporting Store:</b><input type="text" ng-model="obj.storeName" typeahead="obj.name for obj in stores|filter:$viewValue |limitTo:4" class="form-control">
				</td>
				<td>
					<b>From Date:</b><input type="date" ng-model="obj.fromDate" class="form-control">
				</td>
				<td>
					<b>To Date:</b><input type="date" ng-model="obj.toDate" class="form-control">
				</td>
				<td>
					<b>Order Type:</b><input type="text" ng-model="obj.orderType" class="form-control" typeahead="type for type in ['Delivery','Collect']">
				</td>
				<td>
					<button type="submit" class="btn btn-primary">Show</button>
					<button type="button" class="btn btn-default">Clear</button>
				</td>
			</tr>
		</table>
	</form>
	<table class="table table-hover table-bordered" style="width:100%">
		<tr class="info">
			<td><b>Runsheet Number</b></td>
			<td><b>Total Shipment</b></td>
			<td><b>Total Prepaid Delivered</b></td>
			<td><b>Total Prepaid Pending</b></td>
			<td><b>Total COD</b></td>
			<td><b>Total COD Delivered</b></td>
			<td><b>Total COD UnDelivered</b></td>
			<td><b>Total COD Collect (Rs.)</b></td>
			 
		</tr>
		<tr ng-repeat="detail in details">
			<td><a ng-click="loadByRunSheet(detail.runsheetNumber,detail.runsheetStatus)">{{detail.runsheetNumber}}</a></td>
			<td>{{detail.totalOrders}}</td>
			<td>{{detail.totalPrepaidDelivered}}</td>
			<td>{{detail.totalPrepaidPending}}</td>
			<td>{{detail.totalCOD}}</td>
			<td>{{detail.totalCODDelivered}}</td>
			<td>{{detail.totalCODPending}}</td>
			
			<td>{{detail.codCollected}}</td>
		 
		</tr>
	</table>
</div>