

<div class="nav-bg">


	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
	  <div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <!-- <a class="navbar-brand" href="{{navigationDetail.homeUrl}}">{{navigationDetail.brandName}}</a> -->
	    </div>

	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav nav-pills">
	      <!-- 	<li data-ng-repeat="menuDetail in navigationDetail.leftMenu | orderBy:'order'" ng-class="{'active' : navigationDetail.activeMenuId == menuDetail.menuId } "><a href="{{menuDetail.url}}">{{menuDetail.name}}</a></li> -->
	      </ul>	
	      <ul class="nav navbar-nav">
	       <!--  <li class="active"><a href="#">Link</a></li>
	        <li><a href="#">Link</a></li> -->
	        <li class="dropdown" data-ng-repeat="menuDet in navigationDetail.headings">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{menuDet.name}} <b class="caret"></b></a>
	          <ul class="dropdown-menu" >
	           <!--  <li ng-repeat="album in menuDet.rights">{{album.name}}</li> -->
	           
	            <li ng-repeat="album in menuDet.rights"><a ui-sref="{{album.url}}">{{album.name}}</a></li>
	            <li class="dropdown-submenu" ng-repeat="alb in menuDet.submenu"><a tabindex="-1" href="#">{{alb.name}}</a>
	           		 <ul style=" top:0;
    							left:100%;
    							margin-top:-6px;
   								 margin-left:-1px;
  								  -webkit-border-radius:0 6px 6px 6px;
      							 -moz-border-radius:0 6px 6px 6px;
         							   border-radius:0 6px 6px 6px;"class="dropdown-menu">
             						  	 <li ng-repeat="alb1 in alb.internaldata"><a  ui-sref="{{alb1.url}}">{{alb1.data}}</a></li>
             						  	 
                           				<!--  <li><a ui-sref="area">Area</a></li> -->
                           				 
           							</ul>
           							</li>
	          </ul>
	        </li>
	      </ul>
	   
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>
</div>