
  <header class="header">
  
   
  
  
<div class="nav-bg">
	<a class="logo" style="background-color:white">
          <img src="taykit.png"  alt="User Image" />
                <!-- Add the class icon to your logo image or logo icon to add the margining -->
              
            </a>

	<nav class="navbar navbar-static-top" role="navigation">
	  
	    <!-- Brand and toggle get grouped for better mobile display -->
	   <!--  <div class="navbar-header">
	      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="{{navigationDetail.homeUrl}}">{{navigationDetail.brandName}}</a>
	    </div> -->

	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="navbar-right" >
	     <!--  <ul class="nav navbar-nav">
	      	<li data-ng-repeat="menuDetail in navigationDetail.leftMenu | orderBy:'order'" ng-class="{'active' : navigationDetail.activeMenuId == menuDetail.menuId } "><a href="{{menuDetail.url}}">{{menuDetail.name}}</a></li>
	      </ul>	 -->
	      <ul class="nav navbar-nav">
	       <!--  <li class="active"><a href="#">Link</a></li>
	        <li><a href="#">Link</a></li> -->
	        <li class="dropdown" data-ng-repeat="menuDet in navigationDetail.headings">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{menuDet.name}} <b class="caret"></b></a>
	          
	          		
	          
	          
	          <ul class="dropdown-menu" >
	           <!--  <li ng-repeat="album in menuDet.rights">{{album.name}}</li> -->
	           
	            <li ng-repeat="album in menuDet.rights"><a ui-sref="{{album.url}}">{{album.name}}</a></li>
	            <li class="dropdown-submenu" ng-repeat="alb in menuDet.submenu"><a tabindex="-1" href="#">{{alb.name}}</a>
	           		 <ul style=" top:0;
    							left:100%;
    							margin-top:-6px;
   								 margin-left:-1px;
  								  -webkit-border-radius:0 6px 6px 6px;
      							 -moz-border-radius:0 6px 6px 6px;
         							   border-radius:0 6px 6px 6px;"class="dropdown-menu">
             						  	 <li ng-repeat="alb1 in alb.internaldata"><a tabindex="-1" ui-sref="city">{{alb1.data}}</a></li>
             						  	 
                           				<!--  <li><a ui-sref="area">Area</a></li> -->
                           				 
           							</ul>
           							
           							
           							
	            
	         
	          </ul>
	          		
	          			
	        </li>
	        		
	        		<li class="dropdown user user-menu">
                            <a href="" class="dropdown-toggle" >
                                <i class="glyphicon glyphicon-user"></i>
                                <span>Podo <i class="caret"></i></span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- User image -->
                                <li class="user-header bg-light-blue">
                                    <!-- <img src="img/avatar3.png" class="img-circle" alt="User Image" /> -->
                                    <p>
                                       USER
                                        <small>Member since Nov. 2012</small>
                                    </p>
                                </li>
                                <!-- Menu Body -->
                                <li class="user-body">
                                    <div class="col-xs-4 text-center">
                                        <a href="">Followers</a>
                                    </div>
                                    <div class="col-xs-4 text-center">
                                        <a href="">Sales</a>
                                     </div> 
                                    <div class="col-xs-4 text-center">
                                        <a href="">Friends</a>
                                    </div>
                                </li>
                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <a href="" class="btn btn-default btn-flat">Profile</a>
                                    </div>
                                   <form action="logout" >
                                    <div class="pull-right">
                                          <button type='submit' class="btn btn-default btn-flat">Sign out</button>
                                    </div>
                                    </form>
                                </li>
                            </ul>
                        </li>	
           								
	      </ul>
	   
	    </div><!-- /.navbar-collapse -->
	  
	</nav>
</div>
</header>