<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<div  ng-controller="outwardRetursTodeliveryBoys">


<form ng-submit="CreatOrderAPI()" method="POST">
<fieldset style="width:350px">
<table>
<tr>
<td>Tracking_id</td>
<td><input type="text" name="trackingId" ng-model = "obj.trackingId"></td>
</tr>
<tr>
<td>Order_id</td><td><input type="text" name="orderId" ng-model = "obj.orderId"></td>
</tr>
<tr>
<td>Quantity</td><td><input type="text" name="quantity" ng-model = "obj.quantity"></td>
</tr>
<tr>
<tr>
<td>Category</td><td> <input type="text" name="category" ng-model = "obj.category"></td>
</tr>
<tr>
<td>Payment_type</td><td><input type="text" name="paymentType" ng-model = "obj.paymentType"></td>
</tr>
<tr>
<td>Value</td><td><input type="text" name="orderValue" ng-model = "obj.orderValue"></td>
</tr>
<tr>
<td>Name</td><td><input type="text" name="customerName" ng-model = "obj.customerName"></td>
</tr>
<tr>
<td>Email</td><td><input type="text" name="customerEmail" ng-model = "obj.customerEmail">
</td>
</tr>
<tr>
<td>Address</td><td><input type="text" name="customerAddress" ng-model = "obj.customerAddress"></td>
</tr>
<tr>
<td>City</td><td><input type="text" name="cityName" ng-model = "obj.cityName"></td>
</tr>
<tr>
<td>Mobile</td><td><input type="text" name="customerMobile" ng-model = "obj.customerMobile"></td>
</tr>
<tr>
<td>Zipcode</td><td><input type="text" name="customerZipcode" ng-model = "obj.customerZipcode"></td>
</tr>
<tr>
<td><input type="submit" value="SAVE"></td>
</table>
</fieldset>
</form>






</div>
</body>
</html>