<div style="margin-top:80px; margin-right:20px;" class="box box-success"ng-controller="productController">

							<a ui-sref="addcustomer">
   									<button style=margin-top:20px; class="btn btn-hg btn-primary">
  									ADD CUSTOMER
									</button>
							  </a>
							<a ui-sref="updateCustomer">
   									<button style=margin-top:20px; class="btn btn-hg btn-primary">
  									EDIT CUSTOMER
									</button>
							  </a>
							
							  
							 <div style=margin-top:20px ng-controller="customerController">	
					<strong>Search:&nbsp;&nbsp;</strong><input type="text" ng-model="filterOptions.filterText" />
						
					
							
					<hr>
          
 							 <div style=" border: 1px solid rgb(212,212,212);
   								 width: 1000px; 
    								height: 200px;" ng-grid="gridCustomer"></div>
    								
    								</div>
</div>
	