 
<script type="text/ng-template" id="denomination.html">
	 
        <div class="modal-header">
            <h3 class="modal-title" align="center">Please Enter Denominations</h3>
        </div>
        <div class="modal-body" style="width:"50px";height:"400px">
<table class="table table-hover" align="center" style="width:150px">
<tr>
<td><b>Amount for Denominations</b></td>
</tr>
<tr>
<td align="center">{{amountToRecieve}}</td>

</tr>
</table>
			<form>
             <table align="center" border="0" cellspacing="10">
				<tr>
					<td><b>1000's</b></td>
					<td><input type="number" ng-value='0' ng-model="expense.denomination1000" autofocus>
                           {{expense.denomination1000*1000}}
				</tr>
				<tr>
					<td><b>500's</b></td>
					<td><input type="number" ng-value='0' ng-model="expense.denomination500">
                         {{expense.denomination500*500}}
				</tr>
				<tr>
					<td><b>100's</b></td>
					<td><input type="number" ng-value='0' ng-model="expense.denomination100">
                                   {{expense.denomination100*100}}
				</tr>
				<tr>
					<td><b>50's</b></td>
					<td><input type="number" ng-value='0' ng-model="expense.denomination50">
                                 {{expense.denomination50*50}}
				</tr>
				<tr>
					<td><b>20's</b></td>
					<td><input type="number" ng-value='0' ng-model="expense.denomination20">
                                 {{expense.denomination20*20}}
				</tr>
				<tr>
					<td><b>10's</b></td>
					<td><input type="number" ng-value='0' ng-model="expense.denomination10">
                                {{expense.denomination10*10}}
				</tr>
				<tr>
					<td><b>5's</b></td>
					<td><input type="number" ng-value='0' ng-model="expense.denomination5">
                                  {{expense.denomination5*5}}
				</tr>
				<tr>
					<td><b>2's</b></td>
					<td><input type="number" ng-value='0' ng-model="expense.denomination2">
                                {{expense.denomination2*2}}
				</tr>
				<tr>
					<td><b>1's</b></td>
					<td><input type="number" ng-value='0' ng-model="expense.denomination1">
                          {{expense.denomination1*1}}
				</tr>
			 </table>
        </div>
        <div class="modal-footer">
            <button class="btn btn-warning" ng-click="ok(expense)">OK</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
		</form>
	</div>
	 
    </script>